@model AisLogistics.DataLayer.Common.Dto.Reference.ServiceStageModelDto
@{
}

<form asp-controller="Reference" asp-action="ServiceStageSave" id="sendingForm" method="post" role="form">
    @Html.HiddenFor(m => m.SServicesId)
    @Html.HiddenFor(m => m.ParentId)

    <div class="form-body pt-1 pb-4">
        <fieldset>
            <div class="row">
                <div class="col-12 mb-3">
                    <label class="form-label" asp-for="SRoutesStageId">Этап</label>
                    <select asp-for="SRoutesStageId" asp-items="@ViewBag.Stages" class="form-control">
                        <option disabled selected value="">Не задано</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-3">
                    <label class="form-label" asp-for="Commentt">Комментарий</label>
                    <textarea asp-for="Commentt" rows="3" class="form-control" placeholder="Комментарий"></textarea>
                </div>
            </div>
        </fieldset>
    </div>
</form>

<script>
    $(function() { 
        $('#SRoutesStageId').select2({ dropdownParent: $('#mainModal') });

        FormValidation.formValidation(document.getElementById('sendingForm'),
        {
            fields: {
                SRoutesStageId: {
                    validators: {
                        notEmpty: {
                            message: '@MessageDescription.FieldIsRequired'
                        },
                    }
                },
                Commentt: {
                    validators: {
                        stringLength: {
                            max: 255,
                            message: '@MessageDescription.CommentLengthOutOfRange'
                        }
                    }
                },
            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                submitButton: new FormValidation.plugins.SubmitButton(),
                bootstrap5: new FormValidation.plugins.Bootstrap5(),
                autoFocus: new FormValidation.plugins.AutoFocus()
            }
        }).on('core.form.valid', function() {
            var $form = $("#sendingForm");
            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: $form.serialize(),
                dataType: 'json',
                beforeSend: () => {
                    $form.spinnerBtn("start");
                },
                complete: () => {
                    var $updTable = $(`#${$table.attr("id")}@(Model.PrevParentId == default(Guid) ? "" : Model.PrevParentId.ToString())`);
                    $updTable.DataTable().ajax.reload(function() { $('#accbtn@(Model.ParentId)').click(); }, false);

                    $form.spinnerBtn("stop");
                    $("#mainModal").modal('hide');
                }
            });

            return false;
        });
    })
</script>