@using SmevRouter
@model AisLogistics.App.ViewModels.Cases.SmevCreateResponseModel
@{
    var request = new GetSprispnpRequestData
            {
                PersonFio = new FioType(),
                Address = new FnsSprispnpAddress()
            };
}
<style>
    #smev-data-form-content .applicants + span .select2-selection.select2-selection--single {
        background-color: #e5edfc !important;
    }
</style>
 <div class="row mb-2 justify-content-center">
            <div class="col-12 mx-auto">
                <div class="divider text-start">
                    <div class="divider-text fs-5 b-s-16">Сведения о налогоплательщике, в отношении которого осуществляется запрос</div>
                </div>
            </div>
        </div>
<div class="row justify-content-center" id="smev_request">
    <div class="col-8">
       
        <div class="row mb-2 justify-content-center">
            <div class="col-2">
                <label class="form-label" asp-for="@request.ContragentType">Тип заявителя</label>
                <select class="select2-nosearch" asp-for="@request.ContragentType">
                    <option value="Fl">ФЛ</option>
                    <option value="Ul">ЮЛ</option>
                </select>
            </div>
            <div class="col-10">
                <label class="form-label" asp-for="@request.CodeTaxAuthority">Отделение ФНС</label>
                <select class="select2-search required" asp-for="@request.CodeTaxAuthority"
                        data-dictionary='{"dictionary":"CodeTaxAuthority"}'>
                        <option value="">Не выбрано</option>
                </select>
            </div>
        </div>
        <div data-fl>
            <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" asp-for="@request.PersonFio.LastName">Фамилия</label>
                    <input type="text" class="form-control required" asp-for="@request.PersonFio.LastName" placeholder="Фамилия">
                </div>
                <div class="col-4">
                    <label class="form-label" asp-for="@request.PersonFio.FirstName">Имя</label>
                    <input type="text" class="form-control required" asp-for="@request.PersonFio.FirstName" placeholder="Имя">
                </div>
                <div class="col-4">
                    <label class="form-label" asp-for="@request.PersonFio.SecondName">Отчество</label>
                    <input type="text" class="form-control" asp-for="@request.PersonFio.SecondName" placeholder="Отчество">
                </div>
            </div>
            <div class="row justify-content-center mb-2">
                <div class="col-6">
                    <label class="form-label" asp-for="@request.PersonDocCode">Документ, удостоверяющий личность</label>
                    <select class="select2-nosearch" asp-for="@request.PersonDocCode">
                        <option value="">Не выбрано</option>
                        <option value="RfPassport">Паспорт гражданина РФ</option>
                        <option value="FidDoc">Паспорт иностранного гражданина</option>
                        <option value="FrgnPass">Заграничный паспорт</option>
                    </select>
                </div>
                <div class="col-3">
                    <label class="form-label" asp-for="@request.PersonDocSeriesNumber">Серия Номер</label>
                    <input class="form-control required" placeholder="Серия Номер" asp-for="@request.PersonDocSeriesNumber">
                </div>
                <div class="col-3">
                    <label class="form-label" asp-for="@request.PersonInn">ИНН ФЛ</label>
                    <input class="form-control required" placeholder="ИНН" asp-for="@request.PersonInn">
                </div>
            </div>
        </div>
        <div class="row mb-2 justify-content-center" data-disabled data-ip-ul>
            <div class="col-6">
                <label class="form-label" asp-for="@request.LegalName">Полное наименование юридического лица</label>
                <input type="text" class="form-control required" placeholder="Полное наименование юридического лица" asp-for="@request.LegalName">
            </div>
            <div class="col-3">
                <label class="form-label" asp-for="@request.LegalInn">ИНН</label>
                <input class="form-control required" placeholder="ИНН" asp-for="@request.LegalInn" type="text">
            </div>
            <div class="col-3">
                <label class="form-label" asp-for="@request.LegalKpp">КПП</label>
                <input class="form-control required" asp-for="@request.LegalKpp" placeholder="КПП" type="text">
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-12 mx-auto">
                <div class="divider text-start">
                    <div class="divider-text fs-5 b-s-16">Адрес</div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mb-2">
            <div class="col-4">
                <label class="form-label" asp-for="@request.Address.Index">Индекс</label>
                <input type="text" class="form-control required" asp-for="@request.Address.Index">
            </div>
            <div class="col-4">
                <label class="form-label" asp-for="@request.Address.RegionCode">Регион</label>
                <select class="select2-search required" asp-for="@request.Address.RegionCode"
                        data-dictionary='{"dictionary":"FnsRegionCodes"}'>
                </select>
            </div>

            <div class="col-4">
                <label class="form-label" asp-for="@request.Address.District">Район</label>
                <input type="text" class="form-control" asp-for="@request.Address.District">
            </div>
        </div>
        <div class="row justify-content-center mb-2">
            <div class="col-4">
                <label class="form-label" asp-for="@request.Address.Town">Город</label>
                <input type="text" class="form-control" asp-for="@request.Address.Town">
            </div>
            <div class="col-4">
                <label class="form-label" asp-for="@request.Address.Locality">Населенный пункт</label>
                <input type="text" class="form-control" asp-for="@request.Address.Locality">
            </div>
            <div class="col-4">
                <label class="form-label" asp-for="@request.Address.Street">Улица</label>
                <input type="text" class="form-control" asp-for="@request.Address.Street">
            </div>
        </div>
        <div class="row justify-content-center mb-2">
            <div class="col-4">
                <label class="form-label" asp-for="@request.Address.House">Дом</label>
                <input type="text" class="form-control" asp-for="@request.Address.House">
            </div>
            <div class="col-4">
                <label class="form-label" asp-for="@request.Address.Housing">Корпус</label>
                <input type="text" class="form-control" asp-for="@request.Address.Housing">
            </div>
            <div class="col-4">
                <label class="form-label" asp-for="@request.Address.Apartment">Квартира</label>
                <input type="text" class="form-control" asp-for="@request.Address.Apartment">
            </div>
        </div>
    </div>
</div>


<script>

    function ShowErrorInputs() {
    }
    var formContent = document.getElementById("smev-data-form-content"),
        smevForm = {
            init: () => {
                $(formContent).find('.required').each(function() {
                    addValidation($(this));
                });

                $(formContent).find('[data-disabled]').each(function() {
                    visibilityBlock($(this), true, true);
                });
                let options = { clearIncomplete: true, showMaskOnHover: false };

                $('[data-ip-ul]').hide();

                (function getDictionaries() {
                    let dicts = new Set();
                    $('[data-dictionary]').each(function() {
                        let $this = $(this);
                        let options = $this.data('dictionary');
                        if (!dicts.has(options.dictionary)) {
                            dicts.add(options.dictionary);
                            $.post(`/SmevBase/SmevGetDictionary`,
                                {
                                    type: options.dictionary
                                },
                                function(dictionary) {
                                    if (dictionary.error) return;
                                    fillSelect(options.dictionary, dictionary);
                                });
                        }
                    });
                }());

                function fillSelect(dictName, dictionary) {
                    $.each($(`[data-dictionary*='"${dictName}"']`),
                        function() {
                            let $this = $(this);
                            let items = dictionary;
                            $this.empty();
                            if (!$this.hasClass('required')) {
                                $this.append(new Option('Не выбрано', ''));
                            }
                            if ($this.is('[data-value-value]')) {
                                items.dictionary.forEach(function(item) {
                                    $this.append(new Option(item.value, item.value));
                                });
                            } else {
                                items.dictionary.forEach(function(item) {
                                    $this.append(new Option(item.value, item.key));
                                });
                            }

                            if ($this.data('dictionary').default_value) {
                                let defVal = $this.data('dictionary').default_value;
                                if (defVal) {
                                    $this.val(defVal).trigger('update');
                                    $this.attr('data-def', defVal);
                                }
                            } else {
                                $this.val('').trigger('update');
                            }
                        });
                }



                /* init inputmask */
                $(formContent).find('[name$="PersonDocSeriesNumber"]').inputmask("9{4}   9{6}", options);
                $(formContent).find('[name$="PersonInn"]').inputmask("9{12}", options);
                $(formContent).find('[name$="LegalInn"]').inputmask("9{10}", options);
                $(formContent).find('[name$="LegalKpp"]').inputmask("9{9}", options);
                $(formContent).find('[name$="Index"]').inputmask("9{6}", options);



                $(formContent).find("select.select2-nosearch").each(function() {
                    $(this).select2({
                        dropdownParent: $("#mainModal"),
                        minimumResultsForSearch: Infinity
                    });
                });

                $(formContent).find("select.select2-search").each(function() {
                    $(this).select2({
                        dropdownParent: $("#mainModal")
                    });
                });

                $(formContent).find('[name$="PersonDocCode"]').on('change',
                    function() {
                        let options = { clearIncomplete: true, showMaskOnHover: false };
                        let $seriesNnumber = $(formContent).find('[name$="PersonDocSeriesNumber"]');
                        switch ($(this).val()) {
                            case 'RfPassport':
                                $seriesNnumber.inputmask("9{4} 9{6}", options);
                                break;
                            case 'FidDoc':
                                $seriesNnumber.inputmask("", options);
                                break;
                            case 'FrgnPass':
                                $seriesNnumber.inputmask("9{2} 9{7}", options);
                                break;
                        }
                    });

            }
        };

    function visibilityBlock($block, hide, isDisabled) {
        switch (hide) {
            case true:
                if ($block.hasClass('accordion')) {
                    $block.find('.accordion-body').hide();
                } else {
                    $block.hide();
                }
                break;
            case false:
                if ($block.hasClass('accordion')) {
                    $block.find('.accordion-body').show();
                } else {
                    $block.show();
                }
                break;
        }

        switch (isDisabled) {
            case true:
                $block.find('input, select').each(function() {
                    if ($(this).attr('name') in SmevDataFormValidation.fields) {
                        removeValidation($(this));
                    }
                    $(this).prop('disabled', true);
                });
                break;
            case false:
                $block.find('input, select').each(function() {
                    $(this).prop('disabled', false);
                    if ($(this).hasClass('required')) {
                        addValidation($(this));
                    }
                });
                $block.find('[data-disabled]').each(function() {
                    visibilityBlock($(this), true, true);
                });
                break;
        }
    }

    $(formContent).find('[name$="ContragentType"]').on('change',
        function() {
            switch ($(this).val()) {
                case 'Fl':
                    visibilityBlock($('[data-fl]'), false, false);
                    visibilityBlock($('[data-ip-ul]'), true, true);
                    $('[data-fl] input').val('');
                    $('[data-fl] select').val('');
                    break;

                case 'Ul':
                    visibilityBlock($('[data-fl]'), true, true);
                    visibilityBlock($('[data-ip-ul]'), false, false);
                    $('[data-ip-ul] input').val('');
                    $('[data-ip-ul] select').val('');
                    break;
            }
        });


</script>
