@model AisLogistics.App.Models.AdditionalForms.FnsKnd1153006Model
@{
    IEnumerable<SelectListItem> numberTypeList = new List<SelectListItem>
    {
        new ("не выбрано", ""),
        new("кадастровый", "1"),
        new("условный", "2"),
        new("инвентарный", "3")
    };

    IEnumerable<SelectListItem> customerTypeList = new List<SelectListItem> {
        new ("налогоплательщик", "1"),
        new ("представитель налогоплательщика", "2")
    };

    IEnumerable<SelectListItem> realEstateTypeList = new List<SelectListItem> {
        new ("не выбрано", ""),
        new ("Земельный участок", "1"),
        new ("Жилой дом", "2"),
        new ("Квартира", "3"),
        new ("Комната", "4"),
        new ("Гараж (машино-место)", "5"),
        new ("Объект незавершенного строительства", "6"),
        new ("Иное помещение, здание, сооружение", "7"),
    };

    IEnumerable<SelectListItem> rightDocTypeList = new List<SelectListItem> {
        new ("не выбрано", ""),
        new ("свидетельство о государственной регистрации права", "1"),
        new ("свидетельство о праве собственности, праве постоянного (бессрочного) пользования, праве пожизненного наследуемого владения", "2"),
        new ("свидетельство о праве на наследство", "3"),
        new ("акт (решение, постановление) органа местного самоуправления", "4"),
        new ("иное", "5"),
    };

    IEnumerable<SelectListItem> vehicleTypeList = new List<SelectListItem> {
        new ("не выбрано", ""),
        new ("автомобиль легковой", "01"),
        new ("автомобиль грузовой", "02"),
        new ("автобус", "03"),
        new ("мотоцикл", "04"),
        new ("мотороллер", "05"),
        new ("снегоход", "06"),
        new ("трактор", "07"),
        new ("мотосани", "08"),
        new ("вертолет", "09"),
        new ("самолет", "10"),
        new ("теплоход", "11"),
        new ("яхта", "12"),
        new ("катер", "13"),
        new ("гидроцикл", "14"),
        new ("моторная лодка", "15"),
        new ("иное", "16"),
    };
}

<div id="additional-data-content">
    <div class="row g-3">
        <div class="col-8 mx-auto">
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="CustomerType">Тип заявителя</label>
                    <select class="select2-nosearch" asp-items="@customerTypeList" asp-for="CustomerType"></select>
                </div>
            </div>
            <h5 class="my-2">Заявитель</h5>
            <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" asp-for="CustomerFio.LastName">Фамилия</label>
                    <input type="text" asp-for="CustomerFio.LastName" class="form-control" placeholder="Фамилия">
                </div>
                <div class="col-4">
                    <label class="form-label" asp-for="CustomerFio.FirstName">Имя</label>
                    <input type="text" asp-for="CustomerFio.FirstName" class="form-control" placeholder="Имя">
                </div>
                <div class="col-4">
                    <label class="form-label" asp-for="CustomerFio.SecondName">Отчество</label>
                    <input type="text" asp-for="CustomerFio.SecondName" class="form-control" placeholder="Отчество">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" asp-for="BirthDate">Дата рождения</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">
                            <i class="bi bi-calendar3"></i>
                        </span>
                        <input asp-for="BirthDate" type="text"
                               class="form-control pickdate" placeholder="Дата рождения">
                    </div>
                </div>
                <div class="col-4">
                    <label class="form-label" asp-for="Inn">ИНН</label>
                    <input type="text" asp-for="Inn" class="form-control" placeholder="ИНН">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="BirthPlace">Место рождения</label>
                    <input type="text" asp-for="BirthPlace" class="form-control" placeholder="Место рождения">
                </div>
            </div>
            <div id="docBlock">
                <h6 class="my-2">Документ, удостоверяющий личность</h6>
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" asp-for="DocCode">Тип документа</label>
                        <select class="select2-nosearch" asp-for="DocCode"
                                data-dictionary='{"dictionary":"FnsDocTypes", "default_value":"@Model.DocCode"}'>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-8">
                        <label class="form-label" asp-for="DocSeriesNumber">Серия и номер</label>
                        <input type="text" class="form-control" placeholder="Серия и номер" asp-for="DocSeriesNumber">
                    </div>
                    <div class="col-4">
                        <label class="form-label" asp-for="DocIssueDate">Дата выдачи</label>
                        <div class="input-group input-group-merge">
                            <span class="input-group-text">
                                <i class="bi bi-calendar3"></i>
                            </span>
                            <input asp-for="DocIssueDate" type="text"
                                   class="form-control pickdate" placeholder="Дата выдачи">
                        </div>
                    </div>
                    <div class="col-12">
                        <label class="form-label" asp-for="DocIssuer">Кем выдан</label>
                        <input type="text" class="form-control" placeholder="Кем выдан" asp-for="DocIssuer">
                    </div>
                </div>
            </div>

            <div id="representativeBlock" data-disabled>
                <h5 class="my-2">Представитель</h5>
                <div class="row mb-1">
                    <div class="col-4">
                        <label class="form-label" asp-for="RepresentativeFio.LastName">Фамилия</label>
                        <input type="text" asp-for="RepresentativeFio.LastName" class="form-control" placeholder="Фамилия">
                    </div>
                    <div class="col-4">
                        <label class="form-label" asp-for="RepresentativeFio.FirstName">Имя</label>
                        <input type="text" asp-for="RepresentativeFio.FirstName" class="form-control" placeholder="Имя">
                    </div>
                    <div class="col-4">
                        <label class="form-label" asp-for="RepresentativeFio.SecondName">Отчество</label>
                        <input type="text" asp-for="RepresentativeFio.SecondName" class="form-control" placeholder="Отчество">
                    </div>
                </div>
            </div>

            <h5 class="my-2">Сведения об объектах недвижимости</h5>
            <div id="realEstateList" data-clone-list>
                @for (var i = 0; i < Model.RealEstateList.Length; i++)
                {
                    <div class="g-3" id="clone@(i)" data-id="@i" data-clone>
                        <hr />
                        <h6 class="my-2 title">Объект недвижимости @(i+1)</h6>
                        <div class="row mb-1 align-items-center">
                            <div class="col-11">
                                <div class="row mb-1">
                                    <div class="col-6">
                                        <label class="form-label" asp-for="RealEstateList[i].Type">Вид объекта недвижимости</label>
                                        <select class="select2-nosearch" asp-items="@realEstateTypeList" asp-for="RealEstateList[i].Type"></select>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <label class="form-label" asp-for="RealEstateList[i].NumberType">Тип номера</label>
                                        <select class="select2-nosearch" asp-items="@numberTypeList" asp-for="RealEstateList[i].NumberType"></select>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label" asp-for="RealEstateList[i].Number">Номер</label>
                                        <input type="text" class="form-control" placeholder="Номер" asp-for="RealEstateList[i].Number">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <label class="form-label" asp-for="RealEstateList[i].RightDocType">Вид правоустанавливающего(правоудостоверяющего) документа</label>
                                        <select class="select2-nosearch" onchange="rightDocChange(this)" asp-items="@rightDocTypeList" asp-for="RealEstateList[i].RightDocType"></select>
                                    </div>
                                    @if (Model.RealEstateList[i].RightDocType == "5")
                                    {
                                        <div class="col-6" id="rightDocOther@(i)">
                                            <label class="form-label" asp-for="RealEstateList[i].RightDocOther">Иной вид правоустанавливающего документа</label>
                                            <input type="text" class="form-control" placeholder="" asp-for="RealEstateList[i].RightDocOther">
                                        </div>
                                    }
                                </div>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <label class="form-label" asp-for="RealEstateList[i].RightDocIssuer">Орган, выдавший правоустанавливающий (правоудостоверяющий) документ</label>
                                        <input type="text" class="form-control" placeholder="Орган, выдавший правоустанавливающий (правоудостоверяющий) документ" asp-for="RealEstateList[i].RightDocIssuer">
                                    </div>
                                </div>
                            </div>
                            <div class="col-1">
                                <button type="button" class="btn btn-danger" onclick="blockRemove(this)"><i class="bi bi-trash bx-md"></i></button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row justify-content-center">
                <div class="col-2">
                    <button type="button" class="btn btn-primary" id="addRealEstate"><i class="bi bi-plus"></i></button>
                </div>
            </div>
            <hr />

            <h5 class="my-2">Сведения о транспортных средствах</h5>
            <div id="vehicleList" data-clone-list>
                @for (var i = 0; i < Model.VehicleList.Length; i++)
                {
                    <div class="g-3" id="vehicle" data-clone>
                        <hr />
                        <h6 class="my-2 title">Транспортное средство @(i+1)</h6>
                        <div class="row mb-1 align-items-center">
                            <div class="col-11">
                                <div class="row mb-1">
                                    <div class="col-6">
                                        <label class="form-label" asp-for="VehicleList[i].Type">Вид транспортного средства</label>
                                        <select class="select2-nosearch" onchange="vehicleTypeChange(this)" asp-items="@vehicleTypeList" asp-for="VehicleList[i].Type"></select>
                                    </div>
                                    @if (Model.VehicleList[i].Type == "16")
                                    {
                                        <div class="col-6" id="typeOther@(i)">
                                            <label class="form-label" asp-for="VehicleList[i].TypeOther">Иной вид транспортного средства</label>
                                            <input type="text" class="form-control" placeholder="Иной вид транспортного средства" asp-for="VehicleList[i].TypeOther">
                                        </div>
                                    }
                                </div>
                                <h6 class="my-2">Реквизиты паспорта транспортного средства</h6>
                                <div class="row mb-3">
                                    <div class="col-8">
                                        <label class="form-label" asp-for="VehicleList[i].SeriesNumber">Серия и номер</label>
                                        <input type="text" class="form-control" placeholder="Номер" asp-for="VehicleList[i].SeriesNumber">
                                    </div>
                                    <div class="col-4">
                                        <label class="form-label" asp-for="VehicleList[i].IssueDate">Дата выдачи</label>
                                        <div class="input-group input-group-merge">
                                            <span class="input-group-text">
                                                <i class="bi bi-calendar3"></i>
                                            </span>
                                            <input asp-for="VehicleList[i].IssueDate" type="text"
                                               class="form-control pickdate" placeholder="Дата выдачи">
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <label class="form-label" asp-for="VehicleList[i].Id">Идентификационный номер транспортного средства</label>
                                        <input type="text" class="form-control" placeholder="Идентификационный номер транспортного средства" asp-for="VehicleList[i].Id">
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label" asp-for="VehicleList[i].Brand">Марка (модель) транспортного средства</label>
                                        <input type="text" class="form-control" placeholder="Марка (модель) транспортного средства" asp-for="VehicleList[i].Brand">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-4">
                                        <label class="form-label" asp-for="VehicleList[i].RegSign">Регистрационный знак транспортного средства</label>
                                        <input type="text" class="form-control" placeholder="Регистрационный знак транспортного средства" asp-for="VehicleList[i].RegSign">
                                    </div>
                                    <div class="col-4">
                                        <label class="form-label" asp-for="VehicleList[i].RegDate">Дата регистрации транспортного средства</label>
                                        <div class="input-group input-group-merge">
                                            <span class="input-group-text">
                                                <i class="bi bi-calendar3"></i>
                                            </span>
                                            <input asp-for="VehicleList[i].RegDate" type="text"
                                               class="form-control pickdate" placeholder="Дата регистрации транспортного средства">
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <label class="form-label" asp-for="VehicleList[i].RegRemoveDate">Дата снятия с учета транспортного средства</label>
                                        <div class="input-group input-group-merge">
                                            <span class="input-group-text">
                                                <i class="bi bi-calendar3"></i>
                                            </span>
                                            <input asp-for="VehicleList[i].RegRemoveDate" type="text"
                                               class="form-control pickdate" placeholder="Дата снятия с учета транспортного средства">
                                        </div>
                                    </div>
                                </div>
                                <h6 class="my-2"> Сведения о документе, подтверждающем регистрацию транспортного средства</h6>
                                <div class="row mb-3">
                                    <div class="col-8">
                                        <label class="form-label" asp-for="VehicleList[i].RegDocSeriesNumber">Серия и номер</label>
                                        <input type="text" class="form-control" placeholder="Номер" asp-for="VehicleList[i].RegDocSeriesNumber">
                                    </div>
                                    <div class="col-4">
                                        <label class="form-label" asp-for="VehicleList[i].RegDocIssueDate">Дата выдачи</label>
                                        <div class="input-group input-group-merge">
                                            <span class="input-group-text">
                                                <i class="bi bi-calendar3"></i>
                                            </span>
                                            <input asp-for="VehicleList[i].RegDocIssueDate" type="text"
                                               class="form-control pickdate" placeholder="Дата выдачи">
                                        </div>
                                    </div>
                                </div>
                                <hr />
                            </div>
                            <div class="col-1">
                                <button type="button" class="btn btn-danger" onclick="blockRemove(this)"><i class="bi bi-trash bx-md"></i></button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row justify-content-center">
                <div class="col-2">
                    <button type="button" class="btn btn-primary" id="addVehicle"><i class="bi bi-plus"></i></button>
                </div>
            </div>
            <hr />
        </div>
    </div>
</div>

<div id="originalBlock">
    <div class="g-3" id="realEstate" data-original>
        <hr />
        <h6 class="my-2 title">Объект недвижимости 100</h6>
        <div class="row mb-1 align-items-center">
            <div class="col-11">
                <div class="row mb-1">
                    <div class="col-6">
                        <label class="form-label" asp-for="RealEstateList[0].Type">Вид объекта недвижимости</label>
                        <select class="select2-nosearch" asp-items="@realEstateTypeList" asp-for="RealEstateList[0].Type"></select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label class="form-label" asp-for="RealEstateList[0].NumberType">Тип номера</label>
                        <select class="select2-nosearch" asp-items="@numberTypeList" asp-for="RealEstateList[0].NumberType"></select>
                    </div>
                    <div class="col-6">
                        <label class="form-label" asp-for="RealEstateList[0].Number">Номер</label>
                        <input type="text" class="form-control" placeholder="Номер" asp-for="RealEstateList[0].Number">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label class="form-label" asp-for="RealEstateList[0].RightDocType">Вид правоустанавливающего(правоудостоверяющего) документа</label>
                        <select class="select2-nosearch" onchange="rightDocChange(this)" asp-items="@rightDocTypeList" asp-for="RealEstateList[0].RightDocType"></select>
                    </div>
                    <div class="col-6" id="rightDocOther0" data-disabled>
                        <label class="form-label" asp-for="RealEstateList[0].RightDocOther">Иной вид правоустанавливающего документа</label>
                        <input type="text" class="form-control" placeholder="Номер" asp-for="RealEstateList[0].RightDocOther">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" asp-for="RealEstateList[0].RightDocIssuer">Орган, выдавший правоустанавливающий (правоудостоверяющий) документ</label>
                        <input type="text" class="form-control" placeholder="Орган, выдавший правоустанавливающий (правоудостоверяющий) документ" asp-for="RealEstateList[0].RightDocIssuer">
                    </div>
                </div>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-danger" onclick="blockRemove(this)"><i class="bi bi-trash bx-md"></i></button>
            </div>
        </div>
    </div>
    <div class="g-3" id="vehicle" data-original>
        <hr />
        <h6 class="my-2 title">Транспортное средство 100</h6>
        <div class="row mb-1 align-items-center">
            <div class="col-11">
                <div class="row mb-1">
                    <div class="col-6">
                        <label class="form-label" asp-for="VehicleList[0].Type">Вид транспортного средства</label>
                        <select class="select2-nosearch" onchange="vehicleTypeChange(this)" asp-items="@vehicleTypeList" asp-for="VehicleList[0].Type"></select>
                    </div>
                    <div class="col-6" id="typeOther0" data-disabled>
                        <label class="form-label" asp-for="VehicleList[0].TypeOther">Иной вид транспортного средства</label>
                        <input type="text" class="form-control" placeholder="Иной вид транспортного средства" asp-for="VehicleList[0].TypeOther">
                    </div>
                </div>
                <h6 class="my-2">Реквизиты паспорта транспортного средства</h6>
                <div class="row mb-3">
                    <div class="col-8">
                        <label class="form-label" asp-for="VehicleList[0].SeriesNumber">Серия и номер</label>
                        <input type="text" class="form-control" placeholder="Номер" asp-for="VehicleList[0].SeriesNumber">
                    </div>
                    <div class="col-4">
                        <label class="form-label" asp-for="VehicleList[0].IssueDate">Дата выдачи</label>
                        <div class="input-group input-group-merge">
                            <span class="input-group-text">
                                <i class="bi bi-calendar3"></i>
                            </span>
                            <input asp-for="VehicleList[0].IssueDate" type="text"
                                   class="form-control pickdate" placeholder="Дата выдачи">
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row mb-3">
                    <div class="col-6">
                        <label class="form-label" asp-for="VehicleList[0].Id">Идентификационный номер транспортного средства</label>
                        <input type="text" class="form-control" placeholder="Идентификационный номер транспортного средства" asp-for="VehicleList[0].Id">
                    </div>
                    <div class="col-6">
                        <label class="form-label" asp-for="VehicleList[0].Brand">Марка (модель) транспортного средства</label>
                        <input type="text" class="form-control" placeholder="Марка (модель) транспортного средства" asp-for="VehicleList[0].Brand">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">
                        <label class="form-label" asp-for="VehicleList[0].RegSign">Регистрационный знак транспортного средства</label>
                        <input type="text" class="form-control" placeholder="Регистрационный знак транспортного средства" asp-for="VehicleList[0].RegSign">
                    </div>
                    <div class="col-4">
                        <label class="form-label" asp-for="VehicleList[0].RegDate">Дата регистрации транспортного средства</label>
                        <div class="input-group input-group-merge">
                            <span class="input-group-text">
                                <i class="bi bi-calendar3"></i>
                            </span>
                            <input asp-for="VehicleList[0].RegDate" type="text"
                                   class="form-control pickdate" placeholder="Дата регистрации транспортного средства">
                        </div>
                    </div>
                    <div class="col-4">
                        <label class="form-label" asp-for="VehicleList[0].RegRemoveDate">Дата снятия с учета транспортного средства</label>
                        <div class="input-group input-group-merge">
                            <span class="input-group-text">
                                <i class="bi bi-calendar3"></i>
                            </span>
                            <input asp-for="VehicleList[0].RegRemoveDate" type="text"
                                   class="form-control pickdate" placeholder="Дата снятия с учета транспортного средства">
                        </div>
                    </div>
                </div>
                <h6 class="my-2"> Сведения о документе, подтверждающем регистрацию транспортного средства</h6>
                <div class="row mb-3">
                    <div class="col-8">
                        <label class="form-label" asp-for="VehicleList[0].RegDocSeriesNumber">Серия и номер</label>
                        <input type="text" class="form-control" placeholder="Номер" asp-for="VehicleList[0].RegDocSeriesNumber">
                    </div>
                    <div class="col-4">
                        <label class="form-label" asp-for="VehicleList[0].RegDocIssueDate">Дата выдачи</label>
                        <div class="input-group input-group-merge">
                            <span class="input-group-text">
                                <i class="bi bi-calendar3"></i>
                            </span>
                            <input asp-for="VehicleList[0].RegDocIssueDate" type="text"
                                   class="form-control pickdate" placeholder="Дата выдачи">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-danger" onclick="blockRemove(this)"><i class="bi bi-trash bx-md"></i></button>
            </div>
        </div>
    </div>
</div>

<script>
    var additionalForm = $('#additional-data-content');
    var originalBlock = $('#originalBlock');

    $(function() {
        originalBlock.find('[data-original]').each(function(_, item) {
            renameBlock($(item), 100, true);
            visibilityBlock($(item), true, true);
        });

        additionalForm.find('#addRealEstate').on('click', () => addForm('realEstateList', 'realEstate'));
        additionalForm.find('#addVehicle').on('click', () => addForm('vehicleList', 'vehicle'));

        additionalForm.find('[data-disabled]').each(function() {
            visibilityBlock($(this), true, true);
        });

        select2Init(additionalForm);

        let $doc = additionalForm.find('#docBlock');
        let $inn = additionalForm.find('[name$="Inn"]');
        let options = { clearIncomplete: true, showMaskOnHover: false };
        additionalForm.find('[name$="Phone"]').inputmask("9{1,15}", options);
        additionalForm.find('[name$="Inn"]').inputmask("9{12}", options);

        additionalForm.find(".pickdate").datepicker({
            language: "ru",
            autoclose: true,
        }).inputmask("99.99.9999", options);

        $inn.on('input', function() {

            if ($(this).val()) {
                visibilityBlock($doc, true, true);
            }
            else {
                visibilityBlock($doc, false, false);
            }
        });

        $inn.on('blur', function() {
            if ($inn.val().indexOf('_') > -1) {
                $inn.val('');
                visibilityBlock($doc, false, false);
            }
            $inn.trigger('input');
        });

        if ($inn.val()) {
            visibilityBlock($doc, true, true);
        }
        else {
            visibilityBlock($doc, false, false);
        }

        additionalForm.find('#CustomerType').on('change', function() {
            let $representative = additionalForm.find('#representativeBlock');
            switch ($(this).val()) {
                case '1':
                    visibilityBlock($representative, true, true);
                    break;
                case '2':
                    visibilityBlock($representative, false, false);
                    break;
            }
        });

        additionalForm.find('#CustomerType').trigger('change');

        (function getDictionaries() {
            let dicts = new Set();
            $('[data-dictionary]').each(function() {
                let $this = $(this);
                let options = $this.data('dictionary');
                if (!dicts.has(options.dictionary)) {
                    dicts.add(options.dictionary);
                    $.post(`/SmevBase/SmevGetDictionary`,
                        {
                            type: options.dictionary
                        },
                        function(dictionary) {
                            if (dictionary.error) return;
                            fillSelect(options.dictionary, dictionary);
                        });
                }
            });
        }());

        function fillSelect(dictName, dictionary) {
            $.each($(`[data-dictionary*='"${dictName}"']`),
                function() {
                    let $this = $(this);
                    let items = dictionary;
                    $this.empty();
                    if (!$this.hasClass('required')) {
                        $this.append(new Option('Не выбрано', ''));
                    }
                    if ($this.is('[data-value-value]')) {
                        items.dictionary.forEach(function(item) {
                            $this.append(new Option(item.value, item.value));
                        });
                    } else {
                        items.dictionary.forEach(function(item) {
                            $this.append(new Option(item.value, item.key));
                        });
                    }

                    if ($this.data('dictionary').default_value) {
                        let defVal = $this.data('dictionary').default_value;
                        if (defVal) {
                            $this.val(defVal).trigger('update');
                            $this.attr('data-def', defVal);
                        }
                    } else {
                        $this.val('').trigger('update');
                    }
                });
        }

        function addForm(cloneListId, originalId) { //Динамическое добавление Принимает (Куда Откуда)
            let $cloneList = additionalForm.find(`#${cloneListId}`);
            let $original = originalBlock.find(`#${originalId}`);
            let $cloneBlock = $original.clone(true);
            let indexId = $cloneList.find('[data-clone]').length;
            renameBlock($cloneBlock, indexId);
            blockInit($cloneBlock);
            $cloneList.find("select").each(function() {
                $(this).select2('destroy');
            });
            $cloneList.append($cloneBlock);
            select2Init($cloneList);
        }

        function select2Init($block) {
            $block.find("select.select2-nosearch").each(function() {
                $(this).select2({
                    minimumResultsForSearch: Infinity
                });
            });

            $block.find("select.select2-search").each(function() {
                $(this).select2({
                });
            });
        }

        function blockInit($block) {
            visibilityBlock($block, false, false);

            $block.find("select").each(function() {
                $(this).prop("selectedIndex", 0).trigger('change');
            });
            
            $block.find("input").each(function() {
                $(this).val("");
            });

            $block.find(".pickdate").datepicker({
                language: "ru",
                autoclose: true
            }).inputmask("99.99.9999", options);
        }
    });

    function renameBlock($cloneBlock, indexId, initOriginal = false) {
        if (!initOriginal) {
            $cloneBlock.find('.title').text($cloneBlock.find('.title').text().replace(/\d+/, indexId + 1));
            $cloneBlock.attr("id", `clone${indexId}`);
            $cloneBlock.attr('data-id', indexId);
            $cloneBlock.attr('data-clone', '');
            $cloneBlock.removeAttr('data-original');
        }

        $cloneBlock.find('input, select, div').each(function() {
            $(this).attr('id', $(this).attr('id')?.replace(/\d+/, indexId));
            if ($(this).is('[name]')) {
                $(this).attr('name', $(this).attr('name').replace(/\d+/, indexId));
            }
        });

        $cloneBlock.find('label').each(function() {
            $(this).attr('for', $(this).attr('for').replace(/\d+/, indexId));
        });
    }

    function blockRemove(el) {
        let $cloneList = $(el).closest('[data-clone-list]');
        el.closest('[data-clone]').remove();
        $cloneList.find('[data-clone]').each(function(index, item) {
            renameBlock($(item), index);
        });
    }

    function rightDocChange(el) {
        let $clone = $(el).closest('[data-clone]');
        let $rightDocOther = $clone.find('[id^="rightDocOther"]');
        switch ($(el).val()) {
            case '5': visibilityBlock($rightDocOther, false, false);
                break;
            default: visibilityBlock($rightDocOther, true, true);
        }
    }

    function vehicleTypeChange(el) {
        let $clone = $(el).closest('[data-clone]');
        let $typeOther = $clone.find('[id^="typeOther"]');
        switch ($(el).val()) {
            case '16': visibilityBlock($typeOther, false, false);
                break;
            default: visibilityBlock($typeOther, true, true);
        }
    }

    function visibilityBlock($block, hide, isDisabled) {
        switch (hide) {
            case true:
                $block.hide();
                break;
            case false:
                $block.show();
                break;
        }

        switch (isDisabled) {
            case true:
                $block.find('input, select').each(function() {
                    $(this).prop('disabled', true);
                });
                break;
            case false:
                $block.find('input, select').each(function() {
                    $(this).prop('disabled', false);
                });
                $block.find('[data-disabled]').each(function() {
                    visibilityBlock($(this), true, true);
                });
                break;
        }
    }
</script>
