@model AisLogistics.App.Models.AdditionalForms.PfrAppointMonthlyCashPaymentsModel
@{
    IEnumerable<SelectListItem> genderList = new List<SelectListItem>
    {
        new("не выбрано", ""),
        new("мужской", "1"),
        new("женский", "2"),
    };

    IEnumerable<SelectListItem> recipientInformationList = new List<SelectListItem>
    {
        new("не выбрано", ""),
        new("лично", "1"),
        new("представитель", "2"),
    };

    IEnumerable<SelectListItem> methodResultList = new List<SelectListItem>
    {
        new("не выбрано", ""),
        new("Через «Личный кабинет» на сайте ПФР", "1"),
        new("Через Единый портал государственных", "2"),
        new("Сообщение на электронную почту", "3"),
        new("Сообщение на телефон", "4"),
    };

    IEnumerable<SelectListItem> secretQuestionList = new List<SelectListItem>
    {
        new("не выбрано", ""),
        new("девичья фамилия матери", "1"),
        new("кличка домашнего питомца", "2"),
        new("номер школы, которую Вы закончили", "3"),
        new("любимое блюдо", "4"),
        new("Ваш любимый писатель", "5"),
    };
}

<div id="additional-data-content">
    <div class="row g-3">
        <div class="col-8 mx-auto">
        <h5 class="my-2">Заявитель</h5>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Customer.Fio">ФИО</label>
                    <input type="text" asp-for="Customer.Fio" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" asp-for="Customer.Snils">СНИЛС</label>
                    <input type="text" asp-for="Customer.Snils" class="form-control">
                </div>
                <div class="col-4">
                    <label class="form-label" asp-for="Customer.BirthDate">Дата рождения</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">
                            <i class="bx bx-calendar"></i>
                        </span>
                        <input asp-for="Customer.BirthDate" type="text"
                               class="form-control pickdate">
                    </div>
                </div>
                <div class="col-4">
                    <label class="form-label" asp-for="Customer.Citizenship">Гражданство</label>
                    <select class="select2-nosearch" asp-for="Customer.Citizenship" data-value-value
                            data-dictionary='{"dictionary":"Oksm", "default_value":"@Model.Customer.Citizenship"}'>
                    </select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" asp-for="Customer.Gender">Пол</label>
                    <select class="select2-nosearch" asp-items="@genderList" asp-for="Customer.Gender"></select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Customer.BirthPlace">Место рождения</label>
                    <input type="text" asp-for="Customer.BirthPlace" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Customer.ResidenceAddress">Адрес места жительства </label>
                    <input type="text" asp-for="Customer.ResidenceAddress" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Customer.StayAddress">Адрес места пребывания</label>
                    <input type="text" asp-for="Customer.StayAddress" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Customer.ActualResidenceAddress">Адрес фактического проживания</label>
                    <input type="text" asp-for="Customer.ActualResidenceAddress" class="form-control">
                </div>
            </div>
            <h6 class="my-2">Документ, удостоверяющий личность</h6>
            <div class="row mb-1">
                <div class="col-12">
                    <label class="form-label" asp-for="Customer.DocName">Наименование документа</label>
                    <select class="select2-nosearch" asp-for="Customer.DocName" data-value-value
                            data-dictionary='{"dictionary":"FnsDocTypes", "default_value":"@Model.Customer.DocName"}'>
                    </select>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-8">
                    <label class="form-label" asp-for="Customer.DocSeriesNumber">Серия, номер</label>
                    <input type="text" asp-for="Customer.DocSeriesNumber" class="form-control">
                </div>
                <div class="col-4">
                    <label class="form-label" asp-for="Customer.DocIssueDate">Дата выдачи</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">
                            <i class="bx bx-calendar"></i>
                        </span>
                        <input asp-for="Customer.DocIssueDate" type="text"
                               class="form-control pickdate">
                    </div>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-12">
                    <label class="form-label" asp-for="Customer.DocIssuer">Кем выдан</label>
                    <input type="text" asp-for="Customer.DocIssuer" class="form-control">
                </div>
            </div>
            <hr />

            <h5 class="my-2">Представитель</h5>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Representative.Fio">фамилия, имя, отчество (при наличии) представителя, наименование организации, на которую возложено исполнение обязанностей опекуна или попечителя, и фамилия, имя, отчество (при наличии) ее представителя)</label>
                    <input type="text" class="form-control" asp-for="Representative.Fio">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Representative.StayAddress">Адрес места пребывания </label>
                    <input type="text" asp-for="Representative.StayAddress" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Representative.ActualResidenceAddress">Адрес фактического проживания</label>
                    <input type="text" asp-for="Representative.ActualResidenceAddress" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Representative.OrganizationLegalAddress">Юридический адрес организации</label>
                    <input type="text" asp-for="Representative.OrganizationLegalAddress" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Representative.OrganizationLocation">Место нахождения организации</label>
                    <input type="text" asp-for="Representative.OrganizationLocation" class="form-control">
                </div>
            </div>
            <h6 class="my-2">Документ, удостоверяющий личность</h6>
            <div class="row mb-1">
                <div class="col-12">
                    <label class="form-label" asp-for="Representative.DocName">Наименование документа</label>
                    <select class="select2-nosearch" asp-for="Representative.DocName" data-value-value
                            data-dictionary='{"dictionary":"FnsDocTypes", "default_value":"@Model.Representative.DocName"}'>
                    </select>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-8">
                    <label class="form-label" asp-for="Representative.DocSeriesNumber">Серия, номер</label>
                    <input type="text" asp-for="Representative.DocSeriesNumber" class="form-control">
                </div>
                <div class="col-4">
                    <label class="form-label" asp-for="Representative.DocIssueDate">Дата выдачи</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">
                            <i class="bx bx-calendar"></i>
                        </span>
                        <input asp-for="Representative.DocIssueDate" type="text"
                               class="form-control pickdate">
                    </div>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-12">
                    <label class="form-label" asp-for="Representative.DocIssuer">Кем выдан</label>
                    <input type="text" asp-for="Representative.DocIssuer" class="form-control">
                </div>
            </div>
            <hr />
            <h6 class="my-2">Документ, подтверждающий полномочия представителя</h6>
            <div class="row mb-1">
                <div class="col-12">
                    <label class="form-label" asp-for="Representative.AuthorityDocName">Наименование документа</label>
                    <select class="select2-nosearch" asp-for="Representative.AuthorityDocName" data-value-value
                            data-dictionary='{"dictionary":"FnsDocTypes", "default_value":"@Model.Representative.AuthorityDocName"}'>
                    </select>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-8">
                    <label class="form-label" asp-for="Representative.AuthorityDocSeriesNumber">Серия, номер</label>
                    <input type="text" asp-for="Representative.AuthorityDocSeriesNumber" class="form-control">
                </div>
                <div class="col-4">
                    <label class="form-label" asp-for="Representative.AuthorityDocIssueDate">Дата выдачи</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">
                            <i class="bx bx-calendar"></i>
                        </span>
                        <input asp-for="Representative.AuthorityDocIssueDate" type="text"
                               class="form-control pickdate">
                    </div>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-12">
                    <label class="form-label" asp-for="Representative.AuthorityDocIssuer">Кем выдан</label>
                    <input type="text" asp-for="Representative.AuthorityDocIssuer" class="form-control">
                </div>
            </div>
            <hr />

            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="PaymentCaseLocation">Место нахождения выплатного дела</label>
                    <input type="text" asp-for="PaymentCaseLocation" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="PersonCategory">Категория лица, имеющего право на ежемесячную денежную выплату</label>
                    <input type="text" asp-for="PersonCategory" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="PfrDepartmentPayName">Наименование территориального органа ПФР, которым будет осуществляться ежемесячная денежная выплата</label>
                    <input type="text" asp-for="PfrDepartmentPayName" class="form-control">
                </div>
            </div>

            <h5 class="my-2">Данные о других членах семьи Героя Советского Союза, Героя Российской Федерации или полного кавалера ордена Славы</h5>
            <div id="otherFamilyMemberList" data-clone-list>
                @for (var i = 0; i < Model.OtherFamilyMembers.Length; i++)
                {
                    <div class="g-3" id="clone@(i)" data-id="@i" data-clone>
                        <hr />
                        <h6 class="my-2 title">Член семьи @(i + 1)</h6>
                        <div class="row mb-1 align-items-center">
                            <div class="col-11">
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <label class="form-label" asp-for="OtherFamilyMembers[i].Fio">ФИО</label>
                                        <input type="text" class="form-control" asp-for="OtherFamilyMembers[i].Fio">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <label class="form-label" asp-for="OtherFamilyMembers[i].BirthDate">Дата рождения</label>
                                        <div class="input-group input-group-merge">
                                            <span class="input-group-text">
                                                <i class="bx bx-calendar"></i>
                                            </span>
                                            <input asp-for="OtherFamilyMembers[i].BirthDate" type="text"
                                               class="form-control pickdate">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="form-label" asp-for="OtherFamilyMembers[i].Relation">Степень родства</label>
                                        <input type="text" class="form-control" asp-for="OtherFamilyMembers[i].Relation">
                                    </div>
                                </div>
                            </div>
                            <div class="col-1">
                                <button type="button" class="btn btn-danger" onclick="blockRemove(this)">
                                    <i class="bi bi-trash bx-md"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row justify-content-center">
                <div class="col-2">
                    <button type="button" class="btn btn-primary" id="addOtherFamilyMembers">
                        <i class="bi bi-plus"></i>
                    </button>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-6">
                    <label class="form-label" asp-for="Phone">Контактный телефон</label>
                    <input type="text" asp-for="Phone" class="form-control">
                </div>
                <div class="col-6">
                    <label class="form-label" asp-for="Email">Адрес электронной почты</label>
                    <input type="text" asp-for="Email" class="form-control">
                </div>
            </div>                        
            <div class="row mb-3">
                <div class="col-6">
                    <label class="form-label" asp-for="RecipientInformationCode">Получатель информации о ходе и результатах рассмотрения заявления</label>
                    <select class="select2-nosearch" asp-items="@recipientInformationList" asp-for="RecipientInformationCode"></select>
                </div>
                <div class="col-6">
                    <label class="form-label" asp-for="MethodResultCode">Способ информирования</label>
                    <select class="select2-nosearch" asp-items="@methodResultList" asp-for="MethodResultCode"></select>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <label class="form-label" asp-for="SecretQuestionCode">Секретный вопрос</label>
                    <select class="select2-nosearch" asp-items="@secretQuestionList" asp-for="SecretQuestionCode"></select>
                </div>
              <div class="col-6">
                    <label class="form-label" asp-for="SecretQuestionAnswer">Ответ на секретный вопрос</label>
                    <input type="text" asp-for="SecretQuestionAnswer" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <label class="form-label" asp-for="SecretCode">Секретный код</label>
                    <input type="text" asp-for="SecretCode" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="originalBlock">
    <div class="g-3" id="otherFamilyMember" data-id="" data-original>
        <hr />
        <h6 class="my-2 title">Член семьи 100</h6>
        <div class="row mb-1 align-items-center">
            <div class="col-11">
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" asp-for="OtherFamilyMembers[0].Fio">ФИО</label>
                        <input type="text" class="form-control" asp-for="OtherFamilyMembers[0].Fio">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label class="form-label" asp-for="OtherFamilyMembers[0].BirthDate">Дата рождения</label>
                        <div class="input-group input-group-merge">
                            <span class="input-group-text">
                                <i class="bx bx-calendar"></i>
                            </span>
                            <input asp-for="OtherFamilyMembers[0].BirthDate" type="text"
                                   class="form-control pickdate">
                        </div>
                    </div>
                    <div class="col-6">
                        <label class="form-label" asp-for="OtherFamilyMembers[0].Relation">Степень родства</label>
                        <input type="text" class="form-control" asp-for="OtherFamilyMembers[0].Relation">
                    </div>
                </div>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-danger" onclick="blockRemove(this)">
                    <i class="bi bi-trash bx-md"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    var additionalForm = $('#additional-data-content');
    var originalBlock = $('#originalBlock');

    $(function() {
        additionalForm.find('#addOtherFamilyMembers').on('click', () => addForm('otherFamilyMemberList', 'otherFamilyMember'));


        originalBlock.find('[data-original]').each(function(_, item) {
            renameBlock($(item), 100, true);
            visibilityBlock($(item), true, true);
        });

        select2Init(additionalForm);
        let options = { clearIncomplete: true, showMaskOnHover: false };
        additionalForm.find('[name$="Inn"]').inputmask("9{12}", options);
        additionalForm.find('[name$="Email"]').inputmask("email", options);
        additionalForm.find(".pickdate").datepicker({
            language: "ru",
            autoclose: true,
        }).inputmask("99.99.9999", options);

        (function getDictionaries() {
            let dicts = new Set();
            $('[data-dictionary]').each(function() {
                let $this = $(this);
                let options = $this.data('dictionary');
                if (!dicts.has(options.dictionary)) {
                    dicts.add(options.dictionary);
                    $.post(`/SmevBase/SmevGetDictionary`,
                        {
                            type: options.dictionary
                        },
                        function(dictionary) {
                            if (dictionary.error) return;
                            fillSelect(options.dictionary, dictionary);
                        });
                }
            });
        }());

        function fillSelect(dictName, dictionary) {
            $.each($(`[data-dictionary*='"${dictName}"']`),
                function() {
                    let $this = $(this);
                    let items = dictionary;
                    $this.empty();
                    if (!$this.hasClass('required')) {
                        $this.append(new Option('Не выбрано', ''));
                    }
                    if ($this.is('[data-value-value]')) {
                        items.dictionary.forEach(function(item) {
                            $this.append(new Option(item.value, item.value));
                        });
                    } else {
                        items.dictionary.forEach(function(item) {
                            $this.append(new Option(item.value, item.key));
                        });
                    }

                    if ($this.data('dictionary').default_value) {
                        let defVal = $this.data('dictionary').default_value;
                        if (defVal) {
                            $this.val(defVal).trigger('update');
                            $this.attr('data-def', defVal);
                        }
                    } else {
                        $this.val('').trigger('update');
                    }
                });
        }       
    });

     function select2Init($block) {
            $block.find("select.select2-nosearch").each(function() {
                $(this).select2({
                    minimumResultsForSearch: Infinity
                });
            });

            $block.find("select.select2-search").each(function() {
                $(this).select2({
                });
            });
        }

    function blockRemove(el) {
        let $cloneList = $(el).closest('[data-clone-list]');
        el.closest('[data-clone]').remove();
        $cloneList.find('[data-clone]').each(function(index, item) {
            renameBlock($(item), index);
        });
    }

    function renameBlock($cloneBlock, indexId, initOriginal = false) {
        if (!initOriginal) {
            $cloneBlock.find('.title').text($cloneBlock.find('.title').text().replace(/\d+/, indexId + 1));
            $cloneBlock.attr("id", `clone${indexId}`);
            $cloneBlock.attr('data-id', indexId);
            $cloneBlock.attr('data-clone', '');
            $cloneBlock.removeAttr('data-original');
        }

        $cloneBlock.find('input, select, div').each(function() {
            $(this).attr('id', $(this).attr('id')?.replace(/\d+/, indexId));
            if ($(this).is('[name]')) {
                $(this).attr('name', $(this).attr('name').replace(/\d+/, indexId));
            }
        });

        $cloneBlock.find('label').each(function() {
            $(this).attr('for', $(this).attr('for').replace(/\d+/, indexId));
        });
    }

    function visibilityBlock($block, hide, isDisabled) {
        switch (hide) {
            case true:
                $block.hide();
                break;
            case false:
                $block.show();
                break;
        }

        switch (isDisabled) {
            case true:
                $block.find('input, select').each(function() {
                    $(this).prop('disabled', true);
                });
                break;
            case false:
                $block.find('input, select').each(function() {
                    $(this).prop('disabled', false);
                });
                $block.find('[data-disabled]').each(function() {
                    visibilityBlock($(this), true, true);
                });
                break;
        }
    }

    function addForm(cloneListId, originalId) {
        let $cloneList = additionalForm.find(`#${cloneListId}`);
        let $original = originalBlock.find(`#${originalId}`);
        let $cloneBlock = $original.clone(true);
        let indexId = $cloneList.find('[data-clone]').length;
        renameBlock($cloneBlock, indexId);
        blockInit($cloneBlock);
        $cloneList.find("select").each(function() {
            $(this).select2('destroy');
        });
        $cloneList.append($cloneBlock);
        select2Init($cloneList);
    }

    function blockInit($block) {
        visibilityBlock($block, false, false);

        $block.find("input").each(function() {
                $(this).val("");
            });

        $block.find(".pickdate").datepicker({
            language: "ru",
            autoclose: true
        }).inputmask("99.99.9999", { clearIncomplete: true, showMaskOnHover: false });
    }
</script>