@model ViewModelBuilder
@{
    ViewBag.Title = Model.ViewTitle;
}

<!-- table -->
<section id="content-datatable">
    <div class="row">
        <div class="col-12">
            @if (Model.IsVisibleTitle)
            {
                <div class="card-header">
                    <h4 class="card-title">@Model.ViewTitle</h4>
                </div>
            }

            <div class="row">
                <div class="col-md-10">
                    @if (Model.IsVisibleDescription)
                    {
                        <div class="b-s-14">@Model.ViewDescription</div>
                    }
                </div>
            </div>
            <div class="table-responsive mt-3">
                <table asp-for="Model" asp-access-key-name="@AccessKeyNames.ReferenceEmployee" class="table directory_names-items"></table>
            </div>
        </div>
    </div>
</section>
<!--/ table -->
@section Scripts
    {
    <script>
        const $table = $('#@(Model.TableName)'),
            isCanAdd = true,
            isCanEdit = true,
            isCanRemove = true;

        $(document).ready(function () {
            $table.DataTable({
                sDom: "<'row'<'col-sm-12 col-md-6'f><'col-auto text-end directory_search ms-auto my-auto mb-3'<'#btnCreate'>>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                processing: true,
                serverSide: true,
                filter: true,
                pageLength: 13,
                searchDelay: 1500,
                order: [[1, 'asc']], 
                ajax: {
                    url: $table.data('action-table'),
                    type: "POST",
                    datatype: "json",
                    dataSrc: function (json) {
                        return json.data;
                    }
                },
                initComplete: function () {
                    $('#btnCreate').append(`
                                    <button data-btn-params='{"actionType":"@ActionType.Add"}' data-btn-type="add" data-for-table="@Model.TableName" type="button" class="btn btn-primary">
                                <i class="bi bi-plus"></i> Добавить
                            </button>`);
                },
                columnDefs: [
                    {
                        data: "id",
                        targets: 0,
                        title: '',
                        visible: false,
                        orderable: false
                    },
                    {
                        targets: 1,
                        title: 'Наименование',
                        orderable: true
                    },
                    {
                        targets: 2,
                        title: 'Офис',
                        orderable: true
                    },
                    {
                        targets: 3,
                        title: 'Должность',
                        orderable: true
                    },
                    {
                        targets: 4,
                        title: 'Статус',
                        orderable: true
                    },
                    {
                        targets: 5,
                        title: 'Исполнение',
                        className: "text-center fs-12",
                        orderable: false
                    },
                    {
                        targets: 6,
                        title: 'Активность',
                        className: "text-center fs-12",
                        orderable: false
                    }
                ],
                columns: [
                    {},
                    {
                        data: "employeeName",
                        render: function (data, type, row) {
                            return `<a href="/Reference/EmployeeDetails/${row.sEmployeesId}"><div class="text-bold reference">${data ? data : ''}</div></a>`;
                        }
                    },
                    { data: "officeName", 
                        render: function (data, type, row) {
                            return `<div class="m-s-14">${data?data:''}</div>`;
                        }
                    },
                    { data: "jobPositionName" ,
                      render: function (data, type, row) {
                            return `<div class="r-l-14">${data ? data : ''}</div>`;
                        }
                    },
                    { data: "statusName",
                        render: function (data, type, row) {
                            return `<div class="r-l-14">${data ? data : ''}</div>`;
                        }
                    },
                    {
                        data: "isExecution",
                        render: function (data, type, row) {
                            return isChecked(data);
                        }
                    },
                    {
                        data: "isActive",
                        render: function (data, type, row) {
                            return isChecked(data);
                        }
                    }
                ]
            });

            $table.on("reload", () => {
                $table.DataTable().ajax.reload(null, false);
            });

            var isChecked = function (data) {
                return `${data === true ? '<span class="check"><i class="bi bi-check"></i></span>' : '<i class="bi bi-x-circle text-danger"></i > '}`;
            }

        });
    </script>
}