@using SmevRouter
@model AisLogistics.App.ViewModels.Cases.SmevCreateResponseModel
@{
    var request = new MspCorpStatementsEgpuMfcInfrastructureAppQueryRequestData
            {
                SupportForm = new MspCorpSupportFormType()
            };
}
<div class="row justify-content-center">
    <div class="col-8">
        <div class="row justify-content-center">
            <div class="col-6">
                <label class="form-label" asp-for="@request.ApplicationType">Тип заявителя</label>
                <select class="form-control select2-nosearch"asp-for="@request.ApplicationType">
                    <option value="IpApplication">Индивидуальный предприниматель</option>
                    <option value="LegalApplication">Юридическое лицо</option>
                    <option value="PersonApplication">Физическое лицо</option>
                </select>
            </div>
            <div class="col-6">
                <label class="form-label" asp-for="@request.Inn">ИНН</label>
                <input type="text" class="form-control" placeholder="ИНН" asp-for="@request.Inn" />
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center g-3">
    <div class="col-12">
        <div class="divider text-start">
            <div class="divider-text fs-5 b-s-16">
                Место действия поддержки
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-8">
        <div class="row justify-content-center">
            <div class="col-4">
                <label class="form-label" asp-for="@request.RegionCode">Регион</label>
                 <select class="select2-search required" asp-for="@request.RegionCode"
                        data-dictionary='{"dictionary":"MspCorpRegionsRf"}'>
                </select>
            </div>
            <div class="col-4">
                <label class="form-label" asp-for="@request.CityName">район/городской округ</label>
                <input type="text" class="form-control" asp-for="@request.CityName">
            </div>
            <div class="col-4">
                <label class="form-label" asp-for="@request.CityFiasCode">Код ФИАС адреса места поддержки</label>
                <input type="text" class="form-control" asp-for="@request.CityFiasCode">
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center mb-3">
    <div class="row justify-content-center g-3">
        <div class="col-12 mx-auto">
            <div class="divider text-start">
                <div class="divider-text fs-5 b-s-16">Форма поддержки</div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="col-12">
            <div class="for-check form-check-inline mx-0">
                <input class="form-check-input" type="checkbox" asp-for="@request.SupportForm.Consult">
                <label class="form-check-label" asp-for="@request.SupportForm.Consult">Информационная/Консультационная</label>
            </div>
        </div>
        <div class="col-12 mt-1">
            <div class="for-check form-check-inline mx-0">
                <input class="form-check-input" type="checkbox" asp-for="@request.SupportForm.Education">
                <label class="form-check-label" asp-for="@request.SupportForm.Education">В сфере образования</label>
            </div>
        </div>
        <div class="col-12 mt-1">
            <div class="for-check form-check-inline mx-0">
                <input class="form-check-input" type="checkbox" asp-for="@request.SupportForm.Estate">
                <label class="form-check-label" asp-for="@request.SupportForm.Estate">Имущественная</label>
            </div>
        </div>
        <div class="col-12">
            <div class="for-check form-check-inline mx-0">
                <input class="form-check-input" type="checkbox" asp-for="@request.SupportForm.Finance">
                <label class="form-check-label" asp-for="@request.SupportForm.Finance">Финансовая(кредиты, субсидии, и.т.д)</label>
            </div>
        </div>
        <div class="col-12 mt-1">
            <div class="for-check form-check-inline mx-0">
                <input class="form-check-input" type="checkbox" asp-for="@request.SupportForm.Innovation">
                <label class="form-check-label" asp-for="@request.SupportForm.Innovation">Инновационно-производственная</label>
            </div>
        </div>
        <div class="col-12 mt-1">
            <div class="for-check form-check-inline mx-0">
                <input class="form-check-input" type="checkbox" asp-for="@request.SupportForm.Markets">
                <label class="form-check-label" asp-for="@request.SupportForm.Markets">Расширение рынков сбыта</label>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center mb-3">
    <div class="row justify-content-center g-3">
        <div class="col-12 mx-auto">
            <div class="divider text-start">
                <div class="divider-text fs-5 b-s-16">Подписка</div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-4">
                <div class=" for-check form-check-inline mx-0">
                    <input class="form-check-input" type="checkbox" asp-for="@request.IsSubscribe">
                    <label class="form-check-label" asp-for="@request.IsSubscribe">Подписка на результат услуги</label>
                </div>
            </div>
            <div class="col-4" id="SubscriptionEndDate" data-disabled>
                <div class="input-group input-group-merge">
                    <input asp-for="@request.SubscriptionEndDate" type="text" class="form-control pickdate required" placeholder="Дата окончания подписки" value="">
                    <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center g-3">
    <div class="col-12 mx-auto">
        <div class="divider text-start">
            <div class="divider-text fs-5 b-s-16">Способ предоставления информации</div>
        </div>
    </div>
</div>
<div class="row justify-content-center mb-3">
    <div class="col-8">
        <div class="row mb-2">
            <div class="col-3">
                <label class="form-label" asp-for="@request.ReportingMethod">Вариант предоставления</label>
                <select class="form-select select2-nosearch" asp-for="@request.ReportingMethod" data-dictionary='{"dictionary":"MspCorpReportingMethodTypes","default_value":"2"}'></select>
            </div>
            <div class="col-9" data-disabled>
                <label class="form-label" asp-for="@request.ReportingMethodOtherTypeText">Введите email</label>
                <input type="text" class="form-control required" asp-for="@request.ReportingMethodOtherTypeText" />
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center g-3">
    <div class="col-12 mx-auto">
        <div class="divider text-start">
            <div class="divider-text fs-5 b-s-16">Способ информирования о готовности результата услуги</div>
        </div>
    </div>
</div>
<div class="row justify-content-center mb-3">
    <div class="col-8">
        <div class="row">
            <div class="col-4">
                <label class="form-label" asp-for="@request.InformingMethodPhone">Номер телефона</label>
                <input type="text" class="form-control phone" placeholder="Номер телефона" asp-for="@request.InformingMethodPhone">
            </div>
            <div class="col-4">
                <label class="form-label" asp-for="@request.InformingMethodEmail">E-mail</label>
                <input type="text" class="form-control email" placeholder="E-mail" asp-for="@request.InformingMethodEmail">
            </div>
        </div>
    </div>
</div>
<script>
    function ShowErrorInputs() {

    }
    var formContent = document.getElementById("smev-data-form-content"),
        smevForm = {
            init: () => {
                $(formContent).find('.required').each(function() {
                    addValidation($(this));
                });

                $(formContent).find('[data-disabled]').each(function() {
                    visibilityBlock($(this), true, true);
                });

                /* init datepicker */
                $(formContent).find(".pickdate").datepicker({
                    language: "ru",
                    autoclose: true
                });

                let options = { clearIncomplete: true, showMaskOnHover: false };

                /* init inputmask */
                $(formContent).find('.phone').inputmask("9999999999", options);
                $(formContent).find('.email').inputmask("email", options);

                $(formContent).find("select.select2-nosearch").each(function() {
                    $(this).select2({
                        minimumResultsForSearch: Infinity
                    });
                });
                $(formContent).find("select.select2-search").each(function() {
                    $(this).select2({
                        dropdownParent: $("#mainModal")
                    });
                });

                function openItemForm(el) {

                    if (el.value == 'true') {
                        el.value = 'false';
                        if (el.dataset.openitem != 'null') {
                            document.querySelector(`#${el.dataset.openitem}`).classList.add('d-none')
                            addDisabled(`${el.dataset.openitem}`, true)
                        }
                    }

                    else {
                        el.value = 'true';
                        if (el.dataset.openitem != 'null') {
                            document.querySelector(`#${el.dataset.openitem}`).classList.remove('d-none')
                            addDisabled(`${el.dataset.openitem}`, false)
                        }
                    }
                }


                $(formContent).find('[name$="ReportingMethod"]').on('change',
                    function() {
                        let $mobile = $('#request_InformingMethodPhone');
                        let $email = $('#request_InformingMethodEmail');
                        let $coment = $('#request_ReportingMethodOtherTypeText');

                        switch ($(this).val()) {
                            case '1':
                                $coment.prev().text('Введите email');
                                visibilityBlock($coment.parent(), false, false);
                                break;
                            case '2':
                                 visibilityBlock($coment.parent(), true, true);
                                break;
                            case '3':
                                $coment.prev().text('Введите комментарий');
                                 visibilityBlock($coment.parent(), false, false);
                                break;

                        };

                    });
                $(formContent).find('#request_IsSubscribe').on('change',
                    function() {
                        if ($(this).is(':checked')) {
                            console.log('gylglihhlhllh');
                            visibilityBlock($('#SubscriptionEndDate'), false, false);
                        };
                        if ($(this).is(':not(:checked)')) {
                           visibilityBlock($('#SubscriptionEndDate'), true, true);
                        };
                    });

                $(formContent).find('[name$="Inn"]').inputmask('999999999999', options);
                $(formContent).find('[name$="ApplicationType"]').on('change',
                    function() {
                        let options = { clearIncomplete: true, showMaskOnHover: false };
                        let $inn = $(formContent).find('[name$="Inn"]');
                        switch ($(this).val()) {
                            case 'LegalApplication':
                                $inn.inputmask('9999999999', options);
                                break;
                            default:
                                $inn.inputmask('999999999999', options);
                        }
                    });
            }
        };

    function addValidation($el) {
        SmevDataFormValidation.addField($el.attr('name'),
            {
                validators: {
                    notEmpty: {}
                }
            });
        SmevDataFormValidation.elements[$el.attr('name')] = [$el[0]];
        $el.addClass('required');
    }

    function removeValidation($el) {
        if ($el.attr('name') in SmevDataFormValidation.fields) {
            SmevDataFormValidation.removeField($el.attr('name'));
        }
    }

    function visibilityBlock($block, hide, isDisabled) {
        switch (hide) {
            case true:
                if ($block.hasClass('accordion')) {
                    $block.find('.accordion-body').hide();
                } else {
                    $block.hide();
                }
                break;
            case false:
                if ($block.hasClass('accordion')) {
                    $block.find('.accordion-body').show();
                } else {
                    $block.show();
                }
                break;
        }

        switch (isDisabled) {
            case true:
                $block.find('input, select').each(function() {
                    if ($(this).attr('name') in SmevDataFormValidation.fields) {
                        removeValidation($(this));
                    }
                    $(this).prop('disabled', true);
                });
                break;
            case false:
                $block.find('input, select').each(function() {
                    $(this).prop('disabled', false);
                    if ($(this).hasClass('required')) {
                        addValidation($(this));
                    }
                });
                $block.find('[data-disabled]').each(function() {
                    visibilityBlock($(this), true, true);
                });
                break;
        }
    }

    (function getDictionaries() {
        let dicts = new Set();
        $('[data-dictionary]').each(function() {
            let $this = $(this);
            let options = $this.data('dictionary');
            if (!dicts.has(options.dictionary)) {
                dicts.add(options.dictionary);
                $.post(`/SmevBase/SmevGetDictionary`,
                    {
                        type: options.dictionary
                    },
                    function(dictionary) {
                        fillSelect(options.dictionary, dictionary);
                    });
            }
        });
    }());

    function fillSelect(dictName, dictionary) {
        $.each($(`[data-dictionary*='"${dictName}"']`),
            function() {
                let $this = $(this);
                let items = dictionary;
                $this.empty();
                if ($this.is('[data-value-value]')) {
                    items.dictionary.forEach(function(item) {
                        $this.append(new Option(item.value, item.value));
                    });
                } else {
                    items.dictionary.forEach(function(item) {
                        $this.append(new Option(item.value, item.key));
                    });
                }

                if (items.defaultKey != null) {
                    $this.val(items.defaultKey).trigger('update');
                    $this.attr('data-def', items.defaultKey);
                } else {
                    let defVal = $this.data('dictionary').default_value;
                    if (defVal) {
                        $this.val(defVal).trigger('update');
                        $this.attr('data-def', defVal);
                    }
                }
            });
    }

</script>