@using AisLogistics.DataLayer.Utils
@using SmevRouter
@model AisLogistics.App.ViewModels.Cases.SmevCreateResponseModel
@{
    var request = new MspCorpStatementsEgpuMfcPurchaseInfoAppQueryRequestData
            {
                ProductInfo = new MspCorpAddProductInfoType()
            };
}
<style>
    #smev-data-form-content .applicants + span .select2-selection.select2-selection--single {
        background-color: #e5edfc !important;
    }

</style>
<div class="row justify-content-center g-3">
    <div class="col-12">
        <div class="divider text-start">
            <div class="divider-text fs-5 fw-semibold">Данные заявителя</div>
        </div>
    </div>
</div>
<div class="row justify-content-center mb-1">
    <div class="col-8">
        <div class="row justify-content-center">
            <div class="col-6">
                <label class="form-label" asp-for="@request.ApplicationType">Тип заявителя</label>
                <select class="form-select select2-nosearch" asp-for="@request.ApplicationType">
                    <option value="IpApplication">Индивидуальный предприниматель</option>
                    <option value="LegalApplication">Юридическое лицо</option>
                    <option value="PersonApplication">Физическое лицо</option>
                </select>
            </div>
            <div class="col-6">
                <label class="form-label" asp-for="@request.Inn">ИНН</label>
                <input type="text" class="form-control required" placeholder="ИНН" asp-for="@request.Inn" />
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center g-3">
    <div class="col-12 mx-auto">
        <div class="divider text-start">
            <div class="divider-text fs-5 fw-semibold">Заказчик</div>
        </div>
    </div>
</div>
<div class="row justify-content-center mb-1">
    <div class="col-8">
        <div class="row justify-content-center">
            <div class="col-8">
                <label class="form-label" asp-for="@request.CustomerName">Наименование заказчика</label>
                <input type="text" class="form-control" placeholder="Наименование заказчика" asp-for="@request.CustomerName" />
            </div>
            <div class="col-4">
                <label class="form-label" asp-for="@request.CustomerInn">ИНН заказчика</label>
                <input type="text" class="form-control required" placeholder="ИНН заказчика" asp-for="@request.CustomerInn" />
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center g-3">
    <div class="col-12 mx-auto">
        <div class="divider text-start">
            <div class="divider-text fs-5 fw-semibold">Информация о продукции</div>
        </div>
    </div>
</div>
<div class="row justify-content-center mb-1">
    <div class="col-8">
        <div class="row justify-content-center">
            <div class="col-12">
                <label class="form-label" asp-for="@request.ProductInfo.GoodsDeliveryRegion">Регион поставки продукции</label>
                <select class="select2-search required" asp-for="@request.ProductInfo.GoodsDeliveryRegion"
                        data-dictionary='{"dictionary":"RosReestrEgrnRegionsRf"}'>
                </select>
            </div>
        </div>
        <div class="row justify-content-center" id="Okp">
            <div class="row justify-content-center" elOkp>
                <div class="col-10">
                    <label class="form-label" asp-for="@request.ProductInfo.Okpd2[0]">Код продукции по ОКПД2</label>
                    <input type="text" class="form-control required" placeholder="Код продукции по ОКПД2" asp-for="@request.ProductInfo.Okpd2[0]" />
                </div>
                <div class="col-2 mt-4">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-1">
                <button type="button" class="btn btn-primary" id="addBlock"><i class="bx bx-plus"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center mb-3">
    <div class="row justify-content-center g-3">
        <div class="col-12 mx-auto">
            <div class="divider text-start">
                <div class="divider-text fs-5 fw-semibold">Подписка</div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-4">
                <div class=" for-check form-check-inline mx-0">
                    <input class="form-check-input" type="checkbox" asp-for="@request.IsSubscribe">
                    <label class="form-check-label" asp-for="@request.IsSubscribe">Подписка на результат услуги</label>
                </div>
            </div>
            <div class="col-4" id="SubscriptionEndDate" data-disabled>
                <div class="input-group input-group-merge">
                    <input asp-for="@request.SubscriptionEndDate" type="text" class="form-control pickdate required" placeholder="Дата окончания подписки" value="">
                    <span class="input-group-text"><i class="bx bx-calendar"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center g-3">
    <div class="col-12 mx-auto">
        <div class="divider text-start">
            <div class="divider-text fs-5 fw-semibold">Способ предоставления информации</div>
        </div>
    </div>
</div>
<div class="row justify-content-center mb-3">
    <div class="col-8">
        <div class="row mb-2">
            <div class="col-3">
                <label class="form-label" asp-for="@request.ReportingMethod">Вариант предоставления</label>
                <select class="form-select select2-nosearch" asp-for="@request.ReportingMethod" data-dictionary='{"dictionary":"MspCorpReportingMethodTypes","default_value":"2"}'></select>
            </div>
            <div class="col-9" data-disabled>
                <label class="form-label" asp-for="@request.ReportingMethodOtherTypeText">Введите email</label>
                <input type="text" class="form-control required" asp-for="@request.ReportingMethodOtherTypeText" />
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center g-3">
    <div class="col-12 mx-auto">
        <div class="divider text-start">
            <div class="divider-text fs-5 fw-semibold">Способ информирования о готовности результата услуги</div>
        </div>
    </div>
</div>
<div class="row justify-content-center mb-3">
    <div class="col-8">
        <div class="row">
            <div class="col-4">
                <label class="form-label" asp-for="@request.InformingMethodPhone">Номер телефона</label>
                <input type="text" class="form-control phone" placeholder="Номер телефона" asp-for="@request.InformingMethodPhone">
            </div>
            <div class="col-4">
                <label class="form-label" asp-for="@request.InformingMethodEmail">E-mail</label>
                <input type="text" class="form-control email" placeholder="E-mail" asp-for="@request.InformingMethodEmail">
            </div>
        </div>
    </div>
</div>
<script>
    function ShowErrorInputs() {

    }

    var formContent = document.getElementById("smev-data-form-content"),
        smevForm = {
            init: () => {
                $(formContent).find('.required').each(function() {
                    addValidation($(this));
                });

                $(formContent).find('[data-disabled]').each(function() {
                    visibilityBlock($(this), true, true);
                });

                /* init datepicker */
                $(formContent).find(".pickdate").datepicker({
                    language: "ru",
                    autoclose: true
                });

                let options = { clearIncomplete: true, showMaskOnHover: false };

                /* init inputmask */
                $(formContent).find('.phone').inputmask("9999999999", options);
                $(formContent).find('.email').inputmask("email", options);

                $(formContent).find("select.select2-nosearch").each(function() {
                    $(this).select2({
                        minimumResultsForSearch: Infinity
                    });
                });
                $(formContent).find("select.select2-search").each(function() {
                    $(this).select2({
                        dropdownParent: $("#mainModal")
                    });
                });

                $(formContent).find('[name$="ReportingMethod"]').on('change',
                    function() {
                        let $mobile = $('#request_InformingMethodPhone');
                        let $email = $('#request_InformingMethodEmail');
                        let $coment = $('#request_ReportingMethodOtherTypeText');

                        switch ($(this).val()) {
                            case '1':
                                $coment.prev().text('Введите email');
                                visibilityBlock($coment.parent(), false, false);
                                break;
                            case '2':
                                visibilityBlock($coment.parent(), true, true);
                                break;
                            case '3':
                                $coment.prev().text('Введите комментарий');
                                visibilityBlock($coment.parent(), false, false);
                                break;

                        };

                    });
                $(formContent).find('#request_IsSubscribe').on('change',
                    function() {
                        if ($(this).is(':checked')) {
                            visibilityBlock($('#SubscriptionEndDate'), false, false);
                        };
                        if ($(this).is(':not(:checked)')) {
                            visibilityBlock($('#SubscriptionEndDate'), true, true);
                        };
                    });

                $(formContent).find('#request_Inn').inputmask('9{12}', options);
                $(formContent).find('#request_CustomerInn').inputmask('9{10}', options);
                $(formContent).find('[name$="ApplicationType"]').on('change',
                    function() {
                        let options = { clearIncomplete: true, showMaskOnHover: false };
                        let $inn = $(formContent).find('#request_Inn');
                        switch ($(this).val()) {
                            case 'LegalApplication':
                                $inn.inputmask('9999999999', options);
                                break;
                            default:
                                $inn.inputmask('999999999999', options);
                        }
                    });
            }
        };

    function addValidation($el) {
        SmevDataFormValidation.addField($el.attr('name'),
            {
                validators: {
                    notEmpty: {
                    }
                }
            });
        SmevDataFormValidation.elements[$el.attr('name')] = [$el[0]];
        $el.addClass('required');
    }

    function removeValidation($el) {
        if ($el.attr('name') in SmevDataFormValidation.fields) {
            SmevDataFormValidation.removeField($el.attr('name'));
        }
    }



    function blockRemove(el) {
        el.closest('[elOkp]').remove();
        let indexEl = $('[elOkp]').length;
        var labelEl = $('[elOkp] label');
        var inputEl = $('[elOkp] input');
       
        for (let i = 0; i < indexEl; i++) {
           labelEl.eq(i).attr('for', `request_ProductInfo_Okpd2${i}`);
           inputEl.eq(i).attr('id', `request_ProductInfo_Okpd2${i}`);
           inputEl.eq(i).attr('name',`request.ProductInfo.Okpd2[${i}]`);
        }
    }

    $(formContent).find('#addBlock').on('click', function() {
        let indexEl = $('[elOkp]').length;
        $(formContent).find('#Okp').append(`
            <div class="row justify-content-center" elOkp>
                <div class="col-10">
                    <label class="form-label" for="request_ProductInfo_Okpd2${indexEl}">Код продукции по ОКПД2</label>
                    <input type="text" class="form-control required" id="request_ProductInfo_Okpd2${indexEl}" placeholder="Код продукции по ОКПД2" name="request.ProductInfo.Okpd2[${indexEl}]"/>
                </div>
                <div class="col-2 mt-4">
                    <button type="button" class="btn btn-danger" onclick="blockRemove(this)"><i class="bx bx-trash-alt"></i></button>
                </div>
            </div>`);

        $(formContent).find('[name^="request.ProductInfo.Okpd2"]').each(function() {
                   addValidation($(this));
              });
    })





    function visibilityBlock($block, hide, isDisabled) {
        switch (hide) {
            case true:
                if ($block.hasClass('accordion')) {
                    $block.find('.accordion-body').hide();
                } else {
                    $block.hide();
                }
                break;
            case false:
                if ($block.hasClass('accordion')) {
                    $block.find('.accordion-body').show();
                } else {
                    $block.show();
                }
                break;
        }

        switch (isDisabled) {
            case true:
                $block.find('input, select').each(function() {
                    if ($(this).attr('name') in SmevDataFormValidation.fields) {
                        removeValidation($(this));
                    }
                    $(this).prop('disabled', true);
                });
                break;
            case false:
                $block.find('input, select').each(function() {
                    $(this).prop('disabled', false);
                    if ($(this).hasClass('required')) {
                        addValidation($(this));
                    }
                });
                $block.find('[data-disabled]').each(function() {
                    visibilityBlock($(this), true, true);
                });
                break;
        }
    }

    (function getDictionaries() {
        let dicts = new Set();
        $('[data-dictionary]').each(function() {
            let $this = $(this);
            let options = $this.data('dictionary');
            if (!dicts.has(options.dictionary)) {
                dicts.add(options.dictionary);
                $.post(`/SmevBase/SmevGetDictionary`,
                    {
                        type: options.dictionary
                    },
                    function(dictionary) {
                        fillSelect(options.dictionary, dictionary);
                    });
            }
        });
    }());

    function fillSelect(dictName, dictionary) {
        $.each($(`[data-dictionary*='"${dictName}"']`),
            function() {
                let $this = $(this);
                let items = dictionary;
                $this.empty();
                if ($this.is('[data-value-value]')) {
                    items.dictionary.forEach(function(item) {
                        $this.append(new Option(item.value, item.value));
                    });
                } else {
                    items.dictionary.forEach(function(item) {
                        $this.append(new Option(item.value, item.key));
                    });
                }

                if (items.defaultKey != null) {
                    $this.val(items.defaultKey).trigger('update');
                    $this.attr('data-def', items.defaultKey);
                } else {
                    let defVal = $this.data('dictionary').default_value;
                    if (defVal) {
                        $this.val(defVal).trigger('update');
                        $this.attr('data-def', defVal);
                    }
                }
            });
    }

</script>
