@using AisLogistics.App.Models.Enums
@using AisLogistics.App.Models.Reports
@model string

<form id="reportForm" asp-action="ReportData" asp-controller="Reports" method="get" role="form">
    <div class="row">
        <input type="hidden" name="id" value="@Model" />
        <input type="hidden" name="method" value="@ReportsType.Function" />
        <input type="hidden" name="modelType" value="@typeof(ReportReestrCountOffice)" />
        <div class="form-group col-auto">
            <label for="providerId" class="form-label">Поставщик</label>
            <select id="providerId" name="providerIdList" class="form-select select2-search" multiple disabled></select>
        </div>
        <div class="form-group col-auto">
            <label for="serviceId" class="form-label">Услуга</label>
            <select id="serviceId" name="serviceIdList" class="form-select select2-search" multiple disabled>Услуга</select>
        </div>
        <div class="form-group col-auto">
            <label class="form-label" for="dateStart">Дата</label>
            <div class="input-daterange input-group" id="date-range">
                <input type="text" name="dateStart" id="report_date_start" class="form-control datepick" value="@DateTime.Now.AddDays(-1).ToShortDateString()">
                <div class="input-group-append">
                    <span class="input-group-text bg-primary h-100"><i class="bx bx-calendar text-white"></i></span>
                </div>
                <input type="text" name="dateStop" id="report_date_stop" class="form-control datepick" value="@DateTime.Now.AddDays(-1).ToShortDateString()">
            </div>
        </div>
    </div>
</form>

