@model AisLogistics.App.Models.AdditionalForms.Municipal._16_Model
@{
     IEnumerable<SelectListItem> FaceApplicant = new List<SelectListItem>
    {
            new("Физическое лицо", "1"),
            new("Юридическое лицо", "2"),
    };
     IEnumerable<SelectListItem> Face = new List<SelectListItem>
    {
            new("Физическое лицо", "1"),
            new("Юридическое лицо", "2"),
    };
     IEnumerable<SelectListItem> OnBasis = new List<SelectListItem>
    {
            new("Права собственности", "1"),
            new("Договора найма", "2"),
            new("Договора аренды ", "3"),
    };
     IEnumerable<SelectListItem> Permission = new List<SelectListItem>
    {
            new("Переустройство", "1"),
            new("Перепланировку", "2"),
            new("Переустройство и Перепланировку ", "3"),
    }; 
    IEnumerable<SelectListItem> Week = new List<SelectListItem>
    {
            new("Понедельник", "1"),
            new("Вторник", "2"),
            new("Среда", "3"),
            new("Четверг", "4"),
            new("Пятница", "5"),
            new("Суббота", "6"),
            new("Воскресенье", "7"),
    };
    }
<div id="additional-data-content">
    <div class="row g-3">
        <div class="col-8 mx-auto">
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Recipient">Место направления заявления</label>
                    <input type="text" asp-for="Recipient" class="form-control">
                </div>
            </div>
            <hr/>
            <br/>
            <div class="row mb-3">
                 <div class="col-4">
                     <select class="select2-nosearch" asp-items="@FaceApplicant" asp-for="FaceApplicant"></select>                
                </div>
            </div>
            <div data-app-1111>
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" asp-for="Applicant.Fio">ФИО</label>
                        <input type="text" asp-for="Applicant.Fio" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" asp-for="Applicant.INN">ИНН</label>
                        <input type="text" asp-for="Applicant.INN" class="form-control">                
                    </div>
                </div>
                <br/>
                <h6 class="my-2">Паспорт</h6>
                <div class="row mb-3">
                    <div class="col-4">
                        <label class="form-label" asp-for="Applicant.Series">серия</label>
                        <input type="text" asp-for="Applicant.Series" class="form-control">                
                    </div>
                    <div class="col-4">
                        <label class="form-label" asp-for="Applicant.Number">номер</label>
                        <input type="text" asp-for="Applicant.Number" class="form-control">
                    </div>
                    <div class="col-4">
                        <label class="form-label" asp-for="Applicant.DocIssueDate">Дата выдачи</label>
                        <div class="input-group input-group-merge">
                            <span class="input-group-text">
                                <i class="bi bi-calendar3"></i>
                            </span>
                           <input asp-for="Applicant.DocIssueDate" type="text"
                            class="form-control pickdate">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" asp-for="Applicant.DocIssuer">Кем выдан </label>
                        <input type="text" asp-for="Applicant.DocIssuer" class="form-control">                
                    </div>
                </div>
                <br/>
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" asp-for="Applicant.PostalAddress">почтовый адрес </label>
                        <input type="text" asp-for="Applicant.PostalAddress" class="form-control">                
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-6">
                        <label class="form-label" asp-for="Applicant.Phone">телефон для связи </label>
                        <input type="text" asp-for="Applicant.Phone" class="form-control">                
                    </div>
                    <div class="col-6">
                        <label class="form-label" asp-for="Applicant.Email">адрес электронной почты </label>
                        <input type="text" asp-for="Applicant.Email" class="form-control">                
                    </div>
                </div>
            </div>
            <div data-app-2222>
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" asp-for="Applicant.FullName"> полное наименование</label>
                        <input type="text" asp-for="Applicant.FullName" class="form-control">                
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" asp-for="Applicant.INNLegal">ИНН</label>
                        <input type="text" asp-for="Applicant.INNLegal" class="form-control">                
                    </div>
                </div> 
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" asp-for="Applicant.OGRN">ОГРН</label>
                        <input type="text" asp-for="Applicant.OGRN" class="form-control">                
                    </div>
                </div>  
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label" asp-for="Applicant.AddressLegal">адрес место нахождения</label>
                        <input type="text" asp-for="Applicant.AddressLegal" class="form-control">                
                    </div>
                </div> 
                <div class="row mb-3">
                    <div class="col-6">
                        <label class="form-label" asp-for="Applicant.PhoneLegal">телефон для связи </label>
                        <input type="text" asp-for="Applicant.PhoneLegal" class="form-control">                
                    </div>
                    <div class="col-6">
                        <label class="form-label" asp-for="Applicant.EmailLegal">адрес электронной почты </label>
                        <input type="text" asp-for="Applicant.EmailLegal" class="form-control">                
                    </div>
                </div>
            </div>
            <hr/>
            <br/>
            <h6 class="my-2">Сведения о земельном участке</h6>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Subject">субъект Российской Федерации </label>
                    <input type="text" asp-for="Subject" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Territories">Наименование муниципального района, городского, муниципального округа или внутригородской территории</label>
                    <input type="text" asp-for="Territories" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Settlements">Наименование поселения</label>
                    <input type="text" asp-for="Settlements" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Street">улица </label>
                    <input type="text" asp-for="Street" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="House">дом</label>
                    <input type="text" asp-for="House" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Body">корпус</label>
                    <input type="text" asp-for="Body" class="form-control">
                </div>
            </div>
             <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Building">строение</label>
                    <input type="text" asp-for="Building" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Flat">квартира</label>
                    <input type="text" asp-for="Flat" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Entrance">подъезд</label>
                    <input type="text" asp-for="Entrance" class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12">
                    <label class="form-label" asp-for="Floor">этаж</label>
                    <input type="text" asp-for="Floor" class="form-control">
                </div>
            </div>
            <hr/>
            <br/>
            <h6 class="my-2">Собственник(и) жилого помещения</h6>
            <div id="ownerList" data-clone-list>
                @for (var i = 0; i < Model.OwnerList.Length; i++)
                {
                    <div class="g-3" id="clone@(i)" data-id="@i" data-clone>
                        <h6 class="my-2">Собственник @(i+1)</h6>
                        <hr/>
                        <div class="row mb-1 align-items-center">
                            <div class="col-11">
                                <div class="row mb-3">
                                    <div class="col-4">
                                        <select class="select2-nosearch" asp-items="@Face" asp-for="OwnerList[i].Face" value="1" onchange="selel(this)"></select>                
                                    </div>
                                </div>
                                <div data-app-111>
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <label class="form-label" asp-for="OwnerList[i].Fio">ФИО</label>
                                            <input type="text" asp-for="OwnerList[i].Fio" class="form-control">                
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <label class="form-label" asp-for="OwnerList[i].INN">ИНН</label>
                                            <input type="text" asp-for="OwnerList[i].INN" class="form-control">                
                                        </div>
                                    </div>
                                    <h6 class="my-2">Паспорт</h6>
                                    <div class="row mb-3">
                                        <div class="col-4">
                                            <label class="form-label" asp-for="OwnerList[i].Series">серия</label>
                                            <input type="text" asp-for="OwnerList[i].Series" class="form-control">                
                                        </div>
                                        <div class="col-4">
                                             <label class="form-label" asp-for="OwnerList[i].Number">номер</label>
                                             <input type="text" asp-for="OwnerList[i].Number" class="form-control">                
                                        </div>
                                        <div class="col-4">
                                            <label class="form-label" asp-for="OwnerList[i].DocIssueDate">Дата выдачи</label>
                                            <input  asp-for="OwnerList[i].DocIssueDate" type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <label class="form-label" asp-for="OwnerList[i].DocIssuer">Кем выдан </label>
                                            <input type="text" asp-for="OwnerList[i].DocIssuer" class="form-control">                
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <label class="form-label" asp-for="OwnerList[i].PostalAddress">почтовый адрес </label>
                                            <input type="text" asp-for="OwnerList[i].PostalAddress" class="form-control">                
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <label class="form-label" asp-for="OwnerList[i].Phone">телефон для связи </label>
                                            <input type="text" asp-for="OwnerList[i].Phone" class="form-control">                
                                        </div>
                                        <div class="col-6">
                                           <label class="form-label" asp-for="OwnerList[i].Email">адрес электронной почты </label>
                                           <input type="text" asp-for="OwnerList[i].Email" class="form-control">                
                                        </div>
                                    </div>
                                </div>
                                <div data-app-222 style="display: none">
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <label class="form-label" asp-for="OwnerList[i].FullName"> полное наименование</label>
                                            <input type="text" asp-for="OwnerList[i].FullName" class="form-control">                
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12">
                                           <label class="form-label" asp-for="OwnerList[i].INNLegal">ИНН</label>
                                           <input type="text" asp-for="OwnerList[i].INNLegal" class="form-control">                
                                        </div>
                                    </div> 
                                    <div class="row mb-3">
                                        <div class="col-12">
                                             <label class="form-label" asp-for="OwnerList[i].OGRN">ОГРН</label>
                                             <input type="text" asp-for="OwnerList[i].OGRN" class="form-control">                
                                        </div>
                                    </div>  
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <label class="form-label" asp-for="OwnerList[i].AddressLegal">адрес место нахождения</label>
                                            <input type="text" asp-for="OwnerList[i].AddressLegal" class="form-control">                
                                        </div>
                                    </div> 
                                    <div class="row mb-3">
                                        <div class="col-6">
                                            <label class="form-label" asp-for="OwnerList[i].PhoneLegal">телефон для связи </label>
                                            <input type="text" asp-for="OwnerList[i].PhoneLegal" class="form-control">                
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label" asp-for="OwnerList[i].EmailLegal">адрес электронной почты </label>
                                            <input type="text" asp-for="OwnerList[i].EmailLegal" class="form-control">                
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1">
                                 <button type="button" class="btn btn-danger" onclick="blockRemove(this)"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                 <hr/>
                 <br/>
                }
            </div>
            <div class="row justify-content-center">
                <div class="col-2">
                    <button type="button" class="btn btn-primary" id="addOwner"><i class="bi bi-plus"></i></button>
                </div>
            </div>
            <hr/>
            <br/>
            <div class="row mb-3">
                 <div class="col-5">
                     <label class="form-label" asp-for="Permission">разрешить</label>
                     <select class="select2-nosearch" asp-items="@Permission" asp-for="Permission"></select>                
                </div>
                <div class="col-3">
                    <label class="form-label" asp-for="OnBasis">на основании </label>
                    <select class="select2-nosearch" asp-items="@OnBasis" asp-for="OnBasis"></select>                
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                <h6 class="my-2">Срок производства</h6>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label class="form-label" asp-for="ProductionPriod">С</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text">
                                     <i class="bi bi-calendar3"></i>
                                </span>
                                <input asp-for="ProductionPriod" type="text" class="form-control pickdate">
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="form-label" asp-for="ByProductionPriod">по</label>
                            <div class="input-group input-group-merge">
                                <span class="input-group-text">
                                    <i class="bi bi-calendar3"></i>
                                </span>
                                <input asp-for="ByProductionPriod" type="text" class="form-control pickdate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                <h6 class="my-2">Режим производства</h6>
                    <div class="row mb-2">
                        <div class="col-3">
                            <label class="form-label" asp-for="ProductionMode">c</label>
                            <input type="time" asp-for="ProductionMode" class="form-control">
                        </div>
                        <div class="col-3">
                            <label class="form-label" asp-for="ByProductionMode">по</label>
                            <input type="time" asp-for="ByProductionMode" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                 <div class="col-12">
                      <label class="form-label" asp-for="Days">в дни недели</label>
                      <select class="select2-nosearch" asp-items="@Week" asp-for="Days"></select>                
                 </div>
            </div>
            <br/>
            <h6 class="my-2">Договор социального найма </h6>
            <div class="row mb-3">
                <div class="col-4">
                    <label class="form-label" asp-for="DataContract">дата</label>
                    <div class="input-group input-group-merge">
                        <span class="input-group-text">
                            <i class="bi bi-calendar3"></i>
                        </span>
                       <input asp-for="DataContract" type="text" class="form-control pickdate">
                    </div>
                </div>
                <div class="col-8">
                    <label class="form-label" asp-for="NuberContract">номер</label>
                    <input type="text" asp-for="NuberContract" class="form-control">                
                </div>
            </div>
            <hr/>
            <br/>
            <h5 class="my-2">Члены семьи:</h5>
            <div id="appliedFamilyList" data-clone-list>
                @for (var i = 0; i < Model.AppliedFamilyList.Length; i++)
                {
                    <div class="g-3" id="clone@(i)" data-id="@i" data-clone>
                        <hr/>
                        <h6 class="my-2 title">Член семьи @(i+1)</h6>
                        <div class="row mb-1 align-items-center">
                            <div class="col-11">
                                <div class="row mb-3 align-items-end">
                                    <div class="row mb-3">
                                        <div class="col-9">
                                            <label class="form-label" asp-for="AppliedFamilyList[i].Fio_Family">ФИО</label>
                                            <input type="text" class="form-control" asp-for="AppliedFamilyList[i].Fio_Family">
                                        </div>
                                        <div class="col-3">
                                            <label class="form-label" asp-for="AppliedFamilyList[i].BirthDate">ДАТА РОЖДЕНИЯ</label>
                                            <input asp-for="AppliedFamilyList[i].BirthDate" type="date" class="form-control">
                                        </div>               
                                    </div>               
                                    <h6 class="my-2">Паспортные данные</h6>
                                    <div class="row mb-3">
                                        <div class="col-4">
                                            <label class="form-label" asp-for="AppliedFamilyList[i].DocSeries_Family">Серия</label>
                                            <input type="text" class="form-control" asp-for="AppliedFamilyList[i].DocSeries_Family">
                                        </div>
                                        <div class="col-4">
                                            <label class="form-label" asp-for="AppliedFamilyList[i].DocNumber_Family">Номер</label>
                                            <input type="text" class="form-control" asp-for="AppliedFamilyList[i].DocNumber_Family">
                                        </div>
                                        <div class="col-4">
                                            <label class="form-label" asp-for="AppliedFamilyList[i].DocIssueDate_Family">Дата выдачи</label>
                                            <input asp-for="AppliedFamilyList[i].DocIssueDate_Family" type="date" class="form-control">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <label class="form-label" asp-for="AppliedFamilyList[i].DocIssuer_Family">Кем выдан</label>
                                            <input type="text" class="form-control" asp-for="AppliedFamilyList[i].DocIssuer_Family">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-1">
                                <button type="button" class="btn btn-danger content-center " onclick="blockRemove(this)"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row justify-content-center">
                <hr/>
                <div class="col-2">
                    <button type="button" class="btn btn-primary" id="addAppliedFamilyDocument"><i class="bi bi-plus"></i></button>
                </div>
            </div>
            <hr/>
            <br/>
            <div id="appliedDocumentList" data-clone-list>
                @for (var i = 0; i < Model.AppliedDocumentList.Length; i++)
                {
                    <div class="g-3" id="clone@(i)" data-id="@i" data-clone>
                        <h6 class="my-2">Приложение @(i+1)</h6>
                        <div class="row mb-1 align-items-end">
                            <div class="col-9">
                                <label  class="form-label" asp-for="AppliedDocumentList[i].Applications">Наименование</label>
                                <input type="text" class="form-control" asp-for="AppliedDocumentList[i].Applications">
                            </div>
                            <div class="col-2">
                                <label  class="form-label" asp-for="AppliedDocumentList[i].SumList">листов шт.</label>
                                <input type="text" class="form-control" asp-for="AppliedDocumentList[i].SumList">
                            </div>
                            <div class="col-1">
                                <button type="button" class="btn btn-danger" onclick="blockRemove(this)"><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
                 <br/>
                }
            </div>
            <br/>
            <div class="row justify-content-center">
                <div class="col-2">
                    <button type="button" class="btn btn-primary" id="addAppliedDocument"><i class="bi bi-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="originalBlock">
    <div class="g-3" id="Owner" data-id="" data-original>
        <br/>
        <h6 class="my-2 title">Собственник 0</h6>
        <div class="row mb-1 align-items-center">
            <div class="col-11">
                <div class="row mb-3">
                    <div class="col-4">
                        <select class="select2-nosearch" asp-items="@Face" asp-for="OwnerList[0].Face" onchange="selel(this)"></select>                
                    </div>
                </div>
                <div data-app-111>
                    <div class="row mb-3">
                        <div class="col-12">
                           <label class="form-label" asp-for="OwnerList[0].Fio">ФИО</label>
                           <input type="text" asp-for="OwnerList[0].Fio" class="form-control">                
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <label class="form-label" asp-for="OwnerList[0].INN">ИНН</label>
                            <input type="text" asp-for="OwnerList[0].INN" class="form-control">                
                        </div>
                    </div>
                    <h6 class="my-2">Паспорт</h6>
                    <div class="row mb-3">
                        <div class="col-4">
                           <label class="form-label" asp-for="OwnerList[0].Series">серия</label>
                           <input type="text" asp-for="OwnerList[0].Series" class="form-control">                
                        </div>
                        <div class="col-4">
                            <label class="form-label" asp-for="OwnerList[0].Number">номер</label>
                            <input type="text" asp-for="OwnerList[0].Number" class="form-control">                
                        </div>
                        <div class="col-4">
                            <label class="form-label" asp-for="OwnerList[0].DocIssueDate">Дата выдачи</label>
                            <input asp-for="OwnerList[0].DocIssueDate" type="date" class="form-control">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <label class="form-label" asp-for="OwnerList[0].DocIssuer">Кем выдан </label>
                            <input type="text" asp-for="OwnerList[0].DocIssuer" class="form-control">                
                        </div>
                    </div>
                    <br/>
                    <div class="row mb-3">
                        <div class="col-12">
                            <label class="form-label" asp-for="OwnerList[0].PostalAddress">почтовый адрес </label>
                            <input type="text" asp-for="OwnerList[0].PostalAddress" class="form-control">                
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label class="form-label" asp-for="OwnerList[0].Phone">телефон для связи </label>
                            <input type="text" asp-for="OwnerList[0].Phone" class="form-control">                
                        </div>
                        <div class="col-6">
                            <label class="form-label" asp-for="OwnerList[0].Email">адрес электронной почты </label>
                            <input type="text" asp-for="OwnerList[0].Email" class="form-control">                
                        </div>
                    </div>
                </div>
                <div data-app-222 style="display: none">
                    <div class="row mb-3">
                        <div class="col-12">
                            <label class="form-label" asp-for="OwnerList[0].FullName"> полное наименование</label>
                            <input type="text" asp-for="OwnerList[0].FullName" class="form-control">                
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <label class="form-label" asp-for="OwnerList[0].INNLegal">ИНН</label>
                            <input type="text" asp-for="OwnerList[0].INNLegal" class="form-control">                
                        </div>
                    </div> 
                    <div class="row mb-3">
                        <div class="col-12">
                           <label class="form-label" asp-for="OwnerList[0].OGRN">ОГРН</label>
                           <input type="text" asp-for="OwnerList[0].OGRN" class="form-control">                
                        </div>
                    </div>  
                    <div class="row mb-3">
                        <div class="col-12">
                           <label class="form-label" asp-for="OwnerList[0].AddressLegal">адрес место нахождения</label>
                           <input type="text" asp-for="OwnerList[0].AddressLegal" class="form-control">                
                        </div>
                    </div> 
                    <div class="row mb-3">
                        <div class="col-6">
                           <label class="form-label" asp-for="OwnerList[0].PhoneLegal">телефон для связи </label>
                           <input type="text" asp-for="OwnerList[0].PhoneLegal" class="form-control">                
                        </div>
                        <div class="col-6">
                            <label class="form-label" asp-for="OwnerList[0].EmailLegal">адрес электронной почты </label>
                            <input type="text" asp-for="OwnerList[0].EmailLegal" class="form-control">                
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-danger content-center"  onclick="blockRemove(this)"><i class="bi bi-trash"></i></button>
            </div>
        </div>
        <hr/>
        <br/>
    </div>
    <div class="g-3" id="appliedDocument" data-id="" data-original>
        <br/>
        <h6 class="my-2 title">Приложение 0</h6>
        <div class="row mb-1 align-items-end">
            <div class="col-9">
                <label class="form-label" asp-for="AppliedDocumentList[0].Applications">Наименование</label>
                <input type="text" class="form-control" asp-for="AppliedDocumentList[0].Applications">
            </div>
            <div class="col-2">
                <label class="form-label" asp-for="AppliedDocumentList[0].SumList">листов шт.</label>
                <input type="text" class="form-control" asp-for="AppliedDocumentList[0].SumList">
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-danger content-center" onclick="blockRemove(this)"><i class="bi bi-trash"></i></button>
            </div>
        </div>
        <br/>
    </div>
    <div class="g-3" id="appliedFamilyDocument" data-id="" data-original>
        <hr />
        <h6 class="my-2 title">Член семьи 0</h6>
        <div class="row mb-1 align-items-center">
            <div class="col-11">
                <div class="row mb-3 align-items-end">
                    <div class="row mb-3">
                        <div class="col-9">
                            <label class="form-label" asp-for="AppliedFamilyList[0].Fio_Family">ФИО</label>
                            <input type="text" class="form-control" asp-for="AppliedFamilyList[0].Fio_Family">
                        </div>
                        <div class="col-3">
                            <label class="form-label" asp-for="AppliedFamilyList[0].BirthDate">ДАТА РОЖДЕНИЯ</label>
                            <input asp-for="AppliedFamilyList[0].BirthDate" type="date"class="form-control">
                        </div>
                    </div>
                    <h6 class="my-2">Паспортные данные</h6>
                    <div class="row mb-3">
                        <div class="col-4">
                            <label class="form-label" asp-for="AppliedFamilyList[0].DocSeries_Family">Серия</label>
                            <input type="text" class="form-control" asp-for="AppliedFamilyList[0].DocSeries_Family">
                        </div>
                        <div class="col-4">
                            <label class="form-label" asp-for="AppliedFamilyList[0].DocNumber_Family">Номер</label>
                            <input type="text" class="form-control" asp-for="AppliedFamilyList[0].DocNumber_Family">
                        </div>
                        <div class="col-4">
                            <label class="form-label" asp-for="AppliedFamilyList[0].DocIssueDate_Family">Дата выдачи</label>
                            <input asp-for="AppliedFamilyList[0].DocIssueDate_Family" type="date" class="form-control pickdate">
                        </div>
                        <div class="col-12">
                            <label class="form-label" asp-for="AppliedFamilyList[0].DocIssuer_Family">Кем выдан</label>
                            <input type="text" class="form-control" asp-for="AppliedFamilyList[0].DocIssuer_Family">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1">
                 <button type="button" class="btn btn-danger content-center " onclick="blockRemove(this)"><i class="bi bi-trash"></i></button>
            </div>
        </div>
    </div>
</div>
<script>
    var additionalForm = $('#additional-data-content');
    var originalBlock = $('#originalBlock');

     $(function() {
        originalBlock.find('[data-original]').each(function(_, item) {
            renameBlock($(item), 100, true);
            visibilityBlock($(item), true, true);
        });
        additionalForm.find('#addAppliedDocument').on('click', () => addForm('appliedDocumentList', 'appliedDocument'));
        additionalForm.find('#addOwner').on('click', () => addForm('ownerList', 'Owner'));
        additionalForm.find('#addAppliedFamilyDocument').on('click', () => addForm('appliedFamilyList', 'appliedFamilyDocument'));

        additionalForm.find('[data-disabled]').each(function() {
            visibilityBlock($(this), true, true);
        });
         function select2Init($block) {
            $block.find("select.select2-nosearch").each(function() {
                $(this).select2({
                    minimumResultsForSearch: Infinity
                });
            });

            $block.find("select.select2-search").each(function() {
                $(this).select2({
                });
            });
         }
        
        function addForm(cloneListId, originalId) { //Динамическое добавление Принимает (Куда Откуда)
            let $cloneList = additionalForm.find(`#${cloneListId}`);
            let $original = originalBlock.find(`#${originalId}`);
            let $cloneBlock = $original.clone(true);
            let indexId = $cloneList.find('[data-clone]').length;
            console.log(indexId);
            renameBlock($cloneBlock, indexId);
            blockInit($cloneBlock);
            $cloneList.find("select").each(function() {
                $(this).select2('destroy');
            });
           // select111($cloneBlock),
           $cloneList.append($cloneBlock);
            select2Init($cloneList);
        }        

        function blockInit($block) {
            visibilityBlock($block, false, false);

            $block.find("input[type='text']").each(function() {
                $(this).val("");
            });
        }
    });
    function renameBlock($cloneBlock, indexId, initOriginal = false) {
        if (!initOriginal) {
            $cloneBlock.find('.title').text($cloneBlock.find('.title').text().replace(/\d+/, indexId + 1));
            $cloneBlock.attr("id", `${$cloneBlock.attr("id")}${indexId}`);
            $cloneBlock.attr('data-id', indexId);
            $cloneBlock.attr('data-clone', '');
            $cloneBlock.removeAttr('data-original');
        }
        $cloneBlock.find('input, select, div').each(function() {
            $(this).attr('id', $(this).attr('id')?.replace(/\d+/, indexId));
            if ($(this).is('[name]')) {
                $(this).attr('name', $(this).attr('name').replace(/\d+/, indexId));
            }
        });
        $cloneBlock.find('label').each(function() {
            $(this).attr('for', $(this).attr('for').replace(/\d+/, indexId));
        });
    }
    function blockRemove(el) {
        let $cloneList = $(el).closest('[data-clone-list]');
        el.closest('[data-clone]').remove();
        $cloneList.find('[data-clone]').each(function(index, item) {
            renameBlock($(item), index);
        });
    }
    function visibilityBlock($block, hide, isDisabled) {
        switch (hide) {
            case true:
                $block.hide();
                break;
            case false:
                $block.show();
                break;
        }
        switch (isDisabled) {
            case true:
                $block.find('input, select').each(function() {
                    $(this).prop('disabled', true);
                });
                break;
            case false:
                $block.find('input, select').each(function() {
                    $(this).prop('disabled', false);
                });
                $block.find('[data-disabled]').each(function() {
                    visibilityBlock($(this), true, true);
                });
                break;
        }
    }
    $(function() {
        additionalForm.find("select.select2-search").each(function() {
            $(this).select2({
                //dropdownParent: $("#mainModal"),
            });
        });

        additionalForm.find("select.select2-nosearch").each(function() {
            $(this).select2({
                minimumResultsForSearch: Infinity,
            });
        });
        additionalForm.find('#FaceApplicant').on('change', function() {
            let $app1111 = $('[data-app-1111]');
            let $app2222 = $('[data-app-2222]');
            switch ($(this).val()) {
                case '1':
                    $app1111.each(function() {
                        visibilityBlock($(this), false, false);
                    });
                    $app2222.each(function() {
                        visibilityBlock($(this), true, true);
                    });
                    break;
                case '2':
                    $app1111.each(function() {
                        visibilityBlock($(this), true, true);
                    });
                    $app2222.each(function() {
                        visibilityBlock($(this), false, false);
                    });
                    break;
            }
        });
        additionalForm.find('#FaceApplicant').trigger('change');

        function visibilityBlock($block, hide, isDisabled) {
            switch (hide) {
                case true:
                    $block.hide();
                    break;
                case false:
                    $block.show();
                    break;
            }

            switch (isDisabled) {
                case true:
                    $block.find('input, select').each(function() {
                        $(this).prop('disabled', true);
                    });
                    break;
                case false:
                    $block.find('input, select').each(function() {
                        $(this).prop('disabled', false);
                    });
                    $block.find('[data-disabled]').each(function() {
                        visibilityBlock($(this), true, true);
                    });
                    break;
            }
        }
        (function getDictionaries() {
            let dicts = new Set();
            $('[data-dictionary]').each(function() {
                let $this = $(this);
                let options = $this.data('dictionary');
                if (!dicts.has(options.dictionary)) {
                    dicts.add(options.dictionary);
                    $.post(`/SmevBase/SmevGetDictionary`,
                        {
                            type: options.dictionary
                        },
                        function(dictionary) {
                            if (dictionary.error) return;
                            fillSelect(options.dictionary, dictionary);
                        });
                }
            });
        }());

        function fillSelect(dictName, dictionary) {
            $.each($(`[data-dictionary*='"${dictName}"']`),
                function() {
                    let $this = $(this);
                    let items = dictionary;
                    $this.empty();
                    if (!$this.hasClass('required')) {
                        $this.append(new Option('Не выбрано', ''));
                    }
                    if ($this.is('[data-value-value]')) {
                        items.dictionary.forEach(function(item) {
                            $this.append(new Option(item.value, item.value));
                        });
                    } else {
                        items.dictionary.forEach(function(item) {
                            $this.append(new Option(item.value, item.key));
                        });
                    }

                    if ($this.data('dictionary').default_value) {
                        let defVal = $this.data('dictionary').default_value;
                        if (defVal) {
                            $this.val(defVal).trigger('update');
                            $this.attr('data-def', defVal);
                        }
                    } else {
                        $this.val('').trigger('update');
                    }
                });
        }
    });

        $(function () {
        additionalForm.find("select.select2-search").each(function() {
            $(this).select2({
                //dropdownParent: $("#mainModal"),
            });
        });

        additionalForm.find("select.select2-nosearch").each(function() {
            $(this).select2({
                minimumResultsForSearch: Infinity,
            });
        });

       let options = { clearIncomplete: true, showMaskOnHover: false };
        additionalForm.find(".pickdate").datepicker({
            language: "ru",
            autoclose: true
        }).inputmask("99.99.9999", options);
        additionalForm.find('[name^="FnsDepartment"]').inputmask("9999", options);
        additionalForm.find('[name$="Email"]').inputmask("email", options);
        additionalForm.find('[name$="Phone"]').inputmask("9{1,12}", options);
        additionalForm.find('[name$="Inn"]').inputmask("9{12}", options);

        
        additionalForm.find('#FaceApplicant').on('change', function() {
            let $app1111 = $('[data-app-1111]');
            let $app2222 = $('[data-app-2222]');
            switch ($(this).val()) {
                case '1':
                    $app1111.each(function() {
                        visibilityBlock($(this), false, false);
                    });
                    $app2222.each(function() {
                        visibilityBlock($(this), true, true);
                    });
                    break;
                case '2':
                    $app1111.each(function() {
                        visibilityBlock($(this), true, true);
                    });
                    $app2222.each(function() {
                        visibilityBlock($(this), false, false);
                    });
                    break;
            }
        });
        additionalForm.find('#FaceApplicant').trigger('change');

        function visibilityBlock($block, hide, isDisabled) {
            switch (hide) {
                case true:
                    $block.hide();
                    break;
                case false:
                    $block.show();
                    break;
            }

            switch (isDisabled) {
                case true:
                    $block.find('input, select').each(function() {
                        $(this).prop('disabled', true);
                    });
                    break;
                case false:
                    $block.find('input, select').each(function() {
                        $(this).prop('disabled', false);
                    });
                    $block.find('[data-disabled]').each(function() {
                        visibilityBlock($(this), true, true);
                    });
                    break;
            }
        }
        (function getDictionaries() {
            let dicts = new Set();
            $('[data-dictionary]').each(function() {
                let $this = $(this);
                let options = $this.data('dictionary');
                if (!dicts.has(options.dictionary)) {
                    dicts.add(options.dictionary);
                    $.post(`/SmevBase/SmevGetDictionary`,
                        {
                            type: options.dictionary
                        },
                        function(dictionary) {
                            if (dictionary.error) return;
                            fillSelect(options.dictionary, dictionary);
                        });
                }
            });
        }());
        function fillSelect(dictName, dictionary) {
            $.each($(`[data-dictionary*='"${dictName}"']`),
                function() {
                    let $this = $(this);
                    let items = dictionary;
                    $this.empty();
                    if (!$this.hasClass('required')) {
                        $this.append(new Option('Не выбрано', ''));
                    }
                    if ($this.is('[data-value-value]')) {
                        items.dictionary.forEach(function(item) {
                            $this.append(new Option(item.value, item.value));
                        });
                    } else {
                        items.dictionary.forEach(function(item) {
                            $this.append(new Option(item.value, item.key));
                        });
                    }

                    if ($this.data('dictionary').default_value) {
                        let defVal = $this.data('dictionary').default_value;
                        if (defVal) {
                            $this.val(defVal).trigger('update');
                            $this.attr('data-def', defVal);
                        }
                    } else {
                        $this.val('').trigger('update');
                    }
                });
        }
    }); 
  
function selel(el) {
  let $bloc = $(el).closest("[data-clone]");
    
            console.log("dsws");
            let $app111 = $bloc.find('[data-app-111]');
            let $app222 = $bloc.find('[data-app-222]');
           //      visibilityBlock($app111, false, false);
          //  visibilityBlock($app222, true, true);
            switch ($(el).val()) {
                case '1': 
                        visibilityBlock($app111, false, false);
                        visibilityBlock($app222, true, true);
                    break;
                case '2':
                        visibilityBlock($app222, false, false);
                        visibilityBlock($app111, true, true);
                    break;
            }
}
    </script>
