@model ViewModelBuilder
@{
    ViewBag.Title = Model.ViewTitle;
}
@section Header
{
    <style>
        .progress 
        {
            /* перекрывает название файла в modal */
            display: none !important;
        }
    </style>
}

<!-- table -->
<section id="content-datatable">
    <div class="row">
        <div class="col-12">
            <div class="card">
                @if (Model.IsVisibleTitle)
                {
                    <div class="card-header">
                        <h4 class="card-title">@Model.ViewTitle</h4>
                    </div>
                }

                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            @if (Model.IsVisibleDescription)
                            {
                                <div class="b-s-14">@Model.ViewDescription</div>
                            }
                        </div> 
                    </div>
                
                    <div class="table-responsive mt-3"> 
                        <table asp-for="Model" asp-access-key-name="@AccessKeyNames.ReferenceOffice" class="table table-sm table-bordered"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ table -->

@section Scripts
{
    <script>
        const $table = $('#@(Model.TableName)'),
            isCanAdd = $table.is('[data-action-add]'),
            isCanEdit = $table.is('[data-action-edit]'),
            isCanRemove = $table.is('[data-action-remove]');

            $(document).ready(function() {
            $table.DataTable({
                sDom: "<'row'<'col-sm-12 col-md-6 'f><'col-md-auto mt-auto ms-auto'l><'col-md-auto mt-auto ms-auto'<'#btnCreate'>>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                processing: true,
                serverSide: true,
                filter: true,
                searchDelay: 1500,
                ajax: {
                    url: $table.data('action-table'),
                    type: "POST",
                    datatype: "json",
                    dataSrc: function(json) {
                        return json.data;
                    }
                },
                initComplete: function () {
                    $('#btnCreate').append(`
                                                          <button data-btn-params='{"actionType":"@ActionType.Add"}' data-btn-type="add" data-for-table="@Model.TableName" type="button" class="btn btn-primary">
                                        <i class="bi bi-plus"></i> Добавить
                                    </button>`);
                },
                columnDefs: [
                    {
                        data: "id",
                        targets: 0,
                        title: '',
                        visible: false,
                        orderable: false
                    },
                    {
                        targets: 1,
                        title: 'Наименование',
                        orderable: false
                    },
                    {
                        targets: 2,
                        title: 'Размер (кб.)',
                        className: 'text-center',
                        orderable: false
                    },
                    {
                        targets: 3,
                        title: 'Тип',
                        className: 'text-center',
                        orderable: false
                    },
                    {
                        targets: 4,
                        title: 'Комментарий',
                        orderable: false
                    },
                    {
                        targets: 5,
                        title: 'Сотрудник',
                        orderable: false
                    },
                    {
                        targets: -1,
                        title: 'Действия',
                        data: "id",
                        width: "80px",
                        className: 'text-center editor-edit',
                        sorting: false,
                        orderable: false
                    }
                ],
                columns: [
                    {},
                    {
                        data: "fileName"
                    },
                    {
                        data: "fileSize",
                        render: function(data, type, row) {
                            return (data / 1024).toFixed(2);
                        }
                    },
                    {
                        data: "fileExpansion"
                    },
                    {
                        data: "commentt"
                    },
                    {
                        data: "employeesFioAdd"
                    },
                    {
                        render: function(data, type, row) {
                            let content = "";
                            if (isCanEdit === true) 
                                content += EditBtn({ "id": data, "actionType": 1 });
                            if (isCanRemove === true) 
                                content += DeleteBtn({ "id": data });
                            return content;
                        }
                    }
                ]
            });
            $table.on("reload", () => {
                $table.DataTable().ajax.reload(null, false);
            });
        });

        $table.on('draw.dt', function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl, {
                    boundary: document.body
                });
            });
        });

        const EditBtn = (data) => {
            const params = JSON.stringify(data);
            return `<a href="javascript:void(0);" data-btn-params='${params}' data-btn-type="edit" data-bs-toggle="tooltip" title="Изменить" class="btn btn-sm btn-icon text-body">
            <i class="bi bi-pencil-square"></i></a>`;
        }

        const DeleteBtn = (data) => {
            const params = JSON.stringify(data);
            return `<a href="javascript:void(0);" data-btn-params='${params}' data-btn-type="remove" data-bs-toggle="tooltip" title="Удалить" class="btn btn-sm btn-icon text-danger">
            <i class="bi bi-trash"></i></a>`;
        }
    </script>
}