@model AisLogistics.DataLayer.Common.Dto.Reference.FtpModelDto

<form asp-controller="Reference" asp-action="FTPSave" id="sendingForm" method="post" role="form">
    <div class="pt-1">
        <fieldset>
            @Html.HiddenFor(m => m.Id)

            <div class="row">
                <div class="col-12 mb-3">
                    <label class="form-label" asp-for="FtpServer">Сервер</label>
                    <input type="text" asp-for="FtpServer" maxlength="30" class="form-control" placeholder="Сервер" required>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-3">
                    <label class="form-label" asp-for="FtpFolder">Папка</label>
                   <input type="text" asp-for="FtpFolder" maxlength="30" class="form-control" placeholder="Папка" required>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-3">
                    <label class="form-label" asp-for="FtpLogin">Логин</label>
                    <input type="text" asp-for="FtpLogin" maxlength="30" class="form-control" placeholder="Логин" required>
                </div>
            </div>

            <div class="row">
                <div class="col-12 mb-3">
                    <label class="form-label" asp-for="FtpPassword">Пароль</label>
                    <input type="password" asp-for="FtpPassword" maxlength="30" class="form-control" placeholder="Пароль" required>
                </div>
            </div>

        </fieldset>
    </div>
</form>

<script>
    $(document).ready(function() {
        $('#sendingForm select').select2({ dropdownParent: $('#mainModal'), minimumResultsForSearch: -1 });

        FormValidation.formValidation(document.getElementById('sendingForm'),
            {
                fields: {
                    FtpServer: {
                        validators: {
                            notEmpty: {
                                message: '@MessageDescription.FieldIsRequired'
                            }
                        }
                    },
                    FtpFolder: {
                        validators: {
                            notEmpty: {
                                message: '@MessageDescription.FieldIsRequired'
                            }
                        }
                    },
                    FtpLogin: {
                        validators: {
                            notEmpty: {
                                message: '@MessageDescription.FieldIsRequired'
                            }
                        }
                    },
                    FtpPassword: {
                        validators: {
                            notEmpty: {
                                message: '@MessageDescription.FieldIsRequired'
                            }
                        }
                    },
                },
                plugins: {
                    trigger: new FormValidation.plugins.Trigger(),
                    submitButton: new FormValidation.plugins.SubmitButton(),
                    bootstrap5: new FormValidation.plugins.Bootstrap5(),
                    autoFocus: new FormValidation.plugins.AutoFocus()
                }
            }).on('core.form.valid', function() {
            var $form = $("#sendingForm");
            var actionType = $("#ActionType").val();
            $.ajax({
                    type: $form.attr('method'),
                    url: $form.attr('action'),
                    data: $form.serialize(),
                    dataType: 'json',
                    beforeSend: () => {
                        $form.spinnerBtn("start");
                    },
                    complete: () => {
                        if (typeof $table === 'undefined')
                        {
                            window.location.reload();
                        }
                        else
                        {
                            $table.DataTable().ajax.reload(null, false);
                        }
                        $form.spinnerBtn("stop");
                        $("#mainModal").modal('hide');
                    }
                });
            return false;
        });
    });
</script>