@using AisLogistics.App.Models.DTO.ReestrUnclaimedDocuments
@model List<CasesUnclaimedDocumentDto>

<table class="table table-responsive w-100 h-75">
    <thead>
        <tr>
            <th><input type="checkbox" data-check-main id="checkSelectedRowMain"></th>
            <th>Заявитель</th>
            <th>Адрес</th>
            <th>Контакты</th>
            <th>Номер обращения</th>
            <th>Этап</th>
            <th>
                <div class="dropdown @(Model.Any() ? string.Empty : "d-none")">
                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <div class="dropdown-item">
                                <a class="w-100" href="javascript:void(0);" onclick="CreateReestr()">Сформировать реестр</a>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown-item">
                                <a class="w-100" href="javascript:void(0);" onclick="CaseAddStage()">Добавить Этап</a>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown-item">
                                <a class="w-100" href="javascript:void(0);" onclick="CaseAddComment()">Добавить комментарий</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </th>
        </tr>
    </thead>
    <tbody class="table-border-bottom-0">
        @if (@Model.Any())
        {
            @foreach (var request in Model)
            {
                <tr data-service-id="@request.ServiceId" data-case-id="@request.CasesNumber">
                    <td><input type="checkbox" data-check id="checkSelectedRow"></td>
                    <td>@request.Applicant?.Name</td>
                    <td>@request.Applicant?.Address</td>
                    <td>
                        <p>@request.Applicant?.Phone</p>
                        <p>@request.Applicant?.Phone2</p>
                    </td>
                    <td>@request.CasesNumber</td>
                    <td colspan="2">
                        @request.ServiceRourteStage
                        <small class="d-block">
                            @request.CurrentEmployee
                        </small>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" class="text-center fs-3">
                    Нет данных
                </td>
            </tr>
        }
    </tbody>
</table>


<script>


    $(function () {
        $('#checkSelectedRowMain').change(function () {
            let value = $('#checkSelectedRowMain').prop("checked");
            $('[data-check]').each(function (i, el) {
                $(el).prop("checked", value)
            });
        });

        $('[data-check]').change(function () {
            if ($('#checkSelectedRowMain').prop("checked"))
                $('#checkSelectedRowMain').prop("checked", false);
        });
    });

    function CreateReestr() {
        let data = {};
        let mass = [];
        $('[data-check]').each(function (i, el) {
            if ($(el).prop("checked")) {
                mass.push($(el).parents('[data-service-id]').attr('data-service-id'));
            }
        });

        data['DserviceId'] = mass;
        data['ProviderId'] = $('#ProviderIdAdd').val();
        data['ServiceId'] = $('#ServiceIdAdd').val();
        data['DepartamentId'] = $('#DepartamentIdAdd').val();

        $.ajax({
            type: "Post",
            url: "/ReestrUnclaimedDocuments/UnclaimedDocumentsSave",
            data: { request: data },
            beforeSend: () => {
                $.pageBlock();
            },
            complete: () => {
                $.unblockUI();
            },
            success: function (result) {
                if (result != null) {
                    Swal.fire({
                        width: 500,
                        title: "Реестр №" + result.number + " сформирован",
                        icon: "success",
                        showCancelButton: true,
                        confirmButtonText: 'Печать',
                        cancelButtonText: 'Отмена',
                        showLoaderOnConfirm: true,
                        customClass: {
                            confirmButton: 'btn btn-success me-3',
                            cancelButton: 'btn btn-label-secondary',
                        },
                        backdrop: true,
                        allowOutsideClick: () => !Swal.isLoading(),
                        preConfirm: () => {
                            $.ajax({
                                url: '/ReestrUnclaimedDocuments/UnclaimedDocumentsPrint',
                                type: 'POST',
                                data: { id: result.id },
                                beforeSend: () => {
                                    $.pageBlock();
                                },
                                complete: () => {
                                    $.unblockUI();
                                },
                                success: function (data) {
                                    printPDF(data);
                                }
                            });
                        }
                    });
                }
            },
            error: function (event) { }
        });
    }

    function CaseAddComment() {
        $.ajax({
            url: '/ReestrUnclaimedDocuments/CasesCommentsChangeModalAdd',
            type: 'POST',
            beforeSend: () => {
                $.pageBlock();
            },
            complete: () => {
                $.unblockUI();
            },
            success: function (content) {
                $('#modalContainerOver').html(content).modal('show');
            }
        });
    };

    function CaseAddStage() {
        let mass = [];
        $('[data-check]').each(function (i, el) {
            if ($(el).prop("checked")) {
                mass.push($(el).parents('[data-service-id]').attr('data-service-id'));
            }
        });
        $.ajax({
            url: '/ReestrUnclaimedDocuments/ServiceStageAddModal',
            type: 'POST',
            data: { id: mass },
            beforeSend: () => {
                $.pageBlock();
            },
            complete: () => {
                $.unblockUI();
            },
            success: function (content) {
                $('#modalContainerOver').html(content).modal('show');
            }
        });
    };
</script>
