@using AisLogistics.App.Models.DTO.ReestrUnclaimedDocuments
@model ViewModelBuilder
@{
    ViewBag.Title = Model.ViewTitle;
    var data = Model.Model as List<ReestrUnclaimedDocumentsDto>;
    var isView = (bool)ViewBag.CasesAllView;
}

<style>
    .cursor-pointer {
        cursor: pointer;
    }

    .active_unclaimed {
        border-left: 3px solid #5a8dee !important;
    }

    .Unclaimed_Wrapper {
        height: 50rem;
    }

    .unclaimed-table_Wrapper {
        height: 100%;
    }

    .casesUnclaimed_Wrapper {
        height: 43rem;
    }

    .Unclaimed-menu-column {
        /*       width: 3.5em;
                    max-width: 3.5em;*/
    }

    .table-unclaimed {
        margin: 0 !important;
    }

        .table-unclaimed td {
            padding: 0 !important;
        }

    table.dataTable {
        margin-top: 0 !important;
    }

</style>

<section>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="mb-3">
                        <div class="">
                            <div class="row">
                                @if (isView)
                                {
                                    <div class="col-8">
                                        <select id="selectOfficeFilter" class="form-select"><option value="@Guid.Empty">ВСЕ</option>@Html.Raw(ViewBag.Mfc)</select>
                                    </div>
                                }
                                <div class="@(isView ? "col-4" : "col-12")">
                                    <a asp-controller="ReestrUnclaimedDocuments" asp-action="UnclaimedDocumentsChangeModalAdd" class="btn btn-primary w-100" data-btn-type="modal" data-bs-toggle="tooltip">Добавить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Unclaimed_Wrapper" id="Unclaimed_Wrapper">
                        <div class="table-responsive">
                            <table id="Unclaimed_Wrapper-table" data-action-table="@Model.TableMethodAction" class="table table-unclaimed table-no-border mt-0"></table>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card" id="empty-table">
                        <div class="card-body">
                            <div class="alert alert-primary m-0" role="alert">
                                <h6 class="alert-heading mb-1">Внимание</h6>
                                <span>Выберите реестр</span>
                            </div>
                        </div>
                    </div>
                    <div class="card unclaimed-table_Wrapper d-none">
                        <div class="card-header">
                            <h5 class="card-title mb-0" id="card_title"></h5>
                        </div>
                        <span class="border-bottom"></span>
                        <div class="card-body pt-0">
                            <div class="table-responsive mt-3 casesUnclaimed_Wrapper" id="casesUnclaimed_Wrapper"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        const $table = $("#Unclaimed_Wrapper-table");
        const showTable = () => {
            $("#empty-table").hide();
            $(".unclaimed-table_Wrapper").removeClass("d-none");
        };
        const hiddenTable = () => {
            $("#empty-table").show();
            $(".unclaimed-table_Wrapper").addClass("d-none");
        };

        $(document).ready(function () {

            $table.DataTable({
                sDom: "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-12'p>>",
                processing: true,
                serverSide: true,
                ordering: false,
                filter: true,
                searchDelay: 1500,
                ajax: {
                    url: $table.data('action-table'),
                    type: "POST",
                    datatype: "json",
                    data: function (data) {
                        data['officeId'] = $('#selectOfficeFilter').val();
                    }
                },
                columns: [
                    {
                        title: '',
                        name: 'unclaimed',
                        render: function (data, type, row) {
                            let departament = row.departementName !== null && row.departementName.length > 0 ? row.departementName : '-';
                            let content = `<div data-unclaimed-id="${row.id}" class="card cursor-pointer mb-3">
                                                        <div class="card-body">
                                                            <div class="d-flex justify-content-between mb-1">
                                                                <div id="unclaimed_text" data-reestr-number="${row.reestrNumber}" class="text-dark fw-bolder">№ ${row.reestrNumber}
                                                                    <span>
                                                                        <a href="javascript:void(0);"  data-edit-reestr class="btn btn-sm btn-icon text-body" title="Редактирование номера">
                                                                            <i class="bi bi-pencil-square"></i>
                                                                        </a>
                                                                        <a href="javascript:void(0)" data-print-reestr class='btn btn-sm btn-icon text-primary'>
                                                                            <i class="bi bi-printer"></i>
                                                                        </a>
                                                                        <a href="javascript:void(0)" data-download-reestr class='btn btn-sm btn-icon text-success'>
                                                                            <i class='bi bi-download'></i>
                                                                        </a>
                                                                    </span>
                                                                </div>
                                                                <div class="text-muted"><span class="text-body">Количество:</span>${row.countService}</div>
                                                             </div>
                                                                     <dl class="row">
                                                                                                      <dt class="col text-body">Дата:</dt><dd class="col-sm-9 text-muted">${row.dateAdd}</dd>
                                                                                                      <dt class="col text-body">Услуга:</dt><dd class="col-sm-9 text-muted">${row.serviceName}</dd>
                                                                                                      <dt class="col text-body">Поставщик:</dt><dd class="col-sm-9 text-muted">${row.providerName}</dd>
                                                                                                      <dt class="col text-body">Департамент:</dt><dd class="col-sm-9 text-muted">${departament}</dd>
                                                                                                      <dt class="col text-body">Сотрудник:</dt><dd class="col-sm-9 text-muted">${row.employeeFioAdd}</dd>
                                                                                                        </dl>
                                                        </div>
                                                    </div>`;




                            return content;
                        }
                    },
                ]
            }).on('click', '[data-unclaimed-id]', function (e) { unclaimedView(e) })
                .on('click', '[data-edit-reestr]', function (e) { unclaimedEdit(e) })
                .on('click', '[data-print-reestr]', function (e) { trasferPrint(e) })
                .on('click', '[data-download-reestr]', function (e) { unclaimedDownload(e) });

            $('#selectOfficeFilter').select2({
                language: "ru",
            }).on('change', function () {
                $table.DataTable().ajax.reload();
                return false;
            });

            new PerfectScrollbar("#Unclaimed_Wrapper");

            function unclaimedView(e) {
                console.log(123214, $(this));
                console.log(55555, $(e.currentTarget));
                $('[data-unclaimed-id]').removeClass('active_unclaimed');
                $(e.currentTarget).addClass('active_unclaimed');

                let id = $(e.currentTarget).data('unclaimed-id');

                let text = $(e.currentTarget).find('[data-reestr-number]').data('reestr-number');

                $('#card_title').html("Реестр №" + text);
                $.ajax({
                    url: '/ReestrUnclaimedDocuments/UnclaimedDocumentsChangeModalView',
                    type: 'POST',
                    data: { id: id },
                    beforeSend: () => {
                        $.pageBlock();
                    },
                    complete: () => {
                        $.unblockUI();
                        showTable();
                    },
                    success: function (content) {
                        $('#casesUnclaimed_Wrapper').empty();
                        $('#casesUnclaimed_Wrapper').html(content);
                    }
                });
            };

            function unclaimedEdit(e) {
                let th = e.currentTarget;
                e.stopPropagation();
                let id = $(th).parents('[data-unclaimed-id]').data('unclaimed-id');

                $.ajax({
                    url: '/ReestrUnclaimedDocuments/UnclaimedDocumentsChangeModalEdit',
                    type: 'POST',
                    data: { id: id },
                    beforeSend: () => {
                        $.pageBlock();
                    },
                    complete: () => {
                        $.unblockUI();
                    },
                    success: function (content) {
                        $('#mainModal').html(content).modal('show');
                    }
                });
            };

            function trasferPrint(e) {
                let th = e.currentTarget;
                e.stopPropagation();
                let id = $(th).parents('[data-unclaimed-id]').data('unclaimed-id');

                $.ajax({
                    url: '/ReestrUnclaimedDocuments/UnclaimedDocumentsPrint',
                    type: 'POST',
                    data: { id: id },
                    beforeSend: () => {
                        $.pageBlock();
                    },
                    complete: () => {
                        $.unblockUI();
                    },
                    success: function (data) {
                        printPDF(data);
                    }
                });
            };

            function unclaimedDownload(e) {
                let th = e.currentTarget;
                e.stopPropagation();
                let id = $(th).parents('[data-unclaimed-id]').data('unclaimed-id');

                let url = '@Url.Action("UnclaimedDocumentsDownload", "ReestrUnclaimedDocuments")/?id=' + id;
                window.open(url, "_blank");
            };

        });
    </script>
}


