@using AisLogistics.App.ViewModels.ModelBuilder
@using AisLogistics.App.ViewModels.ReestrUnclaimedDocuments
@model ViewModelBuilder
@{
    ViewBag.Title = Model.ViewTitle;
    var responseData = Model.Model as SearchUnclaimedDocumentsRequestData;
    var isView = (bool)ViewBag.CasesAllView;
}
<section>
    <!-- Search Bar -->
    <form id="UnclaimedDocuments-search-form" class="card w-100 mb-4">
        @*   <div class="row card-body">
        <div class="col-md-5">
        <label asp-for="@responseData.ProvidersId" class="form-label">Поставщик</label>
        <select class="form-select" asp-for="@responseData.ProvidersId" asp-items="@responseData.OfficesList" form="UnclaimedDocuments-search-form"></select>
        </div>
        <div class="col-md-5">
        <label asp-for="@responseData.ServiceId" class="form-label">Услуга</label>
        <select class="form-select" asp-for="@responseData.ServiceId" asp-items="@responseData.ServicesList" form="UnclaimedDocuments-search-form"></select>
        </div>
        </div>*@
    </form>
    <!-- Search Bar end -->
    <!-- seach result section -->
    <div class="row">
        <div class="col-6">
            <div class="card w-100">
                <div class="card-body">
                    <!-- datatable start -->
                    <div class="table-responsive">
                        <table id="@Model.TableName" data-action-table="@Model.TableMethodAction" class="table table-sm table-striped cursor-pointer table-hover w-100 "></table>
                    </div>
                    <!-- datatable ends -->
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card w-100 h-100">
                <div class="card-body">
                    <div id="casesUnclaimed_Wrapper">
                        <h3 class="text-center">Выберите Реестр</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
   <script>
        const $table = $("#@(Model.TableName)");
        officeReestr = $("#responseData_ProvidersId"),
            serviceReestr = $("#responseData_ServiceId"),


        $(document).ready(function () {
            $("#mainModal").on('hide.bs.modal', function () {
                $table.DataTable().ajax.reload();
            });

            $("#UnclaimedDocuments-search-form select").select2({
                placeholder: "Все",
                language: "ru"
            });

            officeReestr.change(function (e) {
                let arr = [];
                $.each($(e.target).val(), function (i, v) {
                    arr.push({ name: 'providersId', value: v })
                });
                $.ajax({
                    type: "GET",
                    url: 'ReestrUnclaimedDocuments/GetServicesForProviderDataJson',
                    data: arr,
                    beforeSend: () => {
                        serviceReestr.empty();
                        serviceReestr.prop("disabled", true);
                    },
                    success: (data) => {
                        data.forEach(function (item) {
                            serviceReestr.append($('<option>', {
                                value: item.id,
                                text: item.serviceName
                            }));
                        });
                    },
                    complete: () => {
                        serviceReestr.prop("disabled", false);
                    }
                });
            })


            $table.DataTable({
                sDom: "<'row justify-content-between mb-3'<'col-sm-12 col-md-4 padding-left-1'<'#officeFilter'>><'col-sm-12 col-md-6'><'col-sm-12 col-md-2 padding-right-1'<'#sortFilter'>>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                processing: true,
                serverSide: true,
                ordering: false,
                filter: true,
                searchDelay: 1500,
                ajax: {
                    url: $table.data('action-table'),
                    type: "POST",
                    datatype: "json",
                    dataSrc: function (json) {
                        return json.data;
                    }
                },
                initComplete: function () {
                    let officeSelectColumn = this.api().column(6);

                    var $officeFilter = $('#officeFilter');
                    if ('@isView' === 'True') {
                        var $officeFilterSelect = $('<select id="selectOfficeFilter" class="form-select form-select-sm"><option value="@Guid.Empty">ВСЕ</option>@Html.Raw(ViewBag.Mfc)</select>')
                            .appendTo($officeFilter)
                            .select2({
                                language: "ru",
                            })
                            .on('change', function () {
                                officeSelectColumn.search($(this).val()).draw();
                            });
                    }
                },
                columns: [
                    {
                        data: "id",
                        targets: 0,
                        title: '',
                        visible: false,
                        orderable: false
                    },
                    {
                        title: 'Номер',
                        name: 'reestrNumber',
                        render: function (data, type, row) {
                            let content = `<div>${row.reestrNumber}</div>`;
                            content += `<div>${row.dateAdd}</div>`;
                            content += `<div>${row.employeeFioAdd}</div>`;
                            if (row.jobPositionsName !== null)
                                content += `<div class="small">${row.jobPositionsName}</div>`;
                            return content;
                        }
                    },
                    {
                        title: 'Услуга',
                        name: 'Provider',
                        render: function (data, type, row) {
                            let str = row.serviceName.length > 90 ? row.serviceName.slice(0, 90) + "..." : row.serviceName;
                            let content = `<div title="${row.serviceName}">${str}</div>`;
                            content += `<div>${row.providerName}</div>`;
                            if (row.departementName !== null)
                                content += `<div class="small">${row.departementName}</div>`;
                            return content;
                        }
                    },
                    {
                        title: 'Кол-во услуг',
                        name: 'countService',
                        data: 'countService'
                    },
                    {
                        title: `<a href="/ReestrUnclaimedDocuments/UnclaimedDocumentsChangeModalAdd" class="btn btn-primary" data-btn-type="modal" data-bs-toggle="tooltip">
                                            Добавить
                                            </a>`,
                        className: "text-center",
                        name: 'actions',
                        render: function (data, type, row) {
                            let content = `<div data-reestr-id="${row.id}">`;
                            content += `<a  href="javascript:void(0);" id="editCasesUnclaimedDocuments" class="btn btn-sm btn-icon text-body" title="Редактирование номера">
                                                                <i class="bx bx-edit"></i>
                                                </a>`

                            content += `<a  href="javascript:void(0)" id="printCasesUnclaimedDocuments" class='btn btn-sm btn-icon text-primary'>
                                                                <i class="bx bx-printer"></i>
                                                </a>`;
                            content += `<a  href="javascript:void(0)" id="downloadCasesUnclaimedDocuments" class='btn btn-sm btn-icon text-success'>
                                                                <i class='bx bxs-download'></i>
                                                </a>`;

                            content += '</div>'
                            return content;
                        }
                    },
                    {
                        name: "filterSelect",
                        title: '',
                        visible: false,
                        orderable: false,
                        render: function (data, type, row) {
                            return "";
                        }
                    },
                    {
                        name: "officeFilterSelect",
                        title: '',
                        visible: false,
                        orderable: false,
                        render: function (data, type, row) {
                            return "";
                        }
                    },
                ]
            })
                .on('click', 'tbody tr', function (e) { casesUnclaimedDocuments(e) })
                .on('click', '#editCasesUnclaimedDocuments', function (e) { editCasesUnclaimedDocuments(e) })
                .on('click', '#printCasesUnclaimedDocuments', function (e) { printCasesUnclaimedDocuments(e) })
                .on('click', '#downloadCasesUnclaimedDocuments', function (e) { downloadCasesUnclaimedDocuments(e) });

            $('#UnclaimedDocuments-search-form').submit(function () {
                $table.DataTable().ajax.reload();
                return false;
            });

            function casesUnclaimedDocuments(e) {
                let th = e.currentTarget;
                let id = $(th).find('[data-reestr-id]').data('reestr-id');
                $.ajax({
                    url: '/ReestrUnclaimedDocuments/UnclaimedDocumentsChangeModalView',
                    type: 'POST',
                    data: { id: id },
                    beforeSend: () => {
                        $.pageBlock();
                    },
                    complete: () => {
                        $.unblockUI();
                    },
                    success: function (content) {
                        $('#casesUnclaimed_Wrapper').empty();
                        $('#casesUnclaimed_Wrapper').html(content);
                        //$('#modalContainer').html(content).modal('show');
                    }
                });
            }

            function printCasesUnclaimedDocuments(e) {
                let th = e.currentTarget;
                e.stopPropagation();

                let id = $(th).parent().data('reestr-id');
                $.ajax({
                    url: '/ReestrUnclaimedDocuments/UnclaimedDocumentsPrint',
                    type: 'POST',
                    data: { id: id },
                    beforeSend: () => {
                        $.pageBlock();
                    },
                    complete: () => {
                        $.unblockUI();
                    },
                    success: function (data) {
                        printPDF(data);
                    }
                });
            }

            function editCasesUnclaimedDocuments(e) {
                let th = e.currentTarget;
                e.stopPropagation();
                let id = $(th).parent().data('reestr-id');

                $.ajax({
                    url: '/ReestrUnclaimedDocuments/UnclaimedDocumentsChangeModalEdit',
                    type: 'POST',
                    data: { id: id },
                    beforeSend: () => {
                        $.pageBlock();
                    },
                    complete: () => {
                        $.unblockUI();
                    },
                    success: function (content) {
                        $('#mainModal').html(content).modal('show');
                    }
                });
            }

            function downloadCasesUnclaimedDocuments(e) {
                let th = e.currentTarget;
                e.stopPropagation();
                let id = $(th).parent().data('reestr-id');

                let url = '@Url.Action("UnclaimedDocumentsDownload", "ReestrUnclaimedDocuments")/?id=' + id;
                window.open(url, "_blank");
            }
        });
   </script>
}

