@using AisLogistics.App.Models.DTO.ReestrUnclaimedDocuments
@model ViewModelBuilder
@{
    ViewBag.Title = Model.ViewTitle;
    var data = Model.Model as List<ReestrUnclaimedDocumentsDto>;
}

<style>
    .cursor-pointer {
        cursor: pointer;
    }

    .unclaimed_Wrapper {
        height: 50rem;
    }

    .unclaimed-menu-column {
 /*       width: 3.5em;
        max-width: 3.5em;*/
    }
</style>

<section>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-4">
                    <div class="unclaimed_Wrapper" id="unclaimed_Wrapper">
                        <input id="unclaimedId" type="hidden" />
                        @foreach (var item in data)
                        {
                            <div data-unclaimed-id="@item.Id" class="card cursor-pointer mb-3">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between mb-1">
                                        <div id="unclaimed_text" class="text-dark fw-bolder">№ @item.ReestrNumber</div>
                                        <div class="text-muted"><span class="text-body">Количество:</span> @item.CountService</div>
                                    </div>
                                    <div class="text-muted mb-1"><span class="text-body">Услуга:</span> @item.ServiceName</div>
                                    <div class="text-muted mb-1"><span class="text-body">Поставщик:</span> @item.ProviderName</div>
                                    <div class="text-muted mb-1"><span class="text-body">Департамент:</span> @(item.DepartementName.Length > 0 ? item.DepartementName : "-")</div>
                                    <div class="text-muted mb-1"><span class="text-body">Сотрудник:</span> @item.EmployeeFioAdd</div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-8">
                    <div class="card" id="empty-table">
                        <div class="card-body">
                            <div class="alert alert-primary m-0" role="alert">
                                <h6 class="alert-heading mb-1">Внимание</h6>
                                <span>Выберите реестр</span>
                            </div>
                        </div>
                    </div>
                    <div class="card d-none">
                        <div class="card-header">
                            <h5 class="card-title mb-0" id="card_title"></h5>
                        </div>
                        <span class="border-bottom"></span>
                        <div class="card-body pt-0">
                            <div class="table-responsive">
                                <table id="@Model.TableName" data-action-table="@Model.TableMethodAction" class="table table-sm"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>

        const $table = $("#@(Model.TableName)");

        $(document).ready(function () {

            new PerfectScrollbar("#unclaimed_Wrapper");

            const showTable = () => {
                $("#empty-table").remove();
                $table.closest(".card.d-none").removeClass("d-none");
            };

            $('[data-unclaimed-id]').click(function () {
                let id = $(this).data('unclaimed-id');
                let text = $(this).find('#unclaimed_text').text();
                $('#card_title').html("Реестр " + text);
                $('#unclaimedId').val(id);
                $table.DataTable().ajax.reload();
                showTable();
                return false;
            })

            $table.DataTable({
                sDom: "<'row'<'col-sm-12'tr>>",
                //    "<'row mt-3'<'col-sm-12'tr>>" +
                //    "<'row'<'col-sm-12'tr>>", 
                    //"<'row'<'col-sm-12 col-md-5><'col-sm-12 col-md-7>>",
                scrollY: 200,
                scroller: true,
                processing: true,
                serverSide: true,
                filter: false,
                searchDelay: 1500,
                info: false,
                ajax: {
                    url: $table.data('action-table'),
                    type: "POST",
                    data: function (data) {
                         data['UnclaimedId'] = $('#unclaimedId').val();
                    }
                },
                initComplete: function () {
                    $('#checkSelectedRowMain').change(function () {
                        let value = $('#checkSelectedRowMain').prop("checked");
                        $('[data-check]').each(function (i, el) {
                            $(el).prop("checked", value)
                        });
                    });

                    $('[data-check]').change(function () {
                        if ($('#checkSelectedRowMain').prop("checked"))
                            $('#checkSelectedRowMain').prop("checked", false);
                    });

                },
                columnDefs: [
                    {
                        data: "id",
                        targets: 0,
                        title: '',
                        visible: false,
                        orderable: false
                    },
                    {
                        title: `<div class="d-flex justify-content-between align-items-center"><input type="checkbox" data-check-main id="checkSelectedRowMain"></div>`,
                        targets: 1,
                        name: 'dataCheck',
                        orderable: false,
                        render: function (data, type, row) {
                            let content = `<input type="checkbox" data-service-id="${row.serviceId}" data-check id="checkSelectedRow">`;
                            return content;
                        }
                    },
                    {
                        data: "casesNumber",
                        targets: 2,
                        title: 'Номер обращения',
                        orderable: false
                    },
                    {
                        data: "customerName",
                        targets: 3,
                        title: 'ФИО',
                        orderable: false
                    },
                    {
                        data: "customerAddress",
                        targets: 4,
                        title: 'Адрес',
                        orderable: false
                    },
                    {
                        targets: 5,
                        title: 'Номер телефона',
                        orderable: false,
                        render: function (data, type, row) {
                            let content = `<div>${row.customerPhone1}</div>`;
                            if (row.customerPhone2 !== null)
                                content += `<div>${row.customerPhone2}</div>`;
                            return content;
                        }
                    },
                    {
                        targets: 6,
                        className: "unclaimed-menu-column",
                        title: ` <div class="dropdown">
                                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <div class="dropdown-item">
                                                <a class="w-100 d-block" href="javascript:void(0);" onclick="PrintReestr()">Печать</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-item">
                                                <a class="w-100 d-block" href="javascript:void(0);" onclick="CaseAddStage()">Добавить Этап</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-item">
                                                <a class="w-100 d-block" href="javascript:void(0);" onclick="CaseAddComment()">Добавить комментарий</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>`,
                        orderable: false,
                        render: function (data, type, row) {
                            return "";
                        }
                    }

                ]
            });

        });

    </script>
}
