@using AisLogistics.App.ViewModels.Cases
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ViewModelBuilder
@{
    ViewBag.Title = Model.ViewTitle;
    var responseData = Model.Model as SearchCasesResponseData;
    var filterselect = new string[] { "По умолчанию", "по дате возрастания", "по дате убывания", "по дням возростания", "по дням убывания" };
    var filterSelectOptions = string.Join("", filterselect.Select((s, i) => $"<option value=\"{i}\">{s}</option>"));
    var isView = (bool)ViewBag.CasesAllView;
}

<link rel="stylesheet" href="~/assets/css/css-reestr.css" asp-append-version="true" />

<section class="search-bar-wrapper">
    <form id="services-search-form" class="mb-3">
        <div class="row">
            <div class="col-3">
                @if (isView)
                {
                    <select class="form-select select select2-search" asp-for="@responseData.MfcId" asp-items="@responseData.MfcList" form="services-search-form">
                        <option value="">ВСЕ</option>
                    </select>
                }
                else
                {
                    <select class="form-select select select2-search" asp-for="@responseData.MfcId" asp-items="@responseData.MfcList" form="services-search-form" disabled></select>
                }
            </div>
            <div class="col-7">
                <div class="search-bar">
                    <!-- input search -->
                    <fieldset class="page-search-input input-group position-relative m-0">
                        <input type="search" asp-for="@responseData.Query" class="form-control rounded-right ps-2" placeholder="Номер обращения, ПКПВД, ФИО, адрес или номер телефона" data-query>
                    </fieldset>
                    <!--/ input search -->
                </div>
            </div>
        </div>
    </form>
<div class="card">
    <div class="card-body">
        <!-- datatable start -->
        <div class="table-responsive mt-3">
            <table id="@Model.TableName" data-action-table="@Model.TableMethodAction" class="directory_names-items table table-fs"></table>
        </div>
        <!-- datatable ends -->
    </div>
</div>
</section>


@section Scripts
    { 
    <script>
        const $table = $("#@(Model.TableName)");

        $(document).ready(function () {
            $('select.select2-search').select2({});

            $('#services-search-form select').change(function () {
                $table.DataTable().ajax.reload();
                return false;
            });

            $table.DataTable({
                sDom: "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                processing: true,
                serverSide: true,
                ordering: false,
                filter: true,
                searchDelay: 1500,
                ajax: {
                    url: $table.data('action-table'),
                    type: "POST",
                    datatype: "json",
                    data: function (data) {
                        let form = document.querySelector('#services-search-form');
                        var formData = new FormData(form);
                        for (var pair of formData.entries()) {
                            let name = pair[0].split('.')[1];
                            if (pair[1]) data[name] = pair[1];
                        }
                    }
                },
                columns: [
                    {//ДАТА И СТАТУС
                        title: `Дата и статус`,
                        //className: "case-dateAdd-column text-centr",
                        //name: 'dateAdd',
                        //name: 'statusId',
                        render: function (data, type, row) {

                            let colorStatus = "";
                            switch (row.service.status.id) {
                                case 0:
                                    colorStatus = "warning";
                                    break;
                                case 1:
                                    colorStatus = "success";
                                    break;
                                case 2:
                                    colorStatus = "secondary";
                                    break;
                                case 4:
                                    colorStatus = "bsecondary";
                                    break;
                                case 5:
                                    colorStatus = "danger";
                                    break;
                            }; 
                            let content = `<div class="table_date_status d-flex flex-column"><p>${row.casesMainDto.dateAdd}</p><p class="case-number-column">${row.casesMainDto.caseId}</p ><span class= "${colorStatus}">${row.service.status.name}</span></div > `;
                            return content;
                        }
                    },
                    
                    {//Заявитель
                        title: 'Заявитель',
                        //className: "table_applicant",
                        name: 'customer',
                        render: function (data, type, row) {
                            let content = '<div>'
                                content += `<div class="text-bold">${row.casesMainDto.applicant.name}</div>`;
                            if (row.casesMainDto.applicant.address !== null)
                                content += `<div class="d-flex"><div><img class="mb-auto me-1 " src="/img/location.svg" alt=""/> ${row.casesMainDto.applicant.address}</div></div>`;
                            if (row.casesMainDto.applicant.phone !== null)
                                content += `<div class="d-flex"><div><img class="mb-auto me-1" src="/img/phone.svg" alt=""/> ${row.casesMainDto.applicant.phone}</div></div>`;
                                content += '</div>'
                            return content;
                        }
                    },
                    { //Услуга
                        title: `Услуга`,
                        //className: "case-services-column",
                        name: 'servicesId',
                        render: function (data, type, row) {
                            let str = row.service.name.length > 90 ? row.service.name.slice(0, 90) + "..." : row.service.name
                            return `<div><div title="${row.service.name}">${str}</div><div class="text-bold">${row.service.office}</div></div>`;
                        }
                    },
                    {
                        title: 'Исполнитель',
                        //className: "case-currentEmployee-column",
                        name: 'currentEmployee',
                        render: function (data, type, row) {
                            return `<div>
                                        <div class="text-bold">${row.service.serivesStage.employeeCurrent.name}</div>
                                        <div>${row.service.serivesStage.employeeCurrent.job}</div>
                                        <div>${row.service.serivesStage.office}</div>
                                    </div>`;
                        }
                    },
                    {
                        title: `Действие`,
                        //className: "case-stage-column",
                        name: 'stageId',
                        render: function (data, type, row) {
                            let content = `<a href="javascript:void(0);" data-service-id="${row.service.id}" id="btnStageAdd" class="btn btn-success waves-effect waves-float waves-light" role="button">Выдать</a>`;
                            return content;
                        }
                    }
                ]
            }).on('click', 'tbody tr', function () {
                var val = $(this).find('.case-number-column').text();
                window.open(`/Cases/Details?id=${val}`, "_blank");
            }).on('click', '#btnStageAdd', function (e) { stageAdd(e) })

             
            function stageAdd(e) {
                e.stopPropagation();
                let th = e.currentTarget;
                let id = $(th).data('service-id');
                $.ajax({
                    url: '/Cases/ServiceStageAddModal',
                    type: 'POST',
                    data: { id: id },
                    beforeSend: () => {
                        $.pageBlock();
                    },
                    complete: () => {
                        $.unblockUI();
                    },
                    success: function (data) {
                        $("#mainModal").html(data).modal('show');
                    }
                });
            }

        });

    </script>
}

