@using AisLogistics.App.ViewModels.Cases
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ViewModelBuilder
@{
    ViewBag.Title = Model.ViewTitle;
    var requestModel = Model.Model as CaseDetailsResponseModel<CasesDto>;
}

<link rel="stylesheet" href="~/assets/vendor/libs/scanner.js/dist/scanner.css" />
<link rel="stylesheet" href="~/assets/css/case-details.css" asp-append-version="true" />
@*<link rel="stylesheet" href="~/assets/css/case-create.css" asp-append-version="true" />*@

<section>
    <div class="row">
        <div class="detail-card card px-5 py-4">
            @await Component.InvokeAsync("CaseInformation", new {caseDto = requestModel.Data.casesMainDto})
            <div class="case-app-body pt-4">
                <div class="row h-100 w-100 m-0">
                    <div class="col-lg-3 col-12 case-app-content ps-0">
                        <div class="case-user-list ps">
                            @foreach (var item in requestModel.Data.Services)
                            {
                                <div class="case-user-list_card" data-service-id="@item.Id">
                                    <div class="d-flex align-items-center mb-3">
                                        <div class="col">
                                            <i class="bi bi-globe-americas me-2"></i>
                                            <span class="b-s-14">
                                                @item.InteractionName
                                            </span>
                                        </div>
                                        <div class="col btn btn-warning">
                                            @item.Status.Name
                                        </div>
                                    </div>
                                    <p class="m-s-14">@(item.Name.Length > 350 ? item.Name.Substring(0, 350) + "..." : item.Name)</p>
                                    <p class="m-l-12">@item.ProcedureName</p>
                                    <p class="r-l-12">@(item.Office.Length > 350 ? item.Office.Substring(0, 350) + "..." : item.Office)</p>
                                    <a class="d-flex mb-3 text-decoration-underline fs-12" asp-action="ServiceDepartamentAddModal" asp-route-id="@item.Id" asp-route-officeid="@item.OfficeId"
                                    asp-route-departamentId="@item.DepartamentId" data-bs-toggle="tooltip" title="Добавить" data-btn-type="modal">
                                        
                                            @(item.DepartamentName ?? "Отдел не выбран") 
                                    </a>
                                    <div class="d-flex">
                                        <div class="col">
                                            <div class="b-s-12">Принял:</div>
                                            <div class="mb-0 r-s-12 ">@item.EmployeeAdd.Name</div>
                                            <p class="r-l-12">@item.EmployeeAdd.Job</p>
                                        </div>
                                        <div class="col">
                                            <div class="b-s-12">Текущий:</div>
                                            <div class="mb-0 r-s-12">@item.SerivesStage.EmployeeCurrent.Name</div>
                                            <p class="r-l-12">@item.SerivesStage.EmployeeCurrent.Job</p>
                                        </div>
                                    </div>
                                    <div class="d-flex">
                                        <div class="col">
                                            <div class="b-s-12">Этап:</div>
                                            <p class="my-0 fs-12">@item.SerivesStage.Stage.Name</p>
                                        </div>
                                        <div class="col">
                                            <div class="b-s-12">Дни:</div>
                                            <p class="my-0 fs-12"><days count="@(item.Days.Value == null ? 0:item.Days.Value)"></days></p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-lg-6 col-12 case-app-content">
                        <partial name="Details/_ManageNav" view-data="ViewData" />
                        <div id="case-app-details"></div>
                    </div>
                    <div class="col-lg-3 col-12 case-app-content">
                        <div class="caseStages-wrapper">
                            <div class="case-route-header d-flex justify-content-between pt-3">
                                <div class="col-auto b-s-14">Этапы</div>
                                <div class="col-auto">
                                    @if (User.HasClaim(AccessKeyNames.DataCaseServiceStage, AccessKeyValues.Add))
                                    {
                                        <a href="javascript:void(0);" class="flex d-flex text-primary fs-14" data-service-stages title="Добавить">
                                           <strong class="me-2">+</strong>
                                            Добавить
                                        </a>
                                    }
                                </div>
                            </div>
                            <div class="" id=caseStages>
                            </div>
                        </div>
                        <div class="blancs_and_files-wrapper mt-5 overflow-auto scroller">
                            <ul class="nav nav-custom nav-justified" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link active m-s-12 pt-3 " id="blancs-tab" data-bs-toggle="tab" data-bs-target="#Expired" href="#" role="tab" aria-controls="Expired" aria-selected="true">
                                        Бланки
                                    </a>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <a class="nav-link m-s-12 pt-3 " id="files-tab" data-bs-toggle="tab" href="#" role="tab" aria-controls="Lastday" aria-selected="false">
                                        Файлы
                                    </a>
                                </li>
                            </ul>
                            <div id="blancsAndFiles-content" class="blancs-scroll-area">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
    {
      <script src="~/assets/vendor/libs/scanner.js/dist/scannerV2.js" type="text/javascript"></script>
      <script src="~/assets/js/pages/case-details.js"></script>
    }