@using AisLogistics.App.Models.DTO.Information
@using AisLogistics.App.Views.Cases.Details

@{
    ViewData["Title"] = "Главная";
    List<EmployeeInformationDto>? information = ViewBag.Inf;
    EmployeeWarningDto warnig = ViewBag.Warning;
    List<EmployeeNotesDto>? notes = ViewBag.Notes;
    List<EmployeeRatingDto>? ratings = ViewBag.Rating;
    var i = 1;
}
<link rel="stylesheet" href="~/assets/css/home-details.css" asp-append-version="true" />
<section>
    <p class="head-info mb-2">Информация</p>
    <div class="info-content">
        <button id="leftButton" class="p-0 left-button">
            <div class="my-auto"><i class="bi bi-chevron-left"></i></div>
        </button>
        <div class="info-conteiner d-inline-block" id="information_list">
            <div class="info-items mx-2">
                @if (information is not null && information.Any())
                {
                    @foreach (var item in information)
                    {
                        <a asp-action="InformationDetailsModal" asp-controller="Home" asp-route-id="@item.Id" class="col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3 text-bodyrow my-3 ms-2 me-1 info-item-@i" data-btn-type="modal" data-bs-toggle="tooltip">
                            <div class="row m-2">
                                <div class="col-6">
                                    <span class="type">@item.Type</span>
                                </div>
                                <div class="col-6 pe-3 text-end">
                                    <span class="ms-auto">
                                        <small class="dateAdd">@item.DateAdd.ToLongDateString()</small>
                                    </span>
                                </div>
                            </div>
                            <div class="row col-12 m-2 mb-0">
                                <div class="topic">@item.Topic</div>
                            </div>
                            <div class="row col-12 m-2 mt-0 text-block">
                                <span class="text mt-2">@item.Text</span>
                            </div>
                            <div class="row m-2 mt-3">
                                <div class="col-12 d-flex justify-content-between">
                                    <span class="employeeFio">
                                        @item.EmployeeFio
                                    </span>
                                    <span class="employeeJob">
                                        @item.EmployeeJob
                                    </span>
                                </div>
                            </div>
                        </a>
                        <a asp-action="InformationDetailsModal" asp-controller="Home" asp-route-id="@item.Id" class="col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3 text-bodyrow my-3 ms-2 me-1 info-item-@i" data-btn-type="modal" data-bs-toggle="tooltip">
                            <div class="row m-2">
                                <div class="col-6">
                                    <span class="type">@item.Type</span>
                                </div>
                                <div class="col-6 pe-3 text-end">
                                    <span class="ms-auto">
                                        <small class="dateAdd">@item.DateAdd.ToLongDateString()</small>
                                    </span>
                                </div>
                            </div>
                            <div class="row col-12 m-2 mb-0">
                                <div class="topic">@item.Topic</div>
                            </div>
                            <div class="row col-12 m-2 mt-0 text-block">
                                <span class="text mt-2">@item.Text</span>
                            </div>
                            <div class="row m-2 mt-3">
                                <div class="col-12 d-flex justify-content-between">
                                    <span class="employeeFio">
                                        @item.EmployeeFio
                                    </span>
                                    <span class="employeeJob">
                                        @item.EmployeeJob
                                    </span>
                                </div>
                            </div>
                        </a>
                        <a asp-action="InformationDetailsModal" asp-controller="Home" asp-route-id="@item.Id" class="col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3 text-bodyrow my-3 ms-2 me-1 info-item-@i" data-btn-type="modal" data-bs-toggle="tooltip">
                            <div class="row m-2">
                                <div class="col-6">
                                    <span class="type">@item.Type</span>
                                </div>
                                <div class="col-6 pe-3 text-end">
                                    <span class="ms-auto">
                                        <small class="dateAdd">@item.DateAdd.ToLongDateString()</small>
                                    </span>
                                </div>
                            </div>
                            <div class="row col-12 m-2 mb-0">
                                <div class="topic">@item.Topic</div>
                            </div>
                            <div class="row col-12 m-2 mt-0 text-block">
                                <span class="text mt-2">@item.Text</span>
                            </div>
                            <div class="row m-2 mt-3">
                                <div class="col-12 d-flex justify-content-between">
                                    <span class="employeeFio">
                                        @item.EmployeeFio
                                    </span>
                                    <span class="employeeJob">
                                        @item.EmployeeJob
                                    </span>
                                </div>
                            </div>
                        </a>
                        <a asp-action="InformationDetailsModal" asp-controller="Home" asp-route-id="@item.Id" class="col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3 text-bodyrow my-3 ms-2 me-1 info-item-@i" data-btn-type="modal" data-bs-toggle="tooltip">
                            <div class="row m-2">
                                <div class="col-6">
                                    <span class="type">@item.Type</span>
                                </div>
                                <div class="col-6 pe-3 text-end">
                                    <span class="ms-auto">
                                        <small class="dateAdd">@item.DateAdd.ToLongDateString()</small>
                                    </span>
                                </div>
                            </div>
                            <div class="row col-12 m-2 mb-0">
                                <div class="topic">@item.Topic</div>
                            </div>
                            <div class="row col-12 m-2 mt-0 text-block">
                                <span class="text mt-2">@item.Text</span>
                            </div>
                            <div class="row m-2 mt-3">
                                <div class="col-12 d-flex justify-content-between">
                                    <span class="employeeFio">
                                        @item.EmployeeFio
                                    </span>
                                    <span class="employeeJob">
                                        @item.EmployeeJob
                                    </span>
                                </div>
                            </div>
                        </a>
                        <a asp-action="InformationDetailsModal" asp-controller="Home" asp-route-id="@item.Id" class="col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3 text-bodyrow my-3 ms-2 me-1 info-item-@i" data-btn-type="modal" data-bs-toggle="tooltip">
                            <div class="row m-2">
                                <div class="col-6">
                                    <span class="type">@item.Type</span>
                                </div>
                                <div class="col-6 pe-3 text-end">
                                    <span class="ms-auto">
                                        <small class="dateAdd">@item.DateAdd.ToLongDateString()</small>
                                    </span>
                                </div>
                            </div>
                            <div class="row col-12 m-2 mb-0">
                                <div class="topic">@item.Topic</div>
                            </div>
                            <div class="row col-12 m-2 mt-0 text-block">
                                <span class="text mt-2">@item.Text</span>
                            </div>
                            <div class="row m-2 mt-3">
                                <div class="col-12 d-flex justify-content-between">
                                    <span class="employeeFio">
                                        @item.EmployeeFio
                                    </span>
                                    <span class="employeeJob">
                                        @item.EmployeeJob
                                    </span>
                                </div>
                            </div>
                        </a>
                        <a asp-action="InformationDetailsModal" asp-controller="Home" asp-route-id="@item.Id" class="col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3 text-bodyrow my-3 ms-2 me-1 info-item-@i" data-btn-type="modal" data-bs-toggle="tooltip">
                            <div class="row m-2">
                                <div class="col-6">
                                    <span class="type">@item.Type</span>
                                </div>
                                <div class="col-6 pe-3 text-end">
                                    <span class="ms-auto">
                                        <small class="dateAdd">@item.DateAdd.ToLongDateString()</small>
                                    </span>
                                </div>
                            </div>
                            <div class="row col-12 m-2 mb-0">
                                <div class="topic">@item.Topic</div>
                            </div>
                            <div class="row col-12 m-2 mt-0 text-block">
                                <span class="text mt-2">@item.Text</span>
                            </div>
                            <div class="row m-2 mt-3">
                                <div class="col-12 d-flex justify-content-between">
                                    <span class="employeeFio">
                                        @item.EmployeeFio
                                    </span>
                                    <span class="employeeJob">
                                        @item.EmployeeJob
                                    </span>
                                </div>
                            </div>
                        </a>
                        <a asp-action="InformationDetailsModal" asp-controller="Home" asp-route-id="@item.Id" class="col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3 text-bodyrow my-3 ms-2 me-1 info-item-@i" data-btn-type="modal" data-bs-toggle="tooltip">
                            <div class="row m-2">
                                <div class="col-6">
                                    <span class="type">@item.Type</span>
                                </div>
                                <div class="col-6 pe-3 text-end">
                                    <span class="ms-auto">
                                        <small class="dateAdd">@item.DateAdd.ToLongDateString()</small>
                                    </span>
                                </div>
                            </div>
                            <div class="row col-12 m-2 mb-0">
                                <div class="topic">@item.Topic</div>
                            </div>
                            <div class="row col-12 m-2 mt-0 text-block">
                                <span class="text mt-2">@item.Text</span>
                            </div>
                            <div class="row m-2 mt-3">
                                <div class="col-12 d-flex justify-content-between">
                                    <span class="employeeFio">
                                        @item.EmployeeFio
                                    </span>
                                    <span class="employeeJob">
                                        @item.EmployeeJob
                                    </span>
                                </div>
                            </div>
                        </a>
                        <a asp-action="InformationDetailsModal" asp-controller="Home" asp-route-id="@item.Id" class="col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3 text-bodyrow my-3 ms-2 me-1 info-item-@i" data-btn-type="modal" data-bs-toggle="tooltip">
                            <div class="row m-2">
                                <div class="col-6">
                                    <span class="type">@item.Type</span>
                                </div>
                                <div class="col-6 pe-3 text-end">
                                    <span class="ms-auto">
                                        <small class="dateAdd">@item.DateAdd.ToLongDateString()</small>
                                    </span>
                                </div>
                            </div>
                            <div class="row col-12 m-2 mb-0">
                                <div class="topic">@item.Topic</div>
                            </div>
                            <div class="row col-12 m-2 mt-0 text-block">
                                <span class="text mt-2">@item.Text</span>
                            </div>
                            <div class="row m-2 mt-3">
                                <div class="col-12 d-flex justify-content-between">
                                    <span class="employeeFio">
                                        @item.EmployeeFio
                                    </span>
                                    <span class="employeeJob">
                                        @item.EmployeeJob
                                    </span>
                                </div>
                            </div>
                        </a>
                        <a asp-action="InformationDetailsModal" asp-controller="Home" asp-route-id="@item.Id" class="col-sm-12 col-md-6 col-lg-6 col-xl-4 col-xxl-3 text-bodyrow my-3 ms-2 me-1 info-item-@i" data-btn-type="modal" data-bs-toggle="tooltip">
                            <div class="row m-2">
                                <div class="col-6">
                                    <span class="type">@item.Type</span>
                                </div>
                                <div class="col-6 pe-3 text-end">
                                    <span class="ms-auto">
                                        <small class="dateAdd">@item.DateAdd.ToLongDateString()</small>
                                    </span>
                                </div>
                            </div>
                            <div class="row col-12 m-2 mb-0">
                                <div class="topic">@item.Topic</div>
                            </div>
                            <div class="row col-12 m-2 mt-0 text-block">
                                <span class="text mt-2">@item.Text</span>
                            </div>
                            <div class="row m-2 mt-3">
                                <div class="col-12 d-flex justify-content-between">
                                    <span class="employeeFio">
                                        @item.EmployeeFio
                                    </span>
                                    <span class="employeeJob">
                                        @item.EmployeeJob
                                    </span>
                                </div>
                            </div>
                        </a>
                        i++;
                        i = i > 4 ? 4 : i;
                    }
                }
            </div>
        </div>
        <button id="rightButton" class="p-0 right-button">
            <div class="my-auto"><i class="bi bi-chevron-right"></i></div>
        </button>
    </div>
    <div class="row mt-4">
        <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12">
            <p class="head-info mb-2">Топ сотрудников за @DateTime.Now.AddDays(-1).ToString("Y")</p>
            <div class="info-employee" id="content-datatable">
                <div class="table-responsive pt-2">
                    <table id="tableRating" class="table table-sm ps-0"></table>
                </div>
            </div>
        </div>
        <div class="col-col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 ps-2">
            <p class="head-info mb-2">Заметки</p>
            <div class="info-notes overflow-auto" id="notes_list">
                @if (notes is not null && notes.Any())
                {
                    @foreach (var item in notes)
                    {
                        <a asp-action="Details" asp-controller="Cases" asp-route-id="@item.DCasesId" class="row w-100 notes-item m-0 p-4">
                            <div class="col-6">
                                <p class="casesId mb-1">#@item.DCasesId</p>
                            </div>
                            <div class="col-6 text-end">
                                <span class="reminder"> Напомнить:</span> <span class="dateReminder"> @(item.DateReminder.HasValue ? item.DateReminder.Value.ToShortDateString() : string.Empty)</span>
                            </div>
                            <div class="row col-12 pb-1 ps-4 applicantName">
                                @item.ApplicantName
                            </div>
                            <div class="col-12 noteText mt-1">
                                @item.NoteText
                            </div>
                        </a>
                        <a asp-action="Details" asp-controller="Cases" asp-route-id="@item.DCasesId" class="row w-100 notes-item m-0 p-4">
                            <div class="col-6">
                                <p class="casesId mb-1">#@item.DCasesId</p>
                            </div>
                            <div class="col-6 text-end">
                                <span class="reminder"> Напомнить:</span> <span class="dateReminder"> @(item.DateReminder.HasValue ? item.DateReminder.Value.ToShortDateString() : string.Empty)</span>
                            </div>
                            <div class="row col-12 pb-1 ps-4 applicantName">
                                @item.ApplicantName
                            </div>
                            <div class="col-12 noteText mt-1">
                                @item.NoteText
                            </div>
                        </a>
                        <a asp-action="Details" asp-controller="Cases" asp-route-id="@item.DCasesId" class="row w-100 notes-item m-0 p-4">
                            <div class="col-6">
                                <p class="casesId mb-1">#@item.DCasesId</p>
                            </div>
                            <div class="col-6 text-end">
                                <span class="reminder"> Напомнить:</span> <span class="dateReminder"> @(item.DateReminder.HasValue ? item.DateReminder.Value.ToShortDateString() : string.Empty)</span>
                            </div>
                            <div class="row col-12 pb-1 ps-4 applicantName">
                                @item.ApplicantName
                            </div>
                            <div class="col-12 noteText mt-1">
                                @item.NoteText
                            </div>
                        </a>
                        <a asp-action="Details" asp-controller="Cases" asp-route-id="@item.DCasesId" class="row w-100 notes-item m-0 p-4">
                            <div class="col-6">
                                <p class="casesId mb-1">#@item.DCasesId</p>
                            </div>
                            <div class="col-6 text-end">
                                <span class="reminder"> Напомнить:</span> <span class="dateReminder"> @(item.DateReminder.HasValue ? item.DateReminder.Value.ToShortDateString() : string.Empty)</span>
                            </div>
                            <div class="row col-12 pb-1 ps-4 applicantName">
                                @item.ApplicantName
                            </div>
                            <div class="col-12 noteText mt-1">
                                @item.NoteText
                            </div>
                        </a>
                        <a asp-action="Details" asp-controller="Cases" asp-route-id="@item.DCasesId" class="row w-100 notes-item m-0 p-4">
                            <div class="col-6">
                                <p class="casesId mb-1">#@item.DCasesId</p>
                            </div>
                            <div class="col-6 text-end">
                                <span class="reminder"> Напомнить:</span> <span class="dateReminder"> @(item.DateReminder.HasValue ? item.DateReminder.Value.ToShortDateString() : string.Empty)</span>
                            </div>
                            <div class="row col-12 pb-1 ps-4 applicantName">
                                @item.ApplicantName
                            </div>
                            <div class="col-12 noteText mt-1">
                                @item.NoteText
                            </div>
                        </a>
                        <a asp-action="Details" asp-controller="Cases" asp-route-id="@item.DCasesId" class="row w-100 notes-item m-0 p-4">
                            <div class="col-6">
                                <p class="casesId mb-1">#@item.DCasesId</p>
                            </div>
                            <div class="col-6 text-end">
                                <span class="reminder"> Напомнить:</span> <span class="dateReminder"> @(item.DateReminder.HasValue ? item.DateReminder.Value.ToShortDateString() : string.Empty)</span>
                            </div>
                            <div class="row col-12 pb-1 ps-4 applicantName">
                                @item.ApplicantName
                            </div>
                            <div class="col-12 noteText mt-1">
                                @item.NoteText
                            </div>
                        </a>
                        <a asp-action="Details" asp-controller="Cases" asp-route-id="@item.DCasesId" class="row w-100 notes-item m-0 p-4">
                            <div class="col-6">
                                <p class="casesId mb-1">#@item.DCasesId</p>
                            </div>
                            <div class="col-6 text-end">
                                <span class="reminder"> Напомнить:</span> <span class="dateReminder"> @(item.DateReminder.HasValue ? item.DateReminder.Value.ToShortDateString() : string.Empty)</span>
                            </div>
                            <div class="row col-12 pb-1 ps-4 applicantName">
                                @item.ApplicantName
                            </div>
                            <div class="col-12 noteText mt-1">
                                @item.NoteText
                            </div>
                        </a>
                        <a asp-action="Details" asp-controller="Cases" asp-route-id="@item.DCasesId" class="row w-100 notes-item m-0 p-4">
                            <div class="col-6">
                                <p class="casesId mb-1">#@item.DCasesId</p>
                            </div>
                            <div class="col-6 text-end">
                                <span class="reminder"> Напомнить:</span> <span class="dateReminder"> @(item.DateReminder.HasValue ? item.DateReminder.Value.ToShortDateString() : string.Empty)</span>
                            </div>
                            <div class="row col-12 pb-1 ps-4 applicantName">
                                @item.ApplicantName
                            </div>
                            <div class="col-12 noteText mt-1">
                                @item.NoteText
                            </div>
                        </a>
                        <a asp-action="Details" asp-controller="Cases" asp-route-id="@item.DCasesId" class="row w-100 notes-item m-0 p-4">
                            <div class="col-6">
                                <p class="casesId mb-1">#@item.DCasesId</p>
                            </div>
                            <div class="col-6 text-end">
                                <span class="reminder"> Напомнить:</span> <span class="dateReminder"> @(item.DateReminder.HasValue ? item.DateReminder.Value.ToShortDateString() : string.Empty)</span>
                            </div>
                            <div class="row col-12 pb-1 ps-4 applicantName">
                                @item.ApplicantName
                            </div>
                            <div class="col-12 noteText mt-1">
                                @item.NoteText
                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>

        (function () {
            //new PerfectScrollbar("#warning_list");
            new PerfectScrollbar("#rating_list");

            (function () {
                new PerfectScrollbar("#warning_list");
                new PerfectScrollbar("#notes_list");
            })();

        });
        $(document).ready(function () {
            const $table = $('#tableRating');
            $table.DataTable({
                sDom: "<'row'<'col-sm-12'tr>>",
                serverSide: true,
                ordering: false,
                "sScrollY": 440,
                searchDelay: 1500,
                ajax: {
                    url: 'Home/GetEmployeeRatingDataJson',
                    type: "POST",
                    datatype: "json",
                    dataSrc: function (json) { 
                        return json.data;
                    }
                },
                initComplete: function () {
                },
                columns: [
                    {
                        title: `Место`,
                        data: "positionId"
                    },
                    {
                        title: `ФИО`,
                        sWidth: '45%',
                        render: function (data, type, row) {
                            return row.employeeName + `<p class="offices mt-1 mb-2">${row.officessName}</p>`;
                        }
                    },
                    {
                        title: `Принято`,
                        className: 'employeePoint',
                        data: "employeePoint"
                    },
                    {
                        title: `Выдано`,
                        className: 'employeePoint',
                        data: "employeePoint"
                    },
                    {
                        title: `Консультация`,
                        className: 'employeePoint',
                        data: "employeePoint"
                    },
                    {
                        title: `Всего`,
                        className: 'total',
                        data: "employeePoint"
                    }
                ]
            });

            var _infoCount = ~~($('.info-items a').length / 4);
            var infoCount = _infoCount

            $('#rightButton').on('click', function () {
                if (infoCount > 0) {
                    let width = $('.info-items').width();
                    let right = +$('.info-items').css('right').split('px')[0] + width;
                    $('.info-items').animate({ "right": `${right}px` }, 1000);
                    infoCount--;
                }
            })

            $('#leftButton').on('click', function () {
                if (infoCount < _infoCount) {
                    let width = $('.info-items').width();
                    let right = +$('.info-items').css('right').split('px')[0] - width;
                    $('.info-items').animate({ "right": `${right}px` }, 1000);
                    infoCount++;
                    if (infoCount == _infoCount) {
                        $('.info-items').animate({ "right": '0px' }, 1000);
                    }
                }
            })

        })

    </script>
}