@using SmevRouter
@model AisLogistics.App.ViewModels.Cases.SmevCreateResponseModel
@{
    var applicants = Model.GetApplicants();
    var request = new FssRaschRegistrationRequestData
            {
                DateStart = DateTime.Today,
                FlFio = new(),
            };
}

<style>
    #smev-data-form-content .applicants + span .select2-selection.select2-selection--single {
        background-color: #e5edfc !important;
    }
</style>

<div class="row justify-content-center g-3">
    <div class="col-10">
        <div class="divider text-start">
            <div class="divider-text fs-5 b-s-16">Детали запроса</div>
        </div>
    </div>
</div>

<div class="row justify-content-center mb-3">
    <div class="col-8">
        <div class="row justify-content-center">
            <div class="col-4">
                <label class="form-label" asp-for="@request.DateStart">Дата, на которую производится расчет задолженности</label>
                <div class="input-group input-group-merge">
                    <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
                    <input asp-for="@request.DateStart" type="text" class="form-control pickadate required" placeholder="Дата">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center g-3">
    <div class="col-10">
        <div class="divider text-start">
            <div class="divider-text fs-5 b-s-16">Данные заявителя</div>
        </div>
    </div>
</div>
<div class="row justify-content-center mb-3">
    <div class="col-8">
        <label class="form-label" asp-for="@request.InsurantType">Тип заявителя</label>
        <select class="form-select select2-nosearch required" asp-for="@request.InsurantType">
            <option value="Fl">Физическое лицо</option>
            <option value="Ul">Юридическое лицо</option>
        </select>
    </div>
</div>

<div class="row justify-content-center mb-3" data-person id="flBlock">
    <div class="col-12">
        <div class="row justify-content-center mb-3">
            <div class="col-8">
                <label class="form-label">Заявители</label>
                <select class="form-select select2-nosearch applicants">
                    <option value="">Выберите заявителя</option>
                    @for (int i = 0; i < applicants.Count; i++)
                    {
                        <option value="@i">@applicants[i].LastName @applicants[i].FirstName @applicants[i].SecondName</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="row mb-1">
            <div class="col-4">
                <label class="form-label" asp-for="@request.FlFio.LastName">Фамилия</label>
                <input type="text" class="form-control required" placeholder="Фамилия" asp-for="@request.FlFio.LastName" />
            </div>
            <div class="col-4">
                <label class="form-label" asp-for="@request.FlFio.FirstName">Имя</label>
                <input type="text" class="form-control required" placeholder="Имя" asp-for="@request.FlFio.FirstName">
            </div>
            <div class="col-4">
                <label class="form-label" asp-for="@request.FlFio.SecondName">Отчество</label>
                <input type="text" class="form-control" placeholder="Отчество" asp-for="@request.FlFio.SecondName">
            </div>
            <div class="col-4">
                <label class="form-label" asp-for="@request.Inn">ИНН</label>
                <input type="text" class="form-control required inn-fl" placeholder="ИНН" asp-for="@request.Inn">
            </div>
        </div>
        <div class="row g-3">
            <div class="col-12 mx-auto">
                <div class="divider text-start">
                    <div class="divider-text fs-5 b-s-16">Документ, удостоверящий личность</div>
                </div>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-12">
                <label class="form-label" asp-for="@request.FlDocCode">Тип документа</label>
                <select class="form-select select2-nosearch required" asp-for="@request.FlDocCode"
                        data-dictionary='{"dictionary":"FnsDocTypes", "default_value":"21"}'>
                </select>
            </div>
        </div>
        <div class="row justify-content-center mb-1">
            <div class="col-4">
                <label class="form-label" asp-for="@request.FlDocSeriesNumber">Серия и номер</label>
                <input type="text" class="form-control required" placeholder="Серия и номер" asp-for="@request.FlDocSeriesNumber">
            </div>
            <div class="col-4">
                <label class="form-label" asp-for="@request.FlDocDateIssue">Дата выдачи</label>
                <div class="input-group input-group-merge">
                    <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
                    <input asp-for="@request.FlDocDateIssue" type="text" class="form-control pickadate required" placeholder="Дата" value="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center mb-3" id="ulBlock" data-disabled>
    <div class="col-8">
        <div class="row mb-1">
            <div class="col-12">
                <label class="form-label" asp-for="@request.UlName">Наименнование организации</label>
                <input type="text" class="form-control required" placeholder="Наименнование организации" asp-for="@request.UlName">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3">
                <label class="form-label" asp-for="@request.UlKpp">КПП</label>
                <input type="text" class="form-control kpp required" placeholder="КПП" asp-for="@request.UlKpp" />
            </div>
            <div class="col-3">
                <label class="form-label" asp-for="@request.Inn">ИНН</label>
                <input type="text" class="form-control required inn-ul" placeholder="ИНН" asp-for="@request.Inn">
            </div>
        </div>
    </div>
</div>

<script>
    function ShowErrorInputs() {
    }

    var applicants = @Json.Serialize(applicants);
    var formContent = document.getElementById("smev-data-form-content"),
        smevForm = {
            init: () => {
                $(formContent).find('.required').each(function() {
                    addValidation($(this));
                });

                $(formContent).find('[data-disabled]').each(function() {
                    visibilityBlock($(this), true, true);
                });

                /* init datepicker */
                $(formContent).find(".pickadate").datepicker({
                    language: "ru",
                    autoclose: true
                });

                let options = { clearIncomplete: true, showMaskOnHover: false };

                /* init inputmask */
                $(formContent).find(".pickadate").inputmask("99.99.9999", options);
                $(formContent).find(".inn-fl").inputmask("9{12}", options);
                $(formContent).find(".kpp").inputmask("9{9}", options);

                $(formContent).find("select.select2-nosearch").each(function() {
                    $(this).select2({
                        dropdownParent: $("#mainModal"),
                        minimumResultsForSearch: Infinity
                    });
                });

                $(formContent).find("select.select2-search").each(function() {
                    $(this).select2({
                        dropdownParent: $("#mainModal")
                    });
                });
                
                $(formContent).find('[name$="InsurantType"]').on('change', function() {
                    let options = { clearIncomplete: true, showMaskOnHover: false };
                    switch ($(this).val()) {
                    case 'Fl':
                        visibilityBlock($('#ulBlock'), true, true);
                        visibilityBlock($('#flBlock'), false, false);
                        $(formContent).find(".inn-fl").inputmask("9{12}", options);
                        break;
                    case 'Ul':
                        visibilityBlock($('#flBlock'), true, true);
                        visibilityBlock($('#ulBlock'), false, false);
                        $(formContent).find(".inn-ul").inputmask("9{10}", options);
                        break;
                    }
                });
            }
        };

    function addValidation($el) {
        SmevDataFormValidation.addField($el.attr('name'),
            {
                validators: {
                    notEmpty: {}
                }
            });
        SmevDataFormValidation.elements[$el.attr('name')] = [$el[0]];
        $el.addClass('required');
    }

    function removeValidation($el) {
        if ($el.attr('name') in SmevDataFormValidation.fields) {
            SmevDataFormValidation.removeField($el.attr('name'));
        }
    }

    function visibilityBlock($block, hide, isDisabled ) {
        switch(hide) {
        case true:
            if ($block.hasClass('accordion')) {
                $block.find('.accordion-body').hide();
            } else {
                $block.hide();
            }
            break;
        case false:
            if ($block.hasClass('accordion')) {
                $block.find('.accordion-body').show();
            } else {
                $block.show();
            }
            break;
        }

        switch (isDisabled) {
        case true:
            $block.find('input, select').each(function() {
                if ($(this).attr('name') in SmevDataFormValidation.fields) {
                    removeValidation($(this));
                }
                $(this).prop('disabled', true);
            });
            break;
        case false:
            $block.find('input, select').each(function() {
                $(this).prop('disabled', false);
                if ($(this).hasClass('required')) {
                    addValidation($(this));
                }
            });
            $block.find('[data-disabled]').each(function () {
                visibilityBlock($(this), true, true);
            });
            break;
        }
    }

    $('select.applicants').each(function() {
        $(this).on('change',
            function() {
                let id = $(this).val();
                let $block = $(this).closest('[data-person]');
                $block.find('[type="text"]').each(function() {
                    $(this).val('');
                });
                if (id) {
                    $block.find('[name$="LastName"]').val(applicants[id].lastName);
                    $block.find('[name$="FirstName"]').val(applicants[id].firstName);
                    $block.find('[name$="SecondName"]').val(applicants[id].secondName);
                    $block.find('[name$="Inn"]').val(applicants[id].inn);

                    $block.find('[name$="FlDocCode"]').val(applicants[id].documentTypeCode.padStart(2, '0')).trigger('change');
                    $block.find('[name$="FlDocSeriesNumber"]').val(`${applicants[id].documentSerial.toUpperCase()} ${applicants[id].documentNumber}`);
                    $block.find('[name$="FlDocDateIssue"]').val(applicants[id].documentIssueDate ? new Date(applicants[id].documentIssueDate).toLocaleDateString() : '');
                }
            });
    });

    (function getDictionaries() {
        let dicts = new Set();
        $('[data-dictionary]').each(function() {
            let $this = $(this);
            let options = $this.data('dictionary');
            if (!dicts.has(options.dictionary)) {
                dicts.add(options.dictionary);
                $.post(`/SmevBase/SmevGetDictionary`,
                    {
                        type: options.dictionary
                    },
                    function(dictionary) {
                        fillSelect(options.dictionary, dictionary);
                    });
            }
        });
    }());

    function fillSelect(dictName, dictionary) {
        $.each($(`[data-dictionary*='"${dictName}"']`),
            function() {
                let $this = $(this);
                let items = dictionary;
                $this.empty();
                if ($this.is('[data-value-value]')) {
                    items.dictionary.forEach(function(item) {
                        $this.append(new Option(item.value, item.value));
                    });
                } else {
                    items.dictionary.forEach(function(item) {
                        $this.append(new Option(item.value, item.key));
                    });
                }

                if (items.defaultKey != null) {
                    $this.val(items.defaultKey).trigger('update');
                    $this.attr('data-def', items.defaultKey);
                } else {
                    let defVal = $this.data('dictionary').default_value;
                    if (defVal) {
                        $this.val(defVal).trigger('update');
                        $this.attr('data-def', defVal);
                    }
                }
            });
    }
</script>