@model ViewModelBuilder
@{
    var items = Model.Model as List<CaseServiceStageDto>;
}


<style>
    #caseStages .head-stage {
        border-bottom: 2px solid #077EFA;
    }

    #caseStages .tbody-item {
        border-bottom: 1px solid #BEBEBE; 
    }

    #caseStages .head-stage td{
        padding-bottom:0.5rem !important;
    }

    
    .text-success {
        color: #1CB92B !important;
    }

    #caseStages table{
        position:relative;
    }

    #caseStages tbody td {
            margin-right: auto;
    }

    #caseStages tr{
       width:100%
    }
</style>
@if (items.Any())
{
   
    <table class="table">
        <thead class="head-stage">
            <tr>
                <td class="m-s-12">Этап</td>
                <td class="m-s-12">Сотрудник</td>
                <td class="m-s-12">Дата</td>
            </tr>
        </thead>
        <tbody class="scroller">
            @foreach (var item in items)
            {
                <tr class="tbody-item">
                    <td>
                        <div class="text-success">@item.Name</div>
                        <div class="r-l-12"><days count="item.Days ?? 0" data-bs-toggle="tooltip" title="Дней на этапе"></days></div>
                    </td>
                    <td>
                        <div class="r-s-12">@item.EmployeeCurrent.Name</div>
                        <div class="r-l-12">@item.EmployeeCurrent.Job</div>
                    </td>
                    <td>
                        <div class="r-s-12" data-bs-toggle="tooltip" title="Дата начала этапа">@item.DateAdd.ToShortDateString()</div>
                        @if (item.DateFact.HasValue)
                        {
                            <div class="r-s-12" data-bs-toggle="tooltip" title="Фактическая дата окончания этапа">
                                @(
                                    item.DateFact?.ToShortDateString() ?? "-"
                                    )
                            </div>
                        }
                        else
                        {
                            <div class="r-s-12" data-bs-toggle="tooltip" title="Регламентная дата окончания этапа">
                                @(
                                    item.DateReg?.ToShortDateString() ?? "-"
                                    )
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody> 
    </table>
}
else
{
    <div class="r-l-12 text-center mt-2">Этапы отсутствуют</div>
}

 