@model ViewModelBuilder
@{
    string Id = ViewContext.RouteData.Values["Id"]?.ToString();
    string navId = "blancs";
} 
<div class="row directory_names" id="content-files">
    <div class="col-2 aside_menu">
        <partial name="Services/Details/_NavLeft" model="navId" />
    </div>
    <div class="col-10 px-4">
        <div class="directory_names-items popup_container" id="navs-tabs-default">

            <div class="row justify-content-between align-items-center">
                <div class="col">
                    @if (Model.IsVisibleDescription)
                    {
                       <div class="b-s-14">@Model.ViewDescription</div>
                    }
                </div>
                @if (User.HasClaim(AccessKeyNames.ReferenceService, AccessKeyValues.Add))
                {
                    <div class="col-md-2 text-md-end directory_search">
                        <button data-btn-params='{"actionType":"@ActionType.Add", "serviceId" : "@Id" }' data-btn-type="add" data-for-table="@Model.TableName" type="button" class="btn btn-primary">
                            <i class="bi bi-plus"></i> Добавить
                        </button>
                    </div>
                }
            </div>
            <div class="table-responsive">
                <table asp-for="Model" asp-access-key-name="@AccessKeyNames.ReferenceService" class="directory_names-items table"></table>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script>
        const $table = $('#@(Model.TableName)'),
            isCanAdd = $table.is('[data-action-add]'),
            isCanEdit = $table.is('[data-action-edit]'),
            isCanRemove = $table.is('[data-action-remove]');

        $(document).ready(function () {
            $table.DataTable({
                sDom: "<'row me-5 pe-1'<'col-sm-12 col-md-8 'f>>" +
                    "<'row'<'col-sm-12'tr>>",
                processing: true,
                serverSide: true,
                filter: true,
                searching: false,
                ajax: {
                    url: $table.data('action-table'),
                    type: "POST",
                    datatype: "json",
                    dataSrc: function (json) {
                        return json.data;
                    }
                },
                initComplete: function () {
                    $('[name="mainDataTable_length"]')
                        .select2({ minimumResultsForSearch: Infinity })
                },
                columnDefs: [
                    {
                        data: "id",
                        targets: 0,
                        title: '',
                        visible: false,
                        orderable: false
                    },
                    {
                        targets: 1,
                        title: 'Процедура',
                        orderable: false
                    },
                    {
                        targets: 2,
                        title: 'Файл',
                        orderable: false
                    },
                    {
                        targets: 3,
                        title: 'Сотрудник',
                        orderable: false
                    },
                    {
                        targets: 4,
                        title: 'Комментарий',
                        orderable: false
                    },
                    {
                        targets: -1,
                        title: 'Действия',
                        data: "id",
                        width: "115px",
                        className: 'text-center editor-edit',
                        sorting: false,
                        orderable: false
                    }
                ],
                columns: [
                    {},
                    {
                        data: "procedureName"
                    },
                    {
                        render: function (data, type, row) {
                            return `<span>${row.fileName}</span>
                                    ${row.fileExpansion === null ? '' : '<br /><small>' + row.fileExpansion + '</small>'}
                                    ${row.fileSize === null ? '' : '<br /><small>' + row.fileSize + ' КБ' + '</small>'}`;
                        }
                    },
                    {
                        data: "employeeFioAdd"
                    },
                    {
                        data: "commentt"
                    },
                    {
                        render: function (data, type, row) {
                            let content = "";
                            content += DownloadBtn(data);
                            if (row.sServicesId != null) {
                                if (isCanEdit === true)
                                    content += EditBtn({ "id": data, "actionType": 1, "serviceId": "@Id" });
                                if (isCanRemove === true)
                                    content += DeleteBtn({ "id": data });
                            }
                            return content;
                        }
                    }
                ]
            });
            $table.on("reload", () => {
                $table.DataTable().ajax.reload(null, false);
            });
        });

        $table.on('draw.dt', function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl, {
                    boundary: document.body
                });
            });
        });

        const DownloadBtn = (data) => {
            return `<a href="/Reference/ServiceBlancDownload?id=${data}" target="_blank" data-btn-type="download" data-bs-toggle="tooltip" title="Скачать" class="btn btn-sm btn-icon text-success">
                    <i class="bi bi-download"></i></a>`;
        }

        const EditBtn = (data) => {
            const params = JSON.stringify(data);
            return `<a href="javascript:void(0);" data-btn-params='${params}' data-btn-type="edit" data-bs-toggle="tooltip" title="Изменить" class="btn btn-sm btn-icon text-body">
                    <i class="bi bi-pencil-square"></i></a>`;
        }

        const DeleteBtn = (data) => {
            const params = JSON.stringify(data);
            return `<a href="javascript:void(0);" data-btn-params='${params}' data-btn-type="remove" data-bs-toggle="tooltip" title="Удалить" class="btn btn-sm btn-icon text-danger">
                    <i class="bi bi-trash"></i></a>`;
        }
    </script>
}