@using AisLogistics.App.Models.Enums
@model AisLogistics.App.Models.DTO.Notifications.EmployeeNotificationDto
@{
    var notificationsDetails = new Dictionary<NotificationType, (string Title, string Description)>()
    {
        { NotificationType.NewCase, new ("Обращение","У Вас новое обращение") },
        { NotificationType.NewComment, new ("Комментарий","У Вас новый комментарий") },
        { NotificationType.SmevRequest, new ("СМЭВ", "Поступил ответ СМЭВ") }
    };

    var count = Model.NewServicesAlert.Count + Model.NewServicesAlert.Count + Model.SmevResponseAlert.Count;
}

<style>
    .fs-14 {
        font-size: 14px;
    }

    .fs-12 {
       font-size: 12px;
    }

    .list-group-item-notification {
        border: none !important;
    }

</style>

<div class="col-sm-1 col-1 header_notification">
    <a class="dropdown-toggle hidden-arrow menu-text"
       href="javascript:void(0);"
       data-bs-toggle="dropdown"
       data-bs-auto-close="outside"
       aria-expanded="false">
        <i class="bx bx-bell bx-sm"></i>
        @if (count > 0)
        {
            <span class="badge rounded-pill badge-notification bg-danger">@count</span>

        }
    </a>
    <ul class="dropdown-menu dropdown-menu-end pt-0" aria-labelledby="dropdownMenuNotification">

        <li class="dropdown-header d-flex align-items-center justify-content-between p-3">
            <h5 class="fw-bold mb-0">Уведомления</h5>
            <a href="" class="dropdown-notifications-all text-muted fs-12" data-bs-toggle="tooltip" data-bs-placement="top" title="Удалить все">
                <i class="bi bi-trash bi-sm"></i>
                Очистить
            </a>
        </li>

        <li class="dropdown-notifications-list ">
            <ul class="list-group list-group-flush px-3 pb-3">
                @if (count > 0)
                {
                    foreach (var item in Model.SmevResponseAlert)
                    {
                        <li class="list-group-item list-group-item-notification marked-as-read bg-light mt-3" data-notification="@item.Id">
                            <div class="row m-0">
                                <div class="col-11 p-0 my-auto">
                                    <div class="d-flex justify-content-start align-items-center">
                                        <i class="bi bi-globe text-muted"></i>
                                        <p class="mb-0  ms-2 text-muted fs-14">@notificationsDetails[NotificationType.SmevRequest].Title</p>
                                    </div>
                                </div>
                                <div class="dropdown-notifications-actions col-1 p-0 my-auto">
                                    <a href="javascript:void(0)" class="dropdown-notifications-archive fs-12 text-muted" data-bs-toggle="tooltip" title="Удалить">
                                        <i class="bi bi-x fs-5"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-12 p-0">
                                    <p class="mb-0 fs-14"><strong>@notificationsDetails[NotificationType.SmevRequest].Description</strong></p>
                                    <span class="d-block fs-12">@item.ApplicantName</span>
                                    <span class="d-block fs-12">Запрос: @item.SmevName</span>
                                    <div class="d-flex justify-content-between align-items-center fs-14">
                                        <div>
                                            <a asp-controller="Cases" asp-action="Details" asp-route-id="@item.CaseId">@item.CaseId</a>
                                        </div>
                                        <small class="text-muted fs-12" data-bs-toggle="tooltip" title="@item.DateSmevResponse" data-timeago="@item.DateSmevResponse"></small>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }


                    foreach (var item in Model.NewServicesAlert)
                    {
                        <li class="list-group-item list-group-item-notification marked-as-read bg-light mt-3" data-notification="@item.Id">
                            <div class="row m-0">
                                <div class="col-11 p-0 my-auto">
                                    <div class="d-flex justify-content-start align-items-center">
                                        <i class="bi bi-globe text-muted"></i>
                                        <p class="mb-0  ms-2 text-muted fs-14">@notificationsDetails[NotificationType.NewCase].Title</p>
                                    </div>
                                </div>
                                <div class="dropdown-notifications-actions col-1 p-0 my-auto">
                                    <a href="javascript:void(0)" class="dropdown-notifications-archive fs-12 text-muted" data-bs-toggle="tooltip" title="Удалить">
                                        <i class="bi bi-x fs-5"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-12 p-0">
                                    <p class="mb-0 fs-14"><strong>@notificationsDetails[NotificationType.NewCase].Description</strong></p>
                                    <span class="d-block fs-12">@item.ApplicantName</span>
                                    <span class="d-block fs-12">Услуга: @item.ServicesName</span>
                                    <div class="d-flex justify-content-between align-items-center fs-14">
                                        <div>
                                            <a asp-controller="Cases" asp-action="Details" asp-route-id="@item.CaseId">@item.CaseId</a>
                                        </div>
                                        <small class="text-muted fs-12" data-bs-toggle="tooltip" title="@item.DateAddStage" data-timeago="@item.DateAddStage"></small>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                    foreach (var item in Model.CommentsAlert)
                    {
                        <li class="list-group-item list-group-item-notification marked-as-read bg-light mt-3" data-notification="@item.Id">
                            <div class="row m-0">
                                <div class="col-11 p-0 my-auto">
                                    <div class="d-flex justify-content-start align-items-center">
                                        <i class="bi bi-globe text-muted"></i>
                                        <p class="mb-0  ms-2 text-muted fs-14">@notificationsDetails[NotificationType.NewComment].Title</p>
                                    </div>
                                </div>
                                <div class="dropdown-notifications-actions col-1 p-0 my-auto">
                                    <a href="javascript:void(0)" class="dropdown-notifications-archive fs-12 text-muted" data-bs-toggle="tooltip" title="Удалить">
                                        <i class="bi bi-x fs-5"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-12 p-0">
                                    <p class="mb-0 fs-14"><strong>@notificationsDetails[NotificationType.NewComment].Description</strong></p>
                                    <span class="d-block fs-12">@item.ApplicantName</span>
                                    <span class="d-block fs-12">Примечание: @item.TextComment</span>
                                    <div class="d-flex justify-content-between align-items-center fs-14">
                                        <div>
                                            <a asp-controller="Cases" asp-action="Details" asp-route-id="@item.CaseId">@item.CaseId</a>
                                        </div>
                                        <small class="text-muted fs-12" data-bs-toggle="tooltip" title="@item.DateAddComment" data-timeago="@item.DateAddComment"></small>
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                }
                else
                {
                    <li>
                        <p class="small text-muted py-5 mb-0 text-center">Нет новых уведомлений.</p>
                    </li>
                }
            </ul>
        </li>
    </ul>
</div>
<script src="~/assets/vendor/libs/jquery/jquery.js"></script>
<script src="~/assets/js/pages/notifications-details.js"></script>